// Main site items

body, h1, h2, h3, h4, h5, h6 { line-height: 1.25;}
body{ font-size: 10pt; }
h1 { font-size: 36pt; }
h2 { font-size: 24pt; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
blockquote {
  font-size: 24px;
  line-height: 1.45833333;
}

