{layout="layouts/home"}

{if logged_in}{redirect="profile"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="1"}
{!-- END pagetext entry_id --}

{!-- Next Page Link --}
{layout:set name="next_page" value="/register"}
{!-- END Next Page Link --}

{!-- Login Form --}
{exp:member:login_form
  return="profile/index"
  form_class="validate embedded-labels"
}
  <h2 class="form-head extend-outside">Log In</h2>
  <fieldset>
    <div class="group pulse-on-focus embedded-label">
      <label for="username">Email</label>
      <input type="text" name="username" id="username" class="validate[required]">
    </div>
    <div class="group pulse-on-focus embedded-label">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="validate[required]">
    </div>
{if auto_login}
    <div class="group pulse-on-focus checkbox">
      <input type="checkbox" name="auto_login" id="auto_login" value="1" {checked}>
      <label class="checkbox" for="auto_login">Remember Me</label>
    </div>
{/if}
  </fieldset>
  <div class="group button-box no-margin">
      <button type="submit" class="button white small">Log In</button>
  </div>
{/exp:member:login_form}

<p><a href="{path=account/password-forgot}">Reset Your Password</a>
{!-- END Login Form --}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}