/* line 3, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
body, h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

/* line 4, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
body {
  font-size: 10pt;
}

/* line 5, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
h1 {
  font-size: 36pt;
}

/* line 6, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
h2 {
  font-size: 24pt;
}

/* line 7, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
h3 {
  font-size: 18px;
}

/* line 8, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
h4 {
  font-size: 14px;
}

/* line 9, /Users/brandon/Sites/studentathleteworldtours/sass/pdf.scss */
blockquote {
  font-size: 24px;
  line-height: 1.45833333;
}

p span{
  font-weight: bold;
  font-size: 12px;
}