{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="218"}
{!-- END pagetext entry_id --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{!-- CHANNEL FORM grid type --}
{exp:channel:form
  channel="letters"
  class="validate custom-fields letters"
  entry_id="{segment_3}"
  include_jquery="no"
  return="letters/thank-you"
  show_fields="letters_upload_1|letters_upload_2|letters_upload_3|letters_paste_area"
  error_handling="inline"
}

  <input name="title"     type="hidden" value="{title}">
  <input name="url_title" type="hidden" value="{url_title}">
  
<fieldset>
  <h3 class="de-style">{instructions:letters_upload_1}</h3>
{!-- Letters Upload 1 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_1_directory" value="5">
    <input type="hidden" name="letters_upload_1_hidden_file" value="{letters_upload_1}">
    <input type="file" id="letters_upload_1" name="letters_upload_1" class="inputfile" autocomplete="off" {if letters_upload_1}disabled{/if}>
    <label for="letters_upload_1" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #1</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 1 --}

{!-- Letters Upload 2 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_2_directory" value="5">
    <input type="hidden" name="letters_upload_2_hidden_file" value="{letters_upload_2}">
    <input type="file" id="letters_upload_2" name="letters_upload_2" class="inputfile" autocomplete="off" {if letters_upload_2}disabled{/if}>
    <label for="letters_upload_2" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #2</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 2 --}

{!-- Letters Upload 3 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_3_directory" value="5">
    <input type="hidden" name="letters_upload_3_hidden_file" value="{letters_upload_3}">
    <input type="file" id="letters_upload_3" name="letters_upload_3" class="inputfile" autocomplete="off" {if letters_upload_3}disabled{/if}>
    <label for="letters_upload_3" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #3</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 3 --}
</fieldset>
<br>
{custom_fields}
{if grid}
  <h3 class="de-style">{field_instructions}</h3>
  <div class="group">
    {display_field}
  </div>
{/if}
{/custom_fields}

    <div class="group button-box no-margin">
        <button type="submit" class="button small">Upload Letters</button>
    </div>
{/exp:channel:form}

{layout:set name="custom_script"}
<script type="text/javascript">
$(document).ready(function() {
  'use strict';
  var form   = $('#cform');
  sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');
  sawtoursDash.showUploadProgress(form, '/letters/thank-you', 'textarea[name*="col_id_8"], input[type="file"], input[name*="_hidden_file"]');
});
</script>
{/layout:set}
