{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="8"}
{!-- END pagetext entry_id --}

{!-- Progress Bar --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="letters|videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="2"
  status="not closed"
}
  {if total_results == 2}
    {redirect="phone-assessment"}
  {/if}
  {if total_results == 1}
    {if channel_short_name == 'letters'}
      {redirect="videos"}
    {/if}
    {!-- {if channel_short_name == 'videos'}
      {redirect="videos/view/{entry_id}"}
    {/if} --}
  {/if}
{/exp:channel:entries}

{!-- CHANNEL FORM grid type --}
{exp:channel:form
  channel="letters"
  class="validate custom-fields letters"
  author="CURRENT_USER"
  status="open"
  return="letters/thank-you"
  show_fields="letters_upload_1|letters_upload_2|letters_upload_3|letters_paste_area"
  error_handling="inline"
}
  <input name="title"     type="hidden" value="{username} - letters - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="letters-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="open">

<fieldset>
  <h3>{instructions:letters_upload_1}</h3>
{!-- Letters Upload 1 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_1_directory" value="5">
    <input type="file" id="letters_upload_1" name="letters_upload_1" class="inputfile" autocomplete="off">
    <label for="letters_upload_1" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #1</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 1 --}

{!-- Letters Upload 2 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_2_directory" value="5">
    <input type="file" id="letters_upload_2" name="letters_upload_2" class="inputfile" autocomplete="off">
    <label for="letters_upload_2" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #2</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 2 --}

{!-- Letters Upload 3 --}
  <div class="group pulse-on-focus file">
    <input type="hidden" name="letters_upload_3_directory" value="5">
    <input type="file" id="letters_upload_3" name="letters_upload_3" class="inputfile" autocomplete="off">
    <label for="letters_upload_3" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Letter #3</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>
{!-- END Letters Upload 3 --}
</fieldset>
<br>
{custom_fields}
{if grid}
  <h3>{field_instructions}</h3>
  <div class="group">
    {!-- <label for="{field_name}">{if required}* {/if}{field_label}{if error}<span class="error">{error}</span>{/if}</label> --}
    {!-- {formatting_buttons} --}
    {display_field}
  </div>
{/if}
{/custom_fields}

    <div class="group button-box no-margin">
        <button type="submit" class="button small">Upload Letters</button>
    </div>

{/exp:channel:form}

{layout:set name="custom_script"}
<script type="text/javascript">
//hat-tip: http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
$(document).ready(function() {
  'use strict';
  var form   = $('#cform');
  sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');
  sawtoursDash.showUploadProgress(form, '/letters/thank-you', 'textarea[name*="col_id_8"], input[type="file"]');
});
</script>
{/layout:set}
