{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="218"}
{!-- END pagetext entry_id --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{!-- CHANNEL FORM grid type --}
{exp:channel:entries
  channel="letters"
  entry_id="{segment_3}"
}
    <div class="group button-box no-margin">
        <a href="/letters/edit/{entry_id}" class="button small">Edit Letters</a>
    </div>

{if letters_upload_1 OR letters_upload_2 OR letters_upload_3}
<h3>Uploaded Letters</h3>
<ul>
  {if letters_upload_1}<li><a href="{letters_upload_1}">{letters_upload_1}</a></li>{/if}
  {if letters_upload_2}<li><a href="{letters_upload_2}">{letters_upload_2}</a></li>{/if}
  {if letters_upload_3}<li><a href="{letters_upload_3}">{letters_upload_3}</a></li>{/if}
</ul>
{/if}

{letters_paste_area}
{if letters_paste_area:paste_area != ''}
<h3>Pasted Letter {if letters_paste_area:count > 1}#{letters_paste_area:count}{/if}</h3>
<div>{letters_paste_area:paste_area}</div>
{/if}
{/letters_paste_area}
{/exp:channel:entries}

{!-- Next Page Link --}
{exp:channel:entries
  channel="videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="1"
  dynamic="no"
}
    <div class="bottom-button-wrapper headroom"><a href="/phone-assessment" class="button bottom-button" data-button-style="Next">Phone Assessment</a></div>
{if no_results}
    <div class="bottom-button-wrapper headroom"><a href="/videos" class="button bottom-button" data-button-style="Next">Upload Videos</a></div>
{/if}
{/exp:channel:entries}
