{exp:user:users
    orderby="screen_name"
    sort="asc"
}
    {if user_no_results}
        <div class="alert alert-warning" role="alert">
            <p>Sorry, no members were found.</p>
        </div>
    {/if}

    <div class="member-{user_member_id} count-{count}">
        <div class="avatar_filename"><b>avatar_filename:</b> <span>{avatar_filename}</span></div>
        <div class="avatar_height"><b>avatar_height:</b> <span>{avatar_height}</span></div>
        <div class="avatar_url"><b>avatar_url:</b> <span>{avatar_url}</span></div>
        <div class="avatar_width"><b>avatar_width:</b> <span>{avatar_width}</span></div>
        <div class="daylight_savings"><b>daylight_savings:</b> <span>{daylight_savings}</span></div>
        <div class="email"><b>email:</b> <span>{email}</span></div>
        <div class="group_id"><b>group_id:</b> <span>{group_id}</span></div>
        <div class="group_title"><b>group_title:</b> <span>{group_title}</span></div>
        <div class="ip_address"><b>ip_address:</b> <span>{ip_address}</span></div>
        <div class="join_date"><b>join_date:</b> <span>{join_date}</span></div>
        <div class="last_activity"><b>last_activity:</b> <span>{last_activity}</span></div>
        <div class="last_bulletin_date"><b>last_bulletin_date:</b> <span>{last_bulletin_date}</span></div>
        <div class="last_comment_date"><b>last_comment_date:</b> <span>{last_comment_date}</span></div>
        <div class="last_email_date"><b>last_email_date:</b> <span>{last_email_date}</span></div>
        <div class="last_entry_date"><b>last_entry_date:</b> <span>{last_entry_date}</span></div>
        <div class="last_forum_post_date"><b>last_forum_post_date:</b> <span>{last_forum_post_date}</span></div>
        <div class="last_rating_date"><b>last_rating_date:</b> <span>{last_rating_date}</span></div>
        <div class="last_view_bulletins"><b>last_view_bulletins:</b> <span>{last_view_bulletins}</span></div>
        <div class="last_visit"><b>last_visit:</b> <span>{last_visit}</span></div>
        <div class="member_id"><b>member_id:</b> <span>{member_id}</span></div>
        <div class="user_member_id"><b>user_member_id:</b> <span>{user_member_id}</span></div>
        <div class="private_messages"><b>private_messages:</b> <span>{private_messages}</span></div>
        <div class="profile_views"><b>profile_views:</b> <span>{profile_views}</span></div>
        <div class="role_total"><b>role_total:</b> <span>{role_total}</span></div>
        <div class="member_role_total"><b>member_role_total:</b> <span>{member_role_total}</span></div>
        <div class="group_role_total"><b>group_role_total:</b> <span>{group_role_total}</span></div>
        <div class="screen_name"><b>screen_name:</b> <span>{screen_name}</span></div>
        <div class="signature"><b>signature:</b> <span>{signature}</span></div>
        <div class="timezone"><b>timezone:</b> <span>{timezone}</span></div>
        <div class="time_format"><b>time_format:</b> <span>{time_format}</span></div>
        <div class="total_combined_posts"><b>total_combined_posts:</b> <span>{total_combined_posts}</span></div>
        <div class="total_comments"><b>total_comments:</b> <span>{total_comments}</span></div>
        <div class="total_entries"><b>total_entries:</b> <span>{total_entries}</span></div>
        <div class="total_forum_posts"><b>total_forum_posts:</b> <span>{total_forum_posts}</span></div>
        <div class="total_forum_replies"><b>total_forum_replies:</b> <span>{total_forum_replies}</span></div>
        <div class="total_forum_topics"><b>total_forum_topics:</b> <span>{total_forum_topics}</span></div>
        <div class="total_ratings"><b>total_ratings:</b> <span>{total_ratings}</span></div>
        <div class="username"><b>username:</b> <span>{username}</span></div>
        <div class="count"><b>count:</b> <span>{count}</span></div>
        <div class="total_results"><b>total_results:</b> <span>{total_results}</span></div>
        <div class="birthday"><b>birthday:</b> <span>{birthday format="%M %d, %Y"}</span></div>
    </div>
    <hr>
{/exp:user:users}

<h2>Users Ordered by Last Name</h2>
<div id="orderby_last_name">
{exp:user:users
    group_id="NOT 1"
    orderby="last_name"
    sort="asc"
}
 {if user_no_results}
        <div class="alert alert-warning" role="alert">
            <p>Sorry, no members were found.</p>
        </div>
    {/if}

    <div class="member-{user_member_id} count-{count}">
        <div class="avatar_filename"><b>avatar_filename:</b> <span>{avatar_filename}</span></div>
        <div class="avatar_height"><b>avatar_height:</b> <span>{avatar_height}</span></div>
        <div class="avatar_url"><b>avatar_url:</b> <span>{avatar_url}</span></div>
        <div class="avatar_width"><b>avatar_width:</b> <span>{avatar_width}</span></div>
        <div class="daylight_savings"><b>daylight_savings:</b> <span>{daylight_savings}</span></div>
        <div class="email"><b>email:</b> <span>{email}</span></div>
        <div class="group_id"><b>group_id:</b> <span>{group_id}</span></div>
        <div class="group_title"><b>group_title:</b> <span>{group_title}</span></div>
        <div class="ip_address"><b>ip_address:</b> <span>{ip_address}</span></div>
        <div class="join_date"><b>join_date:</b> <span>{join_date}</span></div>
        <div class="last_activity"><b>last_activity:</b> <span>{last_activity}</span></div>
        <div class="last_bulletin_date"><b>last_bulletin_date:</b> <span>{last_bulletin_date}</span></div>
        <div class="last_comment_date"><b>last_comment_date:</b> <span>{last_comment_date}</span></div>
        <div class="last_email_date"><b>last_email_date:</b> <span>{last_email_date}</span></div>
        <div class="last_entry_date"><b>last_entry_date:</b> <span>{last_entry_date}</span></div>
        <div class="last_forum_post_date"><b>last_forum_post_date:</b> <span>{last_forum_post_date}</span></div>
        <div class="last_rating_date"><b>last_rating_date:</b> <span>{last_rating_date}</span></div>
        <div class="last_view_bulletins"><b>last_view_bulletins:</b> <span>{last_view_bulletins}</span></div>
        <div class="last_visit"><b>last_visit:</b> <span>{last_visit}</span></div>
        <div class="member_id"><b>member_id:</b> <span>{member_id}</span></div>
        <div class="user_member_id"><b>user_member_id:</b> <span>{user_member_id}</span></div>
        <div class="private_messages"><b>private_messages:</b> <span>{private_messages}</span></div>
        <div class="profile_views"><b>profile_views:</b> <span>{profile_views}</span></div>
        <div class="role_total"><b>role_total:</b> <span>{role_total}</span></div>
        <div class="member_role_total"><b>member_role_total:</b> <span>{member_role_total}</span></div>
        <div class="group_role_total"><b>group_role_total:</b> <span>{group_role_total}</span></div>
        <div class="screen_name"><b>screen_name:</b> <span>{screen_name}</span></div>
        <div class="signature"><b>signature:</b> <span>{signature}</span></div>
        <div class="timezone"><b>timezone:</b> <span>{timezone}</span></div>
        <div class="time_format"><b>time_format:</b> <span>{time_format}</span></div>
        <div class="total_combined_posts"><b>total_combined_posts:</b> <span>{total_combined_posts}</span></div>
        <div class="total_comments"><b>total_comments:</b> <span>{total_comments}</span></div>
        <div class="total_entries"><b>total_entries:</b> <span>{total_entries}</span></div>
        <div class="total_forum_posts"><b>total_forum_posts:</b> <span>{total_forum_posts}</span></div>
        <div class="total_forum_replies"><b>total_forum_replies:</b> <span>{total_forum_replies}</span></div>
        <div class="total_forum_topics"><b>total_forum_topics:</b> <span>{total_forum_topics}</span></div>
        <div class="total_ratings"><b>total_ratings:</b> <span>{total_ratings}</span></div>
        <div class="username"><b>username:</b> <span>{username}</span></div>
        <div class="count"><b>count:</b> <span>{count}</span></div>
        <div class="total_results"><b>total_results:</b> <span>{total_results}</span></div>
        <div class="birthday"><b>birthday:</b> <span>{birthday format="%M %d, %Y"}</span></div>
    </div>
    <hr>
{/exp:user:users}
</div>