<h1>Test: Related Authors</h1>

<ul id="authorList">
{exp:user:authors
    entry_id="1"
    dynamic="no"
}
    <li {if primary == 'y'} class="primary"{/if}>
        <div class="member-{member_id} count-{count}">
            <div class="avatar_filename"><b>avatar_filename:</b> <span>{avatar_filename}</span></div>
            <div class="avatar_height"><b>avatar_height:</b> <span>{avatar_height}</span></div>
            <div class="avatar_url"><b>avatar_url:</b> <span>{avatar_url}</span></div>
            <div class="avatar_width"><b>avatar_width:</b> <span>{avatar_width}</span></div>
            <div class="daylight_savings"><b>daylight_savings:</b> <span>{daylight_savings}</span></div>
            <div class="email"><b>email:</b> <span>{email}</span></div>
            <div class="group_id"><b>group_id:</b> <span>{group_id}</span></div>
            <div class="group_title"><b>group_title:</b> <span>{group_title}</span></div>
            <div class="ip_address"><b>ip_address:</b> <span>{ip_address}</span></div>
            <div class="join_date"><b>join_date:</b> <span>{join_date}</span></div>
            <div class="last_activity"><b>last_activity:</b> <span>{last_activity}</span></div>
            <div class="last_bulletin_date"><b>last_bulletin_date:</b> <span>{last_bulletin_date}</span></div>
            <div class="last_comment_date"><b>last_comment_date:</b> <span>{last_comment_date}</span></div>
            <div class="last_email_date"><b>last_email_date:</b> <span>{last_email_date}</span></div>
            <div class="last_entry_date"><b>last_entry_date:</b> <span>{last_entry_date}</span></div>
            <div class="last_forum_post_date"><b>last_forum_post_date:</b> <span>{last_forum_post_date}</span></div>
            <div class="last_rating_date"><b>last_rating_date:</b> <span>{last_rating_date}</span></div>
            <div class="last_view_bulletins"><b>last_view_bulletins:</b> <span>{last_view_bulletins}</span></div>
            <div class="last_visit"><b>last_visit:</b> <span>{last_visit}</span></div>
            <div class="member_id"><b>member_id:</b> <span>{member_id}</span></div>
            <div class="private_messages"><b>private_messages:</b> <span>{private_messages}</span></div>
            <div class="profile_views"><b>profile_views:</b> <span>{profile_views}</span></div>
            <div class="role_total"><b>role_total:</b> <span>{role_total}</span></div>
            <div class="member_role_total"><b>member_role_total:</b> <span>{member_role_total}</span></div>
            <div class="group_role_total"><b>group_role_total:</b> <span>{group_role_total}</span></div>
            <div class="screen_name"><b>screen_name:</b> <span>{screen_name}</span></div>
            <div class="signature"><b>signature:</b> <span>{signature}</span></div>
            <div class="timezone"><b>timezone:</b> <span>{timezone}</span></div>
            <div class="time_format"><b>time_format:</b> <span>{time_format}</span></div>
            <div class="total_combined_posts"><b>total_combined_posts:</b> <span>{total_combined_posts}</span></div>
            <div class="total_comments"><b>total_comments:</b> <span>{total_comments}</span></div>
            <div class="total_entries"><b>total_entries:</b> <span>{total_entries}</span></div>
            <div class="total_forum_posts"><b>total_forum_posts:</b> <span>{total_forum_posts}</span></div>
            <div class="total_forum_replies"><b>total_forum_replies:</b> <span>{total_forum_replies}</span></div>
            <div class="total_forum_topics"><b>total_forum_topics:</b> <span>{total_forum_topics}</span></div>
            <div class="total_ratings"><b>total_ratings:</b> <span>{total_ratings}</span></div>
            <div class="username"><b>username:</b> <span>{username}</span></div>
            <div class="count"><b>count:</b> <span>{count}</span></div>
            <div class="total_results"><b>total_results:</b> <span>{total_results}</span></div>
            <div class="birthday"><b>birthday:</b> <span>{birthday format="%M %d, %Y"}</span></div>
        </div>
    </li>
{/exp:user:authors}
</ul>

<h2>Channel Form: Single Author</h2>

{if segment_3 == 'success'}
    <div id="success">Success!</div>
{/if}

<div id="single_author">
{exp:channel:form
    channel="user_channel" {!-- update to a valid channel on your site --}
    return="user_main/test_related_authors/success"
    user_allow_multiple="no"
}
    <div class="form-group">
        <label for="single_title">Title</label>
        <input type="text" name="title" id="single_title" class="form-control" placeholder="Enter title here" maxlength="100" value="{title}" />
    </div>
    <div class="form-group">
        <label for="single_url_title">URL Title</label>
        <input type="text" name="url_title" id="single_url_title" value="{url_title}" maxlength="75" />
    </div>
    <div class="form-group">
        <label for="related_authors">Related Authors</label>
        {field:user_field}
    </div>
    <button type="submit" class="btn btn-md btn-success">Publish</button>
{/exp:channel:form}
</div>

<div id="multiple_authors">
<h2>Channel Form: Multiple Authors</h2>

{if segment_3 == 'success_multiple'}
    <div id="success_multiple">Success!</div>
{/if}

{exp:channel:form
    channel="user_channel" {!-- update to a valid channel on your site --}
    return="user_main/test_related_authors/success_multiple"
}
    <div class="form-group">
        <label for="multiple_title">Title</label>
        <input type="text" name="title" id="multiple_title" class="form-control" placeholder="Enter title here" maxlength="100" value="{title}" />
    </div>
    <div class="form-group">
        <label for="multiple_url_title">URL Title</label>
        <input type="text" name="url_title" id="multiple_url_title" value="{url_title}" maxlength="75" />
    </div>
    <div class="form-group">
        <label for="related_authors">Related Authors</label>
        {field:user_field}
    </div>
    <button type="submit" class="btn btn-md btn-success">Publish</button>
{/exp:channel:form}
</div>
