{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  status="not whocares?"
  author_id="{embed:author_id}"
  limit="999999"
}
    <tr>
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);">{profile_last_name}<br>
       <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_first_name}<br> <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_phone}</td>
{exp:member:custom_profile_data member_id="{author_id}"}
      <td><a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></td>
      <td>{last_visit format="%m/%d/%Y"}</td>
{/exp:member:custom_profile_data}
      <td>{embed="dashboard/_member-progress" author_id="{author_id}"}</td>
      <td>
        {if profile_parent_1_name}<h5 class="no-legroom more-less-headroom">Parents</h5>{/if}
        <p>
          {profile_parent_1_name}{if profile_parent_1_email}<br>
          <a href="mailto:{profile_parent_1_email}">{profile_parent_1_email}</a>{/if}<br>
          {profile_parent_1_phone}
          {if profile_parent_2_name}<br>{/if}
          {profile_parent_2_name}{if profile_parent_2_email}<br>
          <a href="mailto:{profile_parent_2_email}">{profile_parent_2_email}</a>{/if}<br>
          {profile_parent_2_phone}</p>
        {if profile_coach_email}<h5 class="no-legroom more-less-headroom">Coach</h5>
          <p><a href="mailto:{profile_coach_email}">{profile_coach_email}</a></p>
        {/if}
        
      </td>
      <td class="action blue"><a href="{url_title_path=dashboard/profile}" title="View Profile">View Profile</a></td>

    </tr>
{/exp:channel:entries}