{exp:channel:form
  channel="interview"
  class="custom-fields"
  include_jquery="no"
  logged_out_member_id="{embed:author_id}"
  return="{segment_1}/{segment_2}/{segment_3}#interview"
  show_fields="interview_trips"
}
  <input name="title" type="hidden" value="{embed:entry_title}">
{custom_fields}
{if relationships}
  {if allow_multiple}
<h3 class="de-style">Trips</h3>
<div class="group pulse-on-focus checkbox">
  Choose Trips that may be appropriate for this athlete.
  <ul class="reset">
    {options}
      <li class="inlinify">
        <input type="checkbox" name="{field_name}[data][]" id="{option_value}" value="{option_value}"{checked}>
        <label class="checkbox" for="{option_value}">{option_name}</label>&emsp;&emsp;&emsp;&emsp;
      </li>
    {/options}
  </ul>
</div>
  {/if}
{/if}
{/custom_fields}
<button type="submit" class="submit button" href="#" onclick="submitform()">Set Trip Suggestions</button>




{/exp:channel:form}
{exp:channel:form
  id="form2"
  channel="profile"
  status="not curplooped"
  class="custom-fields"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="/{segment_1}/{segment_2}/{segment_3}"
  entry_id="{embed:profile_entry}"
  show_fields="profile_notes"
}
  <input type="hidden" name="status" value="not-interviewed">
  <input type="checkbox" id="status" name="status" value="interviewed" {if '{status}' == 'interviewed'}checked{/if}><label for="status">Remove Student Athlete from Not Interviewed List</label>
  <button type="submit" class="submit button" href="#" onclick="submitform()">Update Status</button>
{/exp:channel:form}