{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|interviewed"
  limit="1"
}
{!-- NO RESULTS (interview entry has not been created by admin yet) --}
{if no_results}

{!-- Student Has Times chosen (first time) --}
{if embed:has_times != ''}
<td class="action blue">
  <a class="{embed:class}"
    href="{path=dashboard/schedule-interview}/{embed:author_id}/-/{embed='dashboard/_member-profile-any-tag' author_id='{embed:author_id}' tag_name='url_title'}">
    <strong>READY TO SCHEDULE INTERVIEW!</strong>
  </a>
</td>
{/if}
{!-- END Student Has Times chosen (first time) --}

{!-- Incomplete (Student has No times chosen—first time) --}
{if embed:has_times == ''}
<td class="action blue">
  <a class="{embed:class}">{if embed:profile_page}Interview {/if}Incomplete</a>
</td>
{/if}
{!-- END Incomplete (No times chosen—first time) --}

{/if}
{!-- END NO RESULTS (interview entry has not been created by admin yet) --}

{!-- Interview Scheduled --}
{if status == 'open'}
  {if interview_time != 'no good'}
<td class="action blue">
  <a class="{embed:class} green" title="Interview Scheduled for {interview_time}" 
    href="{embed:profile_link}">
    <strong>Interview Scheduled<br>{interview_time}</strong>
  </a>
  <a class="{embed:class} blockify"
    href="/dashboard/interview-reschedule/{author_id}/{url_title}/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}">
    <i>Reschedule Interview</i>
  </a>
</td>
  {/if}
  {if interview_time == 'no good'}
<td class="action blue">
  <a class="{embed:class}">{if embed:profile_page}Interview {/if}Reschedule Incomplete</a>
</td>
  {/if}
{/if}
{!-- END Interview Scheduled --}

{!-- Interview Reschedule --}
{if status == 'reschedule'}
<td class="action blue">
  {if interview_time == ''}
  <a class="{embed:class}" href="/dashboard/interview-reschedule/{author_id}/{url_title}/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}"><strong>READY TO RESCHEDULE INTERVIEW!</strong></a>
  {/if}
  {if interview_time == 'no good'}
  <a class="{embed:class}"
    href="/dashboard/interview-reschedule/{author_id}/{url_title}/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}">
    {if embed:profile_page}Interview {/if}Reschedule Incomplete</a>
  {/if}
</td>
{/if}
{!-- END Interview Reschedule --}

{!-- Complete! --}
{if status == 'interviewed'}
<td class="action blue">
  <a class="{embed:class}"><strong>INTERVIEWED!</strong></a>
</td>
{/if}
{!-- END Complete! --}

{/exp:channel:entries}
