{!-- Price Calc --}
<?php
  $guestCount = 0;
  $guestKeepCount = 0;
  $guestKeepCharge = 0;
  $guestAddOnRow = '';
  $guestAddOnCharge = 0;
  $addOnRow = '';
?>
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="not closed"
}
{if channel_short_name == 'guest_athletes'}
  {if "{guest_uniform_keep}" == "Keep"}
<?php
  $guestKeepCount += 1;
?>
  {/if}
{/if}
{if guest_add_ons != ''}
<?php
  $guestAddOnJSON = '{guest_add_ons}';
  $guestAddOn     = json_decode($guestAddOnJSON);

  foreach($guestAddOn as $gaoitem => $gaoprice) {
    $guestAddOnRow .= '<tr><td>{guest_first_name}\'s ' . $gaoitem . '</td><td>$' . $gaoprice . '</td></tr>';
    $guestAddOnCharge += $gaoprice;
  }

?>
{/if}
{if count == total_results}
<?php
  $guestCount = "{total_results}";
?>
{/if}
{/exp:channel:entries}
{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="not closed"
}
<?php
  $priceJSON = '{contract_price}';
  $price     = json_decode($priceJSON);
  $fullPrice    = $price->price->full;
  $paymentPrice = $price->price->payment;
  $uniformPrice = ($price->uniform->price) ? $price->uniform->price : 0;
  $addOns = $price->addOn;
  $addOnCharge = 0;
  foreach($addOns as $item => $aoprice) {
    $addOnRow .= '<tr><td>Your ' . $item . '</td><td>$' . $aoprice . '</td></tr>';
    $addOnCharge += $aoprice;
  }
{contract_trip show_future_entries="yes"}
  $title        = '{contract_trip:title}';
{/contract_trip}
  $totalFull    = ($fullPrice * (1 + $guestCount)) + ($guestKeepCharge + $uniformPrice) + ($guestAddOnCharge) + ($addOnCharge);
  $totalPayment = ($paymentPrice * (1 + $guestCount)) + ($guestKeepCharge + $uniformPrice) + ($guestAddOnCharge) + ($addOnCharge);

  $price->guests->count = $guestCount;
  $price->guests->keepCount  = $guestKeepCount;
  $price->guests->keepCharge = $guestKeepCharge;

  $price->price->totalFull = $totalFull;
  $price->price->totalPayment = $totalPayment;

  $contractPrice = json_encode($price);

?>

<section>
  <div class="block-text">
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th colspan="2">Trip Selected</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Total</td>
          <th><?php echo '$' . $totalFull . ' (full)<br> $' . $totalPayment . ' (payment)'; ?></th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td><?php echo $title ; ?></td>
          <td><?php echo '$' . $fullPrice . ' (full)<br> $' . $paymentPrice . ' (payment)'; ?></td>
        </tr>
<?php
  if ($uniformPrice > 0) {
?>
        <tr>
          <td>Your Uniform</td>
          <td><?php echo '$' . $uniformPrice ; ?></td>
        </tr>
<?php
  }
  echo $addOnRow;
?>
        <tr>
          <td>Number of Guests</td>
          <td><?php echo $guestCount; ?></td>
        </tr>
<?php
  if ($guestKeepCharge > 0) {
?>
        <tr>
          <td>Guest Uniform</td>
          <td><?php echo '$' . number_format($guestKeepCharge) ; ?></td>
        </tr>
<?php
  }
  
  echo $guestAddOnRow;
?>
      </tbody>
    </table>
  </div>
</section>

{/exp:channel:entries}
{!-- END Price calc --}
