{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="not closed"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/trip-notes}"{/if}>
{if status != 'trip-assigned'}
    <strong>Assign Trip</strong>
{/if}
{if status == 'trip-assigned'}
    <strong>Trip Assigned</strong><br>
    {trip_selected_trip show_future_entries="yes"}{trip_selected_trip:title}{/trip_selected_trip}
{/if}
  <i>(edit)</i></a>
</td>
{/if}

{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-trip}/{embed:author_id}/">Assign Trip</a></td>{/if}
{/exp:channel:entries}

{!-- {if embed:status_check}
{exp:channel:entries
  channel="interview"
  disable="custom_fields|categories|category_fields|pagination|trackbacks"
  dynamic="no"
  status="open|interviewed"
  author_id="{embed:author_id}"
}
{if no_results}{/if}
{if status == 'open'}
{embed="dashboard/mark-interviewed" entry_id="{entry_id}" status="interviewed" text="Mark as Interviewed" return="/dashboard/interviews"}
{/if}
{if status == 'interviewed'}
<a class="" title="{title}">Interviewed</a>
{/if}
{/exp:channel:entries}
{/if} --}