{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
}
<?php
  $guestName = "{guest_first_name}-{guest_last_name}";

  $cleanName = str_replace(' ', '-', $guestName);
?>
  <tr data-guest-passport data-author-id="{embed:author_id}">
    <td>{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name}</strong> <small><i>({channel})</i></small></td>
    {embed="dashboard/_guest-passport-check" url_title="guest-passport-<?php echo $cleanName; ?>" author_id="{embed:author_id}"}
  </tr>
{/exp:channel:entries}
