{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|contract-signed"
  limit="1"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/contract-notes}"{/if}>
{if status != 'contract-signed'}
    Contract Pending
{/if}
{if status == 'contract-signed'}
    <strong>Contract Signed</strong>
{/if}
  <i>(edit)</i></a>
</td>
{/if}

{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-contract}/{embed:author_id}/">Contract Pending</a></td>{/if}
{/exp:channel:entries}

{!-- {if embed:status_check}
{exp:channel:entries
  channel="interview"
  disable="custom_fields|categories|category_fields|pagination|trackbacks"
  dynamic="no"
  status="open|interviewed"
  author_id="{embed:author_id}"
}
{if no_results}{/if}
{if status == 'open'}
{embed="dashboard/mark-interviewed" entry_id="{entry_id}" status="interviewed" text="Mark as Interviewed" return="/dashboard/interviews"}
{/if}
{if status == 'interviewed'}
<a class="" title="{title}">Interviewed</a>
{/if}
{/exp:channel:entries}
{/if} --}