{exp:channel:entries
  channel="trips"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  show_future_entries="yes"
}
<option value="{entry_id}" data-price-payment="{price_payment}" data-price-full="{price_full}">{title} - {price_payment} <i>(payment plan)</i>, {price_full} <i>(paid in full)</i></option>
{/exp:channel:entries}
