{exp:channel:entries
  channel="payment"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|paid"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/payment-notes}"{/if}>
{if status != 'paid'}
  {if payment_link}
    <strong>Payment Pending</strong>
    {!-- {if payment_balance != ''}<br><small>({payment_balance} remaining)</small>{/if} --}
  {/if}
  {if !payment_link}
    <strong>Set Payment Status</strong>
  {/if}
{/if}
{if status == 'paid'}
    <strong>Paid</strong>
{/if}
  <i>(edit)</i></a>
</td>
{/if}

{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-payment}/{embed:author_id}/">Set Payment Status</a></td>{/if}
{/exp:channel:entries}
