{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|contract-signed"
  limit="1"
}
{if status == 'contract-signed'}
<td class="action blue {status}">
  <a class="{embed:class}" target="_blank" title="View Contract" href="/waiver/print/{embed:author_id}">View Contract</a>

 
</td>
{/if}

{if no_results}{/if}
{/exp:channel:entries}
