{exp:channel:entries
  channel="videos"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
}
  {if no_results}<p>Sorry, no videos have been uploaded or linked</p>{/if}
  {videos_upload_1}
  <a href="{url}" class="button">{url}</a>
  {/videos_upload_1}
  {videos_upload_2}
  <a href="{url}" class="button">{url}</a>
  {/videos_upload_2}
  {videos_upload_3}
  <a href="{url}" class="button">{url}</a>
  {/videos_upload_3}
  {videos_url}
  {if videos_url:count == 1}<ul class="reset">{/if}
    {if videos_url:url}<li><a href="{if '{videos_url:url}' ^= 'http'}{videos_url:url}{if:else}//{videos_url:url}{/if}" target="_blank"><i class="fa fa-external-link"></i>&emsp;{videos_url:title}{if videos_url:title == ''}{videos_url:url}{/if}</a></li>{/if}
  {if videos_url:count == videos_url:total_rows}</ul>{/if}
  {/if}
  {/videos_url}
{/exp:channel:entries}