{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
}
{if count == "1"}
<h2 class="de-style">Added Guest(s):</h2>
<ul class="reset">{/if}
  <li>
    <strong class="h3">{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name}</strong> <small><i>({channel})</i></small>
    <p>Email: {guest_email}<br> Phone: {guest_phone} <br>Uniform Size: {guest_uniform_size}<br>Gender: {guest_gender}</p>
      {if guest_add_ons != ""}
<?php
  $guestAddOnJSON = '{guest_add_ons}';
  $guestAddOn     = json_decode($guestAddOnJSON);
  $guestAddOnItem = '';

  foreach($guestAddOn as $item => $price) {
    $guestAddOnItem .= $item . ' - $' . $price . '<br>';
  }
  echo $guestAddOnItem;
?><br>
{/if}
  </li>
{if count == total_results}</ul>{/if}
{/exp:channel:entries}
