{exp:channel:entries
  channel="passport"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="not closed"
  sort="asc"
  limit="1"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/passport-notes}">
{if status != 'passport-acquired'}
    <strong>Passport Data Entered</strong>
{/if}
{if status == 'passport-acquired'}
    <strong>Passport Provided</strong>
{/if}
  <i>(edit)</i></a>
</td>
{/if}
{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-passport}/{embed:author_id}/">No Passport Data Entered</a></td>{/if}
{/exp:channel:entries}
