{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="not closed"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/trip-notes}"{/if}>
{if status != 'trip-assigned'}
    <strong>Assign Trip</strong>
{/if}
{if status == 'trip-assigned'}
    <strong>Trip Assigned</strong><br>
    {trip_selected_trip show_future_entries="yes"}{trip_selected_trip:title}{/trip_selected_trip}
{/if}
  <i>(edit)</i></a>
</td>
{/if}

{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-trip}/{embed:author_id}/">Assign Trip</a></td>{/if}
{/exp:channel:entries}
