<a class="button green action open-note" href="#profile-note-form" title="{embed:button_text}">{embed:button_text}</a>
<div id="profile-note-form" style="display: none;">
{exp:channel:form
  channel="profile"
  status="not curplooped"
  class="custom-fields"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="{embed:return}"
  entry_id="{embed:entry_id}"
  show_fields="profile_notes"
}
<h3>Add Note to {profile_first_name} {profile_last_name}&rsquo;s Profile</h3>
{custom_fields}
<div class="group pulse-on-focus">
    <label for="{field_name}">{if required}* {/if}{field_label}</label>
  {field_instructions}
  {formatting_buttons}
  {if rte}
    <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}" class="WysiHat-field">{field_data}</textarea>
  {/if}
</div>
{/custom_fields}
<div class="button-box">
    <button type="submit" class="action button green">Save Profile Note</button>
</div>
{/exp:channel:form}
</div>
<script type="text/javascript">
    $(document).ready(function() {
        'use strict';
        sawtours.loadFancyBox('a.open-note', '{width: 800}');
    });
</script>