{exp:channel:entries
  channel="letters"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
}
  {if no_results}<p>Sorry, no letters have been uploaded or saved</p>{/if}
  {letters_upload_1}
  <a href="{url}" class="button">{url}</a>
  {/letters_upload_1}
  {letters_upload_2}
  <a href="{url}" class="button">{url}</a>
  {/letters_upload_2}
  {letters_upload_3}
  <a href="{url}" class="button">{url}</a>
  {/letters_upload_3}
  {letters_paste_area}
  {if letters_paste_area:paste_area != ''}
  <article>
    <h1 class="h5">Pasted Letter {letters_paste_area:count}</h1>
    {letters_paste_area:paste_area}
  </article>
  {/if}
  {/letters_paste_area}
{/exp:channel:entries}