{exp:channel:entries
  channel="waiver"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|waiver-signed"
}
{if count == 1}
<td class="action blue {status}">
  <a class="{embed:class}{if status !='open'} green{/if}" title="Contract" href="{url_title_path=dashboard/waiver-notes}"{/if}>
{if status != 'waiver-signed'}
    <strong>Waiver Pending</strong>
{/if}
{if status == 'waiver-signed'}
    <strong>Waiver Signed</strong>
{/if}
  <i>(edit)</i></a>
</td>
{/if}

{if no_results}<td class="action blue"><a class="{embed:class}" href="{path=dashboard/schedule-waiver}/{embed:author_id}/">Set Waiver Status</a></td>{/if}
{/exp:channel:entries}

{!-- {if embed:status_check}
{exp:channel:entries
  channel="interview"
  disable="custom_fields|categories|category_fields|pagination|trackbacks"
  dynamic="no"
  status="open|interviewed"
  author_id="{embed:author_id}"
}
{if no_results}{/if}
{if status == 'open'}
{embed="dashboard/mark-interviewed" entry_id="{entry_id}" status="interviewed" text="Mark as Interviewed" return="/dashboard/interviews"}
{/if}
{if status == 'interviewed'}
<a class="" title="{title}">Interviewed</a>
{/if}
{/exp:channel:entries}
{/if} --}