{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{embed:author_id}"
  status="open|closed|archived|paid"
}
  <h2 class="no-margin"><small class="blockify">{if embed:reschedule}Re-s{/if}{if !embed:reschedule}S{/if}chedule an Interview with</small>{profile_first_name} {profile_last_name}</h2>
{if profile_convenient_time_1 != ''
AND profile_convenient_time_2 != ''
AND profile_convenient_time_3 != ''}
  <p>These times have been chosen as the most convenient:</p>
    <div class="group pulse-on-focus"><input type="radio" name="interview_time" data-time-1="{profile_convenient_time_1}" value="{profile_convenient_time_1}" id="time-1"><label for="time-1">{profile_convenient_time_1}</label></div>
    <div class="group pulse-on-focus"><input type="radio" name="interview_time" data-time-2="{profile_convenient_time_2}" value="{profile_convenient_time_2}" id="time-2"><label for="time-2">{profile_convenient_time_2}</label></div>
    <div class="group pulse-on-focus"><input type="radio" name="interview_time" data-time-3="{profile_convenient_time_3}" value="{profile_convenient_time_3}" id="time-3"><label for="time-3">{profile_convenient_time_3}</label></div>
{if:else}
<p>{profile_first_name} has yet to pick any convenient times.</p>
{/if}
{/exp:channel:entries}