{exp:channel:form
  channel="profile"
  id="datepicker"
  class="validate embedded-labels times"
  entry_id="{embed:entry_id}"
  include_assets="no"
  include_jquery="no"
  status="open|closed|archived|paid"
  author_id="{embed:author_id}"
}
  <fieldset>
    <h3>You MUST discuss this opportunity with a parent or guardian in full detail before selecting any dates/times below! MAKE SURE THAT YOUR PARENT/GUARDIAN HAS <a href="http://studentathleteworldtours.com">LOOKED OVER OUR WEBSITE</a> AND UNDERSTANDS WHY THE CALL IS TAKING PLACE. If you haven't already, it is imperative that you discuss this opportunity with your parent/guardian in full detail ASAP. The phone call may be cancelled and you may no longer be considered for a spot on one of our teams if these requirements are not met.
      <br><br>
      Using the calendars below, select 3 specific dates/times that you and a parent/guardian are free to schedule. It is MANDATORY that a parent/guardian be present on the call (if you are 18 years old or younger). We have thousands of interested athletes, so DO NOT MISS THIS CALL.</h3>
{!-- Day | Hour | Minute | AM/PM | Time Zone --}
{!-- Conventient Time 1 --}
    <h4>Time #1 <small title="Your Local Time Zone">{current_time format="(%T)"}</small></h4>
    <input type="text" name="profile_convenient_time_1" id="profile_convenient_time_1" value="{profile_convenient_time_1}">
    <hr class="bar clear">
{!-- Conventient Time 2 --}
    <h4>Time #2 <small title="Your Local Time Zone">{current_time format="(%T)"}</small></h4>
    <input type="text" name="profile_convenient_time_2" id="profile_convenient_time_2" value="{profile_convenient_time_2}">
    <hr class="bar clear">
{!-- Conventient Time 3 --}
    <h4>Time #3 <small title="Your Local Time Zone">{current_time format="(%T)"}</small></h4>
    <input type="text" name="profile_convenient_time_3" id="profile_convenient_time_3" value="{profile_convenient_time_3}">
    <hr class="bar clear">
    
  </fieldset>
  <div class="group button-box no-margin">
      <button type="submit" class="button small">Select Times</button>
  </div>
  
{/exp:channel:form}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('form.times input[name*="_time_"]').datetimepicker({
      format: 'D, F j, Y - g:i A (e)',
      formatTime: 'g:i A',
      inline : true,
      step: 15,
      defaultDate: '+1970/01/02',
    });
  });
  
</script>
