{exp:channel:form
  channel="profile"
  status="not curplooped"
  class="custom-fields"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="/{segment_1}/{segment_2}/{segment_3}"
  entry_id="{embed:entry_id}"
  show_fields="profile_notes"
}
<h3>Add Note to {profile_first_name} {profile_last_name}&rsquo;s Profile</h3>
{custom_fields}
<div class="group pulse-on-focus">
    <label for="{field_name}">{if required}* {/if}{field_label}</label>
  {field_instructions}
  {formatting_buttons}
  {if rte}
    <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}" class="WysiHat-field">{field_data}</textarea>
  {/if}
</div>
{/custom_fields}
<button type="submit" class="submit button green">Save Profile Note</button>

{/exp:channel:form}