{exp:channel:entries
  channel="payment"
  disable="categories|category_fields|member_data|pagination"
  dynamic="no"
  status="not PAID"
  author_id="{embed:author_id}"
  limit="999999"
}
{!-- <tr><td>{embed:author_id}</td><td>{status}DD</td></tr> --}
  {embed="dashboard/_contract-paid-link-row" author_id="{author_id}"}
{/exp:channel:entries}
{exp:channel:entries
  channel="payment"
  disable="categories|category_fields|member_data|pagination"
  dynamic="no"
  status="Paid|open"
  author_id="{embed:author_id}"
  limit="999999"
}
{!-- <tr><td>{embed:author_id}</td><td>{status}DD</td></tr> --}
  {if no_results}
  {embed="dashboard/_contract-paid-link-row" author_id="{embed:author_id}"}
  {/if}
  
{/exp:channel:entries}



