{!-- used on profile page --}
{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="{segment_3}"
  status="open|interviewed|reschedule"
  limit="1"
}
{if no_results}
  {embed="dashboard/_member-interview-form" author_id="{author_id}"}
{/if}
{exp:channel:form
  channel="interview"
  id="interview-form"
  status="open|interviewed|reschedule"
  class="custom-fields"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  return="{segment_4}/{segment_5}/{segment_6}"
  entry_id="{entry_id}"
  show_fields="interview_trips"
}
{if status == 'open' AND '{interview_time}' != ''}<p class="de-style">The following time has been selected for the interview:<br>{interview_time}</p>{/if}

{custom_fields}
{if relationships}
<h3 class="de-style">Trips</h3>
<div class="group pulse-on-focus checkbox">
  Choose Trips that may be appropriate for this athlete.
  {if allow_multiple}
  <ul class="reset">
    {options}
      <li class="inlinify">
        <input type="checkbox" name="{field_name}[data][]" id="{option_value}" value="{option_value}"{checked}>
        <label class="checkbox" for="{option_value}">{option_name}</label>&emsp;&emsp;&emsp;&emsp;
      </li>
    {/options}
  </ul>
</div>
  {/if}
{/if}
{/custom_fields}

<h3 class="de-style">Set Status</h3>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="interviewed" {if '{status}' == 'interviewed'}checked{/if}><label for="status">Interviewed</label>
</div>
<button type="submit" class="submit button" href="#">{if interview_notes == ''}Enter{/if}{if interview_notes != ''}Update{/if} Status</button>

{/exp:channel:form}
{/exp:channel:entries}