{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="title"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
  show_future_entries="yes"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td>{title}</td>
{if '{parents:entry_ids field="contract_trip" status="not closed"}' != ''}
      <td data-contract-trips="{parents:entry_ids field="contract_trip" status="not closed"}" class="action blue"><a class="" href="{path=dashboard/trip-details}/{entry_id}/"><i class="fa fa-users"></i>&emsp;View Travelers</a></td>
{if:else}
      <td class="center">No Travelers Assigned</td>
{/if}
{if '{parents:entry_ids field="passport_trip" status="not closed"}' != ''}
      <td data-contract-trips="{parents:entry_ids field="passport_trip" status="not closed"}" class="action green"><a class="" href="{path=dashboard/trip-output}/{entry_id}/"><i class="fa fa-download"></i>&emsp;Download Passport Data</a></td>
{if:else}
      <td class="center">No Passports Provided</td>
{/if}
    </tr>
{/exp:channel:entries}
