{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="profile_last_name"
  search:profile_convenient_time_1="not IS_EMPTY"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
  status="open"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);">{profile_last_name}<br>
        <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a> {!-- <img class="profile-pic thumb" src="{profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}" width="61" height="50" alt="{profile_first_name} {profile_last_name}'s profile pic"> --}</td>
      <td>{profile_first_name}<br><a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_convenient_time_1}<br>
          {profile_convenient_time_2}<br>
          {profile_convenient_time_3}</td>
      {embed="dashboard/_member-interview-check" author_id="{author_id}" has_times="{profile_convenient_time_1}{profile_convenient_time_2}{profile_convenient_time_3}" profile_link="{url_title_path=dashboard/profile}"}
    </tr>
{/exp:channel:entries}
