{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="profile_last_name"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);"> <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">{profile_last_name}</a> {!-- <img class="profile-pic thumb" src="{profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}" width="61" height="50" alt="{profile_first_name} {profile_last_name}'s profile pic"> --}</td>
      <td> <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">{profile_first_name}</a></td>
      <td>{profile_phone}</td>
{exp:member:custom_profile_data member_id="{author_id}"}
      <td><a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></td>
      <td title="{last_visit format="%M&nbsp;%j,&nbsp;%Y"}">{last_visit format="%m/%d/%Y"}</td>
{/exp:member:custom_profile_data}
      <td>{embed="dashboard/_member-progress" author_id="{author_id}"}</td>
      <td>{profile_sports}</td>
      <td class="action blue"><a href="{url_title_path=dashboard/profile}" title="View Profile">View Profile</a></td>
      {!-- <td class="action orange archive">{embed="dashboard/archive-entry" entry_id="{entry_id}" status="archived" text="Archive"}</td> --}
    </tr>
{/exp:channel:entries}
