{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="passport_last_name"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
  status="not closed"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td>{passport_last_name}</td>
      <td>{passport_first_name}</td>
      <td>{passport_trip show_future_entries="yes"}{passport_trip:title}{/passport_trip}</td>
      <td class="action blue"><a href="{url_title_path=dashboard/passport-notes}" title="Review Passport Details"><i class="fa fa-eye"></i>&emsp;Review Passport Details</a></td>
    </tr>
{/exp:channel:entries}
