{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="profile_last_name"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
  status="{segment_6}"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td>{profile_last_name}</td>
      <td>{profile_first_name}</td>
      <td>{profile_phone}</td>
{exp:member:custom_profile_data member_id="{author_id}"}
      <td><a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></td>
      <td>{last_visit format="%m/%d/%Y"}</td>
{/exp:member:custom_profile_data}
{!-- !!!! can't do that in this ajax embed!!!! consider using <script></script> here to ajax the data returned from a template that checks db for progress --}
      <td data-value="{if profile_phone_assessment == 'Accepted'}5{/if}"></td>
{!--  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --}
      <td class="action blue"><a href="{url_title_path=dashboard/profile}" title="View Profile">View Profile</a></td>
      <td class="action green">{embed="dashboard/archive-entry" entry_id="{entry_id}" status="open" text="Unarchive"}</td>
    </tr>
{/exp:channel:entries}
