{exp:channel:entries
  channel="{segment_3}"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  pagination="bottom"
  orderby="profile_last_name"
  search:profile_convenient_time_1="not IS_EMPTY"
  sort="asc"
  offset="{segment_4}"
  limit="{segment_5}"
  require_entry="yes"
  status="open|paid"
}
{if no_results}<!-- End of Entries -->{/if}
    <tr class="ajax-entry">
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);" data-profile-link="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">{profile_last_name} {!-- <img class="profile-pic thumb" src="{profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}" width="61" height="50" alt="{profile_first_name} {profile_last_name}'s profile pic"> --}</td>
      <td data-profile-link="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">{profile_first_name}</td>
      {embed="dashboard/_member-payment-check" author_id="{author_id}"}
    </tr>
{/exp:channel:entries}
