{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}
<h3>Signed Contracts, not paid</h3>
<table class="admin striped sorted filter less-headroom">
  <thead>
    <tr>
      <th class="ln">Last Name</th>
      <th class="fn">First Name</th>
      <th class="p">Phone</th>
      <th>Email Address</th>
      <th class="visit">Last Visit</th>
      <th>Steps Completed</th>
      <th class="contacts">Contacts</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tfoot>
  <tbody>
{exp:channel:entries
  channel="waiver"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  status="not dudkdk"
  sort="desc"
  search:waiver_signature="not IS_EMPTY"
  limit="999999"
}

    {embed="dashboard/_test-for-paid" author_id="{author_id}"}

{!-- END Pagination --}
{/exp:channel:entries}
  </tbody>
</table>