{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile interview">

{exp:channel:form
  channel="contract"
  status="open"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  url_title="{last_segment}"
}

<h1 class="de-style no-margin"><small class="blockify">Set Contract Status for</small>{embed="dashboard/_member-profile-name" author_id="{author_id}"}</h1>

<div class="group pulse-on-focus checkbox">
  <h2 class="de-style">Chosen Trip</h2>
{custom_fields}
{if relationships}
  <ul class="reset">
      {options}
      <li class="inlinify">
        <input type="radio" name="{field_name}[data][]" id="{option_value}" value="{option_value}"{checked}>
        <label class="radio" for="{option_value}">{if checked}<strong>{/if}{option_name}{if checked}</strong>{/if}</label>&emsp;&emsp;&emsp;&emsp;
      </li>
        {/options}
  </ul>
{/if}
{/custom_fields}
</div>

{!-- Mailing Address --}
<h2 class="de-style">{embed="dashboard/_member-profile-any-tag" author_id="{author_id}" tag_name="profile_first_name"}'s Address</h2>
    <div class="group pulse-on-focus embedded-label">
        <label for="contract_mailing_address">Mailing Address</label>
        <input type="text" name="contract_mailing_address" id="contract_mailing_address"{if '{contract_mailing_address}' != ''} value="{contract_mailing_address}"{/if}>
    </div>

    <div class="group pulse-on-focus embedded-label sized half">
        <label for="contract_city">City</label>
        <input type="text" name="contract_city" id="contract_city"{if '{contract_city}' != ''} value="{contract_city}"{/if}>
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter">
        <label for="contract_state">State</label>
        <input type="text" name="contract_state" id="contract_state"{if '{contract_state}' != ''} value="{contract_state}"{/if}>
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter">
        <label for="contract_zip">Zip</label>
        <input type="text" name="contract_zip" id="contract_zip"{if '{contract_zip}' != ''} value="{contract_zip}"{/if}>
    </div>

  <div class="group"><button type="submit" class="submit button" href="#">{if '{contract_mailing_address}{contract_city}{contract_state}{contract_zip}' == ''}Enter{/if}{if '{contract_mailing_address}{contract_city}{contract_state}{contract_zip}' != ''}Update{/if} Mailing Address</button></div>


<hr class="clear">

<div class="group pulse-on-focus radio">
  <h2 class="de-style">Uniform/Clothing Size</h2>
  {!-- <input  id="contract_uniform_size-0" name="contract_uniform_size" value="" type="radio" {if "{contract_uniform_size}" == ''} checked{/if}>
  <label for="contract_uniform_size-0">{if "{contract_uniform_size}" == ''}<strong>{/if}No Size{if "{contract_uniform_size}" == ''}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only"> --}
  <input  id="contract_uniform_size-1" name="contract_uniform_size" value="S" type="radio"{if "{contract_uniform_size}" == 'S'} checked{/if}>
  <label for="contract_uniform_size-1">{if "{contract_uniform_size}" == 'S'}<strong>{/if}Small{if "{contract_uniform_size}" == 'S'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-2" name="contract_uniform_size" value="M" type="radio"{if "{contract_uniform_size}" == 'M'} checked{/if}>
  <label for="contract_uniform_size-2">{if "{contract_uniform_size}" == 'M'}<strong>{/if}Medium{if "{contract_uniform_size}" == 'M'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-3" name="contract_uniform_size" value="L" type="radio"{if "{contract_uniform_size}" == 'L'} checked{/if}>
  <label for="contract_uniform_size-3">{if "{contract_uniform_size}" == 'L'}<strong>{/if}Large{if "{contract_uniform_size}" == 'L'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-4" name="contract_uniform_size" value="XL" type="radio"{if "{contract_uniform_size}" == 'XL'} checked{/if}>
  <label for="contract_uniform_size-4">{if "{contract_uniform_size}" == 'XL'}<strong>{/if}X-Large{if "{contract_uniform_size}" == 'XL'}</strong>{/if}</label>&emsp;&emsp;
</div>

{!--Guests --}
{embed="dashboard/_member-guests-list" author_id="{author_id}"}

<h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  Signature:<br>{if '{contract_signature}' != ''}<img src="data:{contract_signature}"><br><i>({entry_date})</i><br>{/if}{if '{contract_signature}' == ''}<div class="group sized quarter red">NOT SIGNED</div>{/if}
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="contract-signed" {if '{status}' == 'contract-signed'}checked{/if}><label for="status">Contract Signed</label>
</div>

{!-- <h3 class="de-style">Notes</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
  {field:contract_notes}
  <button type="submit" class="submit button" href="#">{if contract_notes == ''}Enter{/if}{if contract_notes != ''}Update{/if} Notes</button>
</div>
 --}
  <button type="submit" class="submit button" href="#">Save</button>


<aside>
  <nav>
    <ul class="reset">
      <li><a class="button blue" href="/dashboard/profile/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}"><i class="fa fa-caret-left fa-fw"></i>View Profile</a></li>
    </ul>
  </nav>
</aside>

{/exp:channel:form}
</section>
