{exp:channel:entries 
  channel="profile"
  author_id="{embed:contractOwner}"
  status="interviewed"
  disable="categories|category_fields|pagination"
  dynamic="no"
}
<p>
  <span>Name</span><br>
  {profile_first_name} {profile_last_name}
</p>
{/exp:channel:entries}