{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}
<h3>Registrants that haven't filled out as far as parents listed by last visit.</h3>
{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|trackbacks"
  dynamic="no"
  status="not allstatues"
  orderby="edit_date"
  search:profile_parent_1_name="IS_EMPTY"
  sort="desc"
  paginate="both"
  limit="50"
}
{if no_results}<p>No incomplete Athlete profiles! Hot diggity!<br>
  <a href="{path=dashboard}">Click here to see all althetes</a></p>{/if}
{if count == "1"}
<table class="admin striped sorted filter less-headroom">
  <thead>
    <tr>
      <th class="ln">Last Name</th>
      <th class="fn">First Name</th>
      <th class="p">Phone</th>
      <th>Email Address</th>
      <th class="visit">Last Visit</th>
      <th>Progress</th>
      <th>Sport</th>
      <th class="contacts">Contacts</th>
      <th>Profile</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tfoot>
  <tbody class="ajax-container" data-absolute-results="{absolute_results}">
{/if}
    <tr>
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);">{profile_last_name}<br>
       <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_first_name}<br> <a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_phone}</td>
{exp:member:custom_profile_data member_id="{author_id}"}
      <td><a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></td>
      <td>{last_visit format="%m/%d/%Y"}</td>
{/exp:member:custom_profile_data}
      <td>{embed="dashboard/_member-progress" author_id="{author_id}"}</td>
      <td>{profile_sports}</td>
      <td>
        {if profile_parent_1_name}<h5 class="no-legroom more-less-headroom">Parents</h5>{/if}
        <p>
          {profile_parent_1_name}{if profile_parent_1_email}<br>
          <a href="mailto:{profile_parent_1_email}">{profile_parent_1_email}</a>{/if}<br>
          {profile_parent_1_phone}
          {if profile_parent_2_name}<br>{/if}
          {profile_parent_2_name}{if profile_parent_2_email}<br>
          <a href="mailto:{profile_parent_2_email}">{profile_parent_2_email}</a>{/if}<br>
          {profile_parent_2_phone}</p>
        {if profile_coach_email}<h5 class="no-legroom more-less-headroom">Coach</h5>
          <p><a href="mailto:{profile_coach_email}">{profile_coach_email}</a></p>
        {/if}
        
      </td>
      <td class="action blue"><a href="{url_title_path=dashboard/profile}" title="View Profile">View Profile</a></td>

    </tr>
{if count == total_results}
  </tbody>
</table>
{!-- Load More --}
    <div class="load-container"></div>
    <div class="load-more" data-offset="{absolute_count}" data-limit="{total_results}" data-channel="{channel_name}"></div>
{!-- END Load More --}
{/if}
{!-- Pagination --}
{paginate}
  {pagination_links}
  <ul class="list-reset list-inline pagination">
      {first_page}
        <li><a href="{pagination_url}" class="page-first" title="First Page"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
      {/first_page}
      {previous_page}
        <li><a href="{pagination_url}" class="page-previous" title="First Page"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
      {/previous_page}
      {page}
        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
      {/page}
      {next_page}
        <li><a href="{pagination_url}" class="page-next" title="Next Page"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      {/next_page}
      {last_page}
        <li><a href="{pagination_url}" class="page-last" title="Last Page"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
      {/last_page}
    </ul>
  {/pagination_links}
{/paginate}

{!-- END Pagination --}
{/exp:channel:entries}
<script type="text/javascript">
$(document).ready(function(){
    'use strict';
    sawtoursDash.loadTablesorter('table.sorted', {

      });
});

</script>