{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}

{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  orderby="profile_last_name"
  search:profile_convenient_time_1="not IS_EMPTY"
  sort="asc"
  pagination="bottom"
  limit="3"
  status="open"
}
{if count == "1"}
<table class="admin striped sorted filter less-headroom {segment_2}">
  <thead>
    <tr>
      <th class="ln">Last Name</th>
      <th class="fn">First Name</th>
      <th>Best Times to call</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4"></td>
    </tr>
  </tfoot>
  <tbody class="ajax-container" data-absolute-results="{absolute_results}">
{/if}
    <tr>
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);">{profile_last_name}<br><a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a> {!-- <img class="profile-pic thumb" src="{profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}" width="61" height="50" alt="{profile_first_name} {profile_last_name}'s profile pic"> --}</td>
      <td>{profile_first_name}<br><a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_convenient_time_1}<br>
          {profile_convenient_time_2}<br>
          {profile_convenient_time_3}</td>
      {embed="dashboard/_member-interview-check" author_id="{author_id}" has_times="{profile_convenient_time_1}{profile_convenient_time_2}{profile_convenient_time_3}" profile_link="{url_title_path=dashboard/profile}"}
    </tr>
{if count == total_results}
  </tbody>
</table>
{!-- Load More --}
    <div class="load-container"></div>
    <div class="load-more" data-offset="{absolute_count}" data-limit="{total_results}" data-channel="{channel_name}"></div>
{!-- END Load More --}
{/if}
{!-- Pagination --}
{paginate}
  {pagination_links}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    sawtoursDash.loadMore('{segment_2}', {
      tableSelector : 'table.sorted',
      tablesorterOptions : {
        headers : {
          4 : {
            sorter : false
          }
        },
        sortList : [[3,0]]
      }
    });
  });
</script>
<noscript>
{if segment_3 == 'all'}
      {first_page}
        <a href="{pagination_url}" class="page-first">First Page</a>
      {/first_page}

      {previous_page}
        <a href="{pagination_url}" class="page-previous">Previous Page</a>
      {/previous_page}

      {page}
        <a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a>
      {/page}

      {next_page}
        <a href="{pagination_url}" class="page-next">Next Page</a>
      {/next_page}

      {last_page}
        <a href="{pagination_url}" class="page-last">Last Page</a>
      {/last_page}
{/if}
{if segment_3 != 'all'}
        <a href="/{segment_1}/{segment_2}/all" class="page-all">We use javascript to sort these items. Either enable Javascript or click here to <strong>load all</strong> items. Thank you for being patient with a longer page load time.</a>
{/if}
</noscript>
  {/pagination_links}
{/paginate}

{!-- END Pagination --}
{/exp:channel:entries}
