{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile interview">

{exp:channel:form
  channel="interview"
  status="open"
  class="custom-fields"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  url_title="{last_segment}"
  show_fields="interview_trips|interview_notes"
}
<h1 class="de-style no-margin"><small class="blockify">Set Interview Status for</small>{embed="dashboard/_member-profile-name" author_id="{author_id}"}</h1>

{if status == 'open'}<p class="de-style">The following time has been selected for the interview:<br>{interview_time}</p>{/if}
<p class="de-style">An email conversation was started by you on {entry_date}.</p>


{custom_fields}
{if relationships}
  {if allow_multiple}
<h2 class="de-style">Trips</h2>
<div class="group pulse-on-focus checkbox">
  Choose Trips that may be appropriate for this athlete.
  <ul class="reset">
    {options}
      <li class="inlinify">
        <input type="checkbox" name="{field_name}[data][]" id="{option_value}" value="{option_value}"{checked}>
        <label class="checkbox" for="{option_value}">{option_name}</label>&emsp;&emsp;&emsp;&emsp;
      </li>
    {/options}
  </ul>
</div>
  {/if}
{/if}
{/custom_fields}

<h2 class="de-style">Notes</h2>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
  {field:interview_notes}
<button type="submit" class="submit button" href="#">{if interview_notes == ''}Save{/if}{if interview_notes != ''}Update{/if} Notes</button>
</div>


<h3 class="de-style">Set Status</h3>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="interviewed" {if '{status}' == 'interviewed'}checked{/if}><label for="status">Interviewed</label>
</div>
<button type="submit" class="submit button" href="#">{if interview_notes == ''}Enter{/if}{if interview_notes != ''}Update{/if} Status</button>

<aside>
  <nav>
    <ul class="reset">
      <li><a class="button blue" href="/dashboard/profile/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}#interview"><i class="fa fa-caret-left fa-fw"></i>View Profile</a></li>
    </ul>
  </nav>
</aside>
{/exp:channel:form}

</section>
