{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile">
{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  require_entry="yes"
  author_id="{segment_3}"
  parse="inward"
  status="open|interviewed|archived"
}
{!-- {if no_results}{redirect="dashboard/schedule-interview/{segment_3}"}{/if} --}
{/exp:channel:entries}

{exp:member:custom_profile_data member_id="{segment_3}"}
{exp:channel:form
  channel="interview"
  status="not closed"
  json="yes"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  id="schedule-interview"
  return="/dashboard/interviews"
  url_title="{segment_4}"
  status="open|interviewed|archived"
}
  <input type="hidden" name="status" value="open">
  <input type="hidden" name="mailto-email" data-mailto-email="{username}">
{if '{interview_time}' != 'no good'}
{embed="dashboard/_member-times" author_id="{author_id}" reschedule="mmhmm ayup"}
{/if}
{if '{interview_time}' == 'no good'}
  <h2 class="no-margin"><small class="blockify">Re-schedule an Interview with</small>{embed="dashboard/_member-profile-any-tag" tag_name="profile_first_name" author_id="{author_id}"} {embed="dashboard/_member-profile-any-tag" tag_name="profile_last_name"  author_id="{author_id}"}</h2>
  <p>Please wait for {embed="dashboard/_member-profile-any-tag" tag_name="profile_first_name" author_id="{author_id}"} to pick 3 more times.</p>
{/if}
{!-- no good - reschedule --}
{if '{interview_time}' != 'no good'}
<div class="group pulse-on-focus"><input type="radio" name="interview_time" id="time-no-good" value="no good"><label for="time-no-good">None of these times work for me! Reschedule.</label></div>
<a class="submit button" href="#" id="schedule-submit">1. Schedule Interview</a>
{/if}

  <aside>
    <a class="button small green" href="/dashboard/interviews" title="Back to Interviews"><i class="fa fa-caret-left fa-fw"></i>All interviews</a>
{if '{interview_time}' != 'no good'}
    <h3>Instructions</h3>
    <p>Select the time you wish to call. Then click the button below to generate an email that you can customize</p>
{/if}
  </aside>
{!-- <button type="submit" class="submit button" href="#">1. Schedule Interview</button> --}
{/exp:channel:form}
{/exp:member:custom_profile_data}
</section>
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    sawtoursDash.scheduleInterview('/dashboard/interviews');
  });
</script>
