{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}
<h3>Registrants that have interview entries</h3>



{exp:channel:entries
  channel="interview"
  limit="25"
  orderby="entry_date"
  sort="desc"
  dynamic="no"
  status="not allstatuses"
  search
}
  {if count == "1"}
  <table class="admin striped sorted filter less-headroom">
    <thead>
      <tr>
        <th class="ln">Last Name</th>
        <th class="fn">First Name</th>
        <th class="p">Phone</th>
        <th>Email Address</th>
        <th class="visit">Last Visit</th>
        <th>Progress</th>
        <th>Sport</th>
        <th class="contacts">Contacts</th>
        <th>Profile</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="8"></td>
      </tr>
    </tfoot>
    <tbody class="ajax-container" data-absolute-results="{absolute_results}">
  {/if}
    {embed="dashboard/_not-interviewed-profiles" author_id="{author_id}" sport="Baseball"}
  {if count == total_results}
    </tbody>
  </table>
  {!-- Pagination --}
  {paginate}
    {pagination_links}
    <ul class="list-reset list-inline pagination">
        {first_page}
          <li><a href="{pagination_url}" class="page-first" title="First Page"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
        {/first_page}
        {previous_page}
          <li><a href="{pagination_url}" class="page-previous" title="First Page"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
        {/previous_page}
        {page}
          <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
        {/page}
        {next_page}
          <li><a href="{pagination_url}" class="page-next" title="Next Page"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        {/next_page}
        {last_page}
          <li><a href="{pagination_url}" class="page-last" title="Last Page"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
        {/last_page}
      </ul>
    {/pagination_links}
  {/paginate}
  {/if}
{/exp:channel:entries}
<script type="text/javascript">
$(document).ready(function(){
    'use strict';
    sawtoursDash.loadTablesorter('table.sorted', {

      });
});

</script>