{layout="layouts/dashboard-page" current-page=""}
{if logged_out}{redirect="/"}{/if}
{if   group_id == "1"
  OR  group_id =="6"
}
{if:else}
  {redirect="/"}
{/if}
{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}
<h2>No Results</h2>
<p>Your search didn't match any first or last name content. Try another search.
<script type="text/javascript">
$(document).ready(function(){
    'use strict';
    sawtoursDash.loadTablesorter('table.sorted', {

      });
});

</script>
<p><a class="float-right" href="{path=dashboard/archived}" title="View Archived Athletes">View Archived Athletes</a></p>

{!-- <script>
  $(document).ready(function () {
    $('#debug').appendTo('main');

  })

  </script> --}