{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile passport">

{exp:channel:form
  channel="passport"
  class="validate"
  status="open"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  url_title="{last_segment}"
}

<h1 class="de-style no-margin"><small class="blockify">Set Passport Status for</small>{passport_first_name} {passport_last_name}{if !passport_first_name AND !passport_last_name}NO NAME PROVIDED{/if}{if segment_3 ^='guest'}<small class="blockify">(Guest of {embed="dashboard/_member-profile-name" author_id="{author_id}"})</small>{/if}</h1>

<h2 class="de-style">Assigned Trip</h2>
{custom_fields}
{if relationships}
      {options}
      {if checked}<p>{option_name}</p>{/if}
      {/options}
{/if}
{/custom_fields}

<h2 class="de-style">Passport Data</h2>
<fieldset style="width: calc(100% - 40px)">

{field_errors}{error}{/field_errors}
{!-- Name --}
  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_first_name">First Name{if error:passport_first_name}<br>{error:passport_first_name}{/if}</label>
    <input type="text" name="passport_first_name" {if passport_first_name}value="{passport_first_name}"{/if} class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_middle_initial">Middle Name{if error:passport_middle_name}<br>{error:passport_middle_name}{/if}</label>
    <input type="text" name="passport_middle_name" {if passport_middle_name}value="{passport_middle_name}"{/if}>
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_last_name">Last Name{if error:passport_last_name}<br>{error:passport_last_name}{/if}</label>
    <input type="text" name="passport_last_name" class="validate[required]" {if passport_last_name}value="{passport_last_name}"{/if}>
  </div>

{!-- Date of Birth --}
  <div class="group pulse-on-focus date embedded-label sized half new-row">
    <label for="passport_date_of_birth">Date of Birth{if error:passport_date_of_birth}<br>{error:passport_date_of_birth}{/if}</label>
    <input type="text" name="passport_date_of_birth" id="passport_date_of_birth" class="validate[required]" {if passport_date_of_birth}value="{passport_date_of_birth}"{/if}>
  </div>

{!-- Phone --}
  <div class="group pulse-on-focus embedded-label sized half">
      <label for="passport_phone">Phone #{if error:passport_phone}<br>{error:passport_phone}{/if}</label>
      <input type="tel" name="passport_phone" id="passport_phone" class="validate[required]" {if passport_phone}value="{passport_phone}"{/if}>
  </div>

<hr class="clear">

{!-- Country --}
  <div class="group pulse-on-focus date embedded-label sized third new-row">
    <label for="passport_country_of_citizenship">Country{if error:passport_country_of_citizenship}<br>{error:passport_country_of_citizenship}{/if}</label>
    <input type="text" name="passport_country_of_citizenship" id="passport_country_of_citizenship" class="validate[required]" {if passport_country_of_citizenship}value="{passport_country_of_citizenship}"{/if}>
  </div>

{!-- Passport # --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_number">Passport #{if error:passport_number}<br>{error:passport_number}{/if}</label>
      <input type="tel" name="passport_number" id="passport_number" class="validate[required]" {if passport_number}value="{passport_number}"{/if}>
  </div>

{!-- Passport Exp Date --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_expiration_date"><abbr title="Expiration">Exp.</abbr> Date{if error:passport_expiration_date}<br>{error:passport_expiration_date}{/if}</label>
      <input type="text" name="passport_expiration_date" id="passport_expiration_date" class="validate[required]" {if passport_expiration_date}value="{passport_expiration_date}"{/if}>
  </div>

{!-- Gender --}
  <div class="group pulse-on-focus sized new-row">
    <h5 class="inlinify">Gender:&emsp;</h5>
    <select name="passport_gender">
      {options:passport_gender}
        <option value="{option_value}"{selected}>{option_name}</option>
      {/options:passport_gender}
    </select>
  </div>
    <div class="clear-left group pulse-on-focus sized new-row"><button type="submit" class="submit button" >Save Passport Information</button></div>
</fieldset>


<h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="passport-acquired" {if '{status}' == 'passport-acquired'}checked{/if}><label for="status">Passport looks good!</label>
  <button type="submit" class="submit button" href="#">Save Status</button>
</div>

{!-- <h3 class="de-style">Notes</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
  {field:passport_notes}
  <button type="submit" class="submit button" href="#">{if passport_notes == ''}Enter{/if}{if passport_notes != ''}Update{/if} Notes</button>
</div>
 --}
<aside>
  <nav>
    <ul class="reset">
      <li><a class="button blue" href="/dashboard/profile/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}"><i class="fa fa-caret-left fa-fw"></i>View Profile</a></li>
    </ul>
  </nav>
</aside>

{/exp:channel:form}
</section>

{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');

    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');

    $('input[name*="_date"]').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      startDate:'+1970/01/02',
      defaultDate:'+1970/01/02'
    });

  });
</script>
{/layout:set}