{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}

{exp:channel:entries
  channel="passport"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  orderby="passport_last_name"
  sort="asc"
  pagination="bottom"
  limit="3"
  status="not closed"
}
{if count == "1"}
<table class="admin striped sorted filter less-headroom">
  <thead>
    <tr>
      <th class="fn">Last Name</th>
      <th class="ln">First Name</th>
      <th>Trip</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tfoot>
  <tbody class="ajax-container" data-absolute-results="{absolute_results}">
{/if}
    <tr>
      <td>{passport_last_name}</td>
      <td>{passport_first_name}</td>
      <td>{passport_trip show_future_entries="yes"}{passport_trip:title}{/passport_trip}</td>
      <td class="action blue"><a href="{url_title_path=dashboard/passport-notes}" title="Review Passport Details"><i class="fa fa-eye"></i>&emsp;Review Passport Details</a></td>
    </tr>
{if count == total_results}
  </tbody>
</table>
{!-- Load More --}
    <div class="load-container"></div>
    <div class="load-more" data-offset="{absolute_count}" data-limit="{total_results}" data-channel="{channel_name}"></div>
{!-- END Load More --}
{/if}
{!-- Pagination --}
{paginate}
  {pagination_links}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    sawtoursDash.loadMore('{segment_2}', {
      tableSelector : 'table.sorted',
      tablesorterOptions : {
        sortList : [[0,0]]
      }
    });
  });
</script>
<noscript>
{if segment_3 == 'all'}
      {first_page}
        <a href="{pagination_url}" class="page-first">First Page</a>
      {/first_page}

      {previous_page}
        <a href="{pagination_url}" class="page-previous">Previous Page</a>
      {/previous_page}

      {page}
        <a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a>
      {/page}

      {next_page}
        <a href="{pagination_url}" class="page-next">Next Page</a>
      {/next_page}

      {last_page}
        <a href="{pagination_url}" class="page-last">Last Page</a>
      {/last_page}
{/if}
{if segment_3 != 'all'}
        <a href="/{segment_1}/{segment_2}/all" class="page-all">We use javascript to sort these items. Either enable Javascript or click here to <strong>load all</strong> items. Thank you for being patient with a longer page load time.</a>
{/if}
</noscript>
  {/pagination_links}
{/paginate}
{!-- END Pagination --}
{/exp:channel:entries}
