{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile payment">

{exp:channel:form
  channel="payment"
  status="open"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  url_title="{last_segment}"
  error_handling="inline"
}
<h1 class="de-style no-margin"><small class="blockify">Set Payment Status for</small>{embed="dashboard/_member-profile-name" author_id="{author_id}"}</h1>
{embed="dashboard/_member-payment-price" author_id="{author_id}" dashboard="yes"}

{!-- <h3 class="de-style">Notes</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
    {field:payment_notes}
    <button type="submit" class="submit button" href="#">{if payment_notes == ''}Enter{/if}{if payment_notes != ''}Update{/if} Notes</button>
</div>
 --}
<h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="paid" {if '{status}' == 'paid'}checked{/if}><label for="status">Paid</label>
{!-- &emsp;&emsp;&emsp;
  <label for="payment_balance">Balance: </label>
  <input name="payment_balance" type="text" style="width: calc(25% - 1.5em)" value="{payment_balance}"> --}
  <button type="submit" class="submit button small" id="save_status">Save Status</button>
</div>

{/exp:channel:form}

{layout:set name="custom_script"}
{!-- <script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var paidForm = $('#cform'),
        profileForm = $('#profile_form'),
        paidStatusBtn = $('button[type="submit"]', paidForm),
        paidStatus = $('#status'),
        profileStatus = $('input[name="status"]', profileForm);

    paidStatusBtn.on('click', function (e) {
      var formdata;
      e.preventDefault();

      profileStatus.val((paidStatus.is(':checked')) ? 'paid': 'open');

      formdata = $('#profile_form').serialize();

      $.post(
          profileForm.attr("ACTION"), formdata, function() {
      }).fail(function () {
          if (window.console) {
              console.log('it did\'t go in');
          }
      }).done(function (data) {
      // SUCCESS
          paidForm[0].submit();
      });
    });
  });
</script> --}
{/layout:set}

<?php $author_id = str_replace('payment-member_id_','','{segment_3}'); ?>

{embed="dashboard/_member-profile-status" author_id="<?php echo $author_id ;?>"}
  <aside>
    <nav>
      <ul class="reset">
      <li><a class="button blue" href="/dashboard/profile/{embed='dashboard/_member-profile-any-tag' author_id='<?php echo $author_id ;?>' tag_name='url_title'}"><i class="fa fa-caret-left fa-fw"></i>View Profile</a></li>
      </ul>
    </nav>
    <h3>Instructions</h3>
    <ul>
      <li><p>Choose a status and make notes, if needed.</p></li>
    </ul>
  </aside>
</section>
