{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}

{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  url_title="{last_segment}"
  status="not allstatues"
  parse="inward"
}

{layout:set name="meta-title" value="{profile_last_name}, {profile_first_name} | {site_name}"}

<section class="profile {status}">
  <h1>{profile_last_name}, {profile_first_name}</h1>
{if profile_photo}
      <img class="profile-pic" src="{profile_photo:profile_page}" width="auto" height="200" alt="{profile_first_name} {profile_last_name}'s profile pic">
{/if}

{exp:member:custom_profile_data member_id="{author_id}"}
<p><strong><i class="fa fa-fw fa-envelope"></i>&ensp;Email</strong>: <a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></p>
{/exp:member:custom_profile_data}
<p><strong><i class="fa fa-fw fa-at"></i>&ensp;Social Media Handles</strong> (<i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i> <i class="fa fa-facebook-official"></i>&hellip;): {profile_social_media_handles}{if !profile_social_media_handles}<small><i>(none provided)</i></small>{/if}</p>
<p><strong><i class="fa fa-fw fa-calendar-o"></i>&ensp;Date of Birth</strong>: {profile_date_of_birth}</p>
<p><strong><i class="fa fa-fw fa-phone"></i>&ensp;Phone</strong>: {profile_phone}</p>

<p><strong><i class="fa fa-fw fa-envelope"></i>&ensp;Mailing Address</strong>:<br>
  <i class="fa fa-fw"></i>&ensp;{embed="dashboard/_member-contract-any-tag" author_id="{author_id}" tag_name="contract_mailing_address"}<br>
  <i class="fa fa-fw"></i>&ensp;{embed="dashboard/_member-contract-any-tag" author_id="{author_id}" tag_name="contract_city"}, {embed="dashboard/_member-contract-any-tag" author_id="{author_id}" tag_name="contract_state"} {embed="dashboard/_member-contract-any-tag" author_id="{author_id}" tag_name="contract_zip"}
</p>



<h3>School Information</h3>
<p><strong>School Name</strong>: {profile_school_name}{if profile_school_name == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong><i class="fa fa-fw fa-envelope"></i>&ensp;Email</strong>: <a class="blue" href="mailto:{profile_coach_email}" title="Email Coach">{profile_coach_email}</a>{if profile_coach_email == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>Graduation Year</strong>: {profile_graduation_year}{if profile_graduation_year == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>Sport</strong>: {profile_sports}{if profile_sports == ''}<small><i>(none provided)</i></small>{/if}</p>

<h3>Parent{if profile_parent_2_name !=''}s{/if} or Guardian{if profile_parent_2_name !=''}s{/if}</h3>
<ol>
  <li>
    <p><strong>Name</strong>: {profile_parent_1_name}</p>
    <p><strong><i class="fa fa-fw fa-envelope"></i>&ensp;Email</strong>: <a class="blue" href="mailto:{profile_parent_1_email}" title="Email {profile_parent_1_name}">{profile_parent_1_email}</a></p>
    <p><strong>Phone</strong>: {profile_parent_1_phone}</p>
  </li>
{if profile_parent_2_name !=''}
  <li>
    <p><strong>Name</strong>: {profile_parent_2_name}</p>
    <p><strong><i class="fa fa-fw fa-envelope"></i>&ensp;Email</strong>: <a class="blue" href="mailto:{profile_parent_2_email}" title="Email {profile_parent_2_name}">{profile_parent_2_email}</a></p>
    <p><strong>Phone</strong>: {profile_parent_2_phone}</p>
  </li>
{/if}
</ol>

<h3>Personal Information<br><small>(entered by athlete in profile)</small></h3>
<div>{profile_personal_information}</div>


 {embed="dashboard/_member-guests-list" author_id="{author_id}"}
  <h3 class="inlinify h4">Traveling: </h3>
  <p  class="inlinify">{profile_traveling_alone_or_with_}</p><br>

  <h3>Letters of Recommendation:</h3>
  {embed="dashboard/_member-letters" author_id="{author_id}"}

  <hr>
  
  <h3>Videos:</h3>
  {embed="dashboard/_member-videos" author_id="{author_id}"}

{!-- {if "{profile_notes}" != ''} --}
  <hr>

  <hr class="bar">

  <h3>Notes</h3>
  {exp:channel:form
    channel="profile"
    status="not curplooped"
    class="custom-fields"
    author_only="no"
    include_assets="yes"
    include_jquery="no"
    return="/{segment_1}/{segment_2}/{segment_3}"
    entry_id="{entry_id}"
    show_fields="profile_notes"
  }
  <h3>Add Note to {profile_first_name} {profile_last_name}&rsquo;s Profile</h3>
  {custom_fields}
  <div class="group pulse-on-focus">
      <label for="{field_name}">{if required}* {/if}{field_label}</label>
    {field_instructions}
    {formatting_buttons}
    {if rte}
      <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}" class="WysiHat-field">{field_data}</textarea>
    {/if}
  </div>
  {/custom_fields}
  <button type="submit" class="submit button green">Save Profile Note</button>

  {/exp:channel:form}




<h2 id="interview">Interview:</h2>
{embed="dashboard/_member-interview-form" author_id="{author_id}" entry_title="{profile_first_name}-{profile_last_name}-interview" profile_entry="{entry_id}"}

  <aside>
    <nav>
      <ul class="reset">
        <li><a class="button blue" href="{path=dashboard}"><i class="fa fa-caret-left fa-fw"></i>All Users</a><hr class="bar"></li>
        <li>{embed="dashboard/_member-interview-check" author_id="{author_id}" class="button" profile_page="yes" has_times="{profile_convenient_time_1}{profile_convenient_time_2}{profile_convenient_time_3}"}</li>
        <li>{embed="dashboard/_member-contract-check" author_id="{author_id}" class="button" profile_page="yes"}</li>
        <li>{embed="dashboard/_member-waiver-check" author_id="{author_id}" class="button" profile_page="yes"}</li>
        <li>{embed="dashboard/_member-payment-check" author_id="{author_id}" class="button" profile_page="yes"}</li>
        {!-- <li>{embed="dashboard/_member-trip-check" author_id="{author_id}" class="button" profile_page="yes"}</li> --}
        <li>{embed="dashboard/_member-passport-check" author_id="{author_id}" class="button" profile_page="yes"}</li>
        <li><hr class="bar">{embed="dashboard/_member-contract-view" author_id="{author_id}" class="button" profile_page="yes"}</li>
        <li><hr class="bar">{embed="dashboard/archive-entry"
              class="button orange"
              entry_id="{entry_id}"
              status="{if status!='archived'}archived{/if}{if status=='archived'}open{/if}"
              text="{if status!='archived'}Archive{/if}{if status=='archived'}Unarchive{/if}"
              return="dashboard/"
            }</li>
      </ul>
    </nav>
  </aside>

</section>
{/exp:channel:entries}

