{layout="layouts/dashboard-page" current-page=""}
{if logged_out}{redirect="/"}{/if}
{if   group_id == "1"
  OR  group_id =="6"
}
{if:else}
  {redirect="/"}
{/if}
{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}
<h2>Search Results</h2>
{exp:search:search_results}
{if count == "1"}
<table class="admin striped sorted filter more-less-headroom">
  <thead>
    <tr>
      <th class="ln">Last Name</th>
      <th class="fn">First Name</th>
      <th class="p">Phone</th>
      <th>Email</th>
      <th class="visit">Last Visit</th>
      <th>Progress</th>
      <th>Sport</th>
      <th class="contacts">Contacts</th>
      <th>Profile</th>
{!-- A Note about the Archive Button 
      Embedding a form on every row caused the load time to be significantly and painfully long.
      Upon approval of additional work, change Archive button to AJAX load a fancybox module with confirmation and
      possible further actions—set status or category, etc.
  --}
      {!-- <th>Archive</th> --}
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tfoot>
  <tbody class="ajax-container" data-absolute-results="{absolute_results}">
{/if}
    <tr>
      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);"> {profile_last_name}<br><a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a> {!-- <img class="profile-pic thumb" src="{profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}" width="61" height="50" alt="{profile_first_name} {profile_last_name}'s profile pic"> --}</td>
      <td>{profile_first_name}<br><a href="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">View Profile</a></td>
      <td>{profile_phone}</td>
{exp:member:custom_profile_data member_id="{author_id}"}
      <td><a class="blue" href="mailto:{email}" title="Email {profile_first_name}">{email}</a></td>
      <td title="{last_visit format="%M&nbsp;%j,&nbsp;%Y"}">{last_visit format="%m/%d/%Y"}</td>
{/exp:member:custom_profile_data}
      <td>{embed="dashboard/_member-progress" author_id="{author_id}"}</td>
      <td>{profile_sports}</td>
      <td>
        {if profile_parent_1_name}<h5 class="no-legroom more-less-headroom">Parents</h5>{/if}
        <p>
          {profile_parent_1_name}{if profile_parent_1_email}<br>
          <a href="mailto:{profile_parent_1_email}">{profile_parent_1_email}</a>{/if}<br>
          {profile_parent_1_phone}
          {if profile_parent_2_name}<br>{/if}
          {profile_parent_2_name}{if profile_parent_2_email}<br>
          <a href="mailto:{profile_parent_2_email}">{profile_parent_2_email}</a>{/if}<br>
          {profile_parent_2_phone}</p>
        {if profile_coach_email}<h5 class="no-legroom more-less-headroom">Coach</h5>
          <p><a href="mailto:{profile_coach_email}">{profile_coach_email}</a></p>
        {/if}
        
      </td>
      <td class="action {if status == 'paid'}green{/if}{if status != 'paid'}blue{/if}"><a href="{url_title_path=dashboard/profile}" title="View Profile">View Profile</a></td>
      {!-- <td class="action orange archive">{embed="dashboard/archive-entry" entry_id="{entry_id}" status="archived" text="Archive"}</td> --}
    </tr>
{if count == total_results}
  </tbody>
</table>
{!-- Load More --}
    <div class="load-container"></div>
    <div class="load-more" data-offset="{absolute_count}" data-limit="{total_results}" data-channel="{channel_name}"></div>
{!-- END Load More --}
{/if}
{!-- Pagination --}
{paginate}
  {pagination_links}
  <ul class="list-reset list-inline pagination">
      {first_page}
        <li><a href="{pagination_url}" class="page-first" title="First Page"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
      {/first_page}
      {previous_page}
        <li><a href="{pagination_url}" class="page-previous" title="First Page"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
      {/previous_page}
      {page}
        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
      {/page}
      {next_page}
        <li><a href="{pagination_url}" class="page-next" title="Next Page"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      {/next_page}
      {last_page}
        <li><a href="{pagination_url}" class="page-last" title="Last Page"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
      {/last_page}
    </ul>
  {/pagination_links}
{/paginate}

{!-- END Pagination --}

{/exp:search:search_results }
<script type="text/javascript">
$(document).ready(function(){
    'use strict';
    sawtoursDash.loadTablesorter('table.sorted', {

      });
});

</script>
<p><a class="float-right" href="{path=dashboard/archived}" title="View Archived Athletes">View Archived Athletes</a></p>

{!-- <script>
  $(document).ready(function () {
    $('#debug').appendTo('main');

  })

  </script> --}