{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile {status}">
{exp:member:custom_profile_data member_id="{segment_3}"}
<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="interview"
  status="open"
  json="yes"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  id="schedule-interview"
  return="<?php echo $path; ?>"
  use_live_url="no"
}
  <input name="title"     type="hidden" value="{username} - interview - {current_time format="%m/%d/%Y %h:%i%a"}">
  <input name="url_title" type="hidden" value="interview-member_id_{member_id}">
  <input name="author_id" type="hidden" value="{member_id}">
  <input name="status"    type="hidden" value="open">
  <input type="hidden" name="mailto-email" data-mailto-email="{username}">
{embed="dashboard/_member-times" author_id="{member_id}"}
{!-- no good - reschedule --}
<div class="group pulse-on-focus"><input type="radio" name="interview_time" id="time-no-good" value="no good"><label for="time-no-good">None of these times work for me! Reschedule.</label></div>
<a class="submit button" href="#" id="schedule-submit">1. Schedule Interview</a>

{/exp:channel:form}
{/exp:member:custom_profile_data}

  <aside>
    <a class="button small green" href="/dashboard/interviews" title="Back to Interviews"><i class="fa fa-caret-left fa-fw"></i>All interviews</a>
    <h3>Instructions</h3>
    <p>Select the time you wish to call. Then click the button below to generate an email that you can customize</p>
  </aside>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        'use strict';
        sawtoursDash.scheduleInterview('<?php echo $_SERVER['HTTP_REFERER']; ?>');
    });
</script>
