{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile contract">
{exp:member:custom_profile_data member_id="{segment_3}"}
  <h2 class="no-margin"><small class="blockify">Set Waiver Status for</small>{embed="dashboard/_member-profile-name" author_id="{segment_3}"}</h2>
<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="waiver"
  status="open"
  json="no"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  return="<?php echo $_SERVER['HTTP_REFERER']; ?>"
  use_live_url="no"
}
  <input name="title"     type="hidden" value="{username} - waiver - {current_time format="%m/%d/%Y %h:%i%a"}">
  <input name="url_title" type="hidden" value="waiver-member_id_{member_id}">
  <input name="author_id" type="hidden" value="{member_id}">

  <h2 class="de-style">Set Status</h2>
  <div class="group pulse-on-focus checkbox">
    <input type="hidden" name="status" value="open">
    <input type="checkbox" id="status" name="status" value="waiver-signed" {if '{status}' == 'waiver-signed'}checked{/if}><label for="status">Waiver Signed</label>
  </div>

  <button type="submit" class="submit button" href="#">Save Status</button>

{/exp:channel:form}
  <aside>
    <a class="button small green" href="/dashboard/waivers" title="Back to Contracts"><i class="fa fa-caret-left fa-fw"></i>All waivers</a>
    <h3>Instructions</h3>
    <p>Choose a status.</p>
  </aside>
{/exp:member:custom_profile_data}
</section>

