{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile contract">
{exp:member:custom_profile_data member_id="{segment_3}"}
  {if !segment_4}<h2 class="no-margin"><small class="blockify">Enter Passport Data for</small>{embed="dashboard/_member-profile-name" author_id="{segment_3}"}</h2>{/if}
<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="passport"
  class="validate"
  status="open"
  json="no"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="<?php echo $path; ?>"
  use_live_url="no"
  rte_selector=".WysiHat-field"
}

{if !segment_4}{!-- seg 4 = guest if this is a guest traveler --}
  <input name="title"     type="hidden" value="{username} - passport - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="passport-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
{/if}
{if segment_4 == 'guest'}
<?php
  $guestName = str_replace(array('guest-passport', '-'), array('', ' '), "{segment_5}");
  $gnArr     = explode(' ', trim($guestName));
  $firstName = $gnArr[0];
  $lastName  = ($gnArr[1]) ? $gnArr[1] : '';
?>
  <h1 class="de-style no-margin"><small class="blockify">Enter Passport data for</small><?php echo $firstName . ' ' . $lastName ; ?><small class="blockify">(Guest of {embed="dashboard/_member-profile-name" author_id="{member_id}"})</small></h1>
  <input name="title"     type="hidden" value="{username} - guest passport - <?php echo $guestName ; ?>">
  <input name="url_title" type="hidden" value="{segment_5}">
{/if}

  <input name="author_id" type="hidden" value="{member_id}">
  <input name="status"    type="hidden" value="passport-acquired">
  <input name="passport_trip[data][]" type="hidden" value="{embed='dashboard/_member-passport-trip-id' author_id='{member_id}'}">

<fieldset style="width: calc(100% - 40px)">
{field_errors}{error}{/field_errors}
{!-- Name --}
  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_first_name">First Name{if error:passport_first_name}<br>{error:passport_first_name}{/if}</label>
    <input type="text" name="passport_first_name" value="<?php echo $firstName ; ?>" class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_middle_initial">Middle Name{if error:passport_middle_name}<br>{error:passport_middle_name}{/if}</label>
    <input type="text" name="passport_middle_name">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_last_name">Last Name{if error:passport_last_name}<br>{error:passport_last_name}{/if}</label>
    <input type="text" name="passport_last_name" class="validate[required]" value="<?php echo $lastName ; ?>">
  </div>

{!-- Date of Birth --}
  <div class="group pulse-on-focus date embedded-label sized half new-row">
    <label for="passport_date_of_birth">Date of Birth{if error:passport_date_of_birth}<br>{error:passport_date_of_birth}{/if}</label>
    <input type="text" name="passport_date_of_birth" id="passport_date_of_birth" class="validate[required]">
  </div>

{!-- Phone --}
  <div class="group pulse-on-focus embedded-label sized half">
      <label for="passport_phone">Phone #{if error:passport_phone}<br>{error:passport_phone}{/if}</label>
      <input type="tel" name="passport_phone" id="passport_phone" class="validate[required]">
  </div>


{!-- Country --}
  <div class="group pulse-on-focus date embedded-label sized third new-row">
    <label for="passport_country_of_citizenship">Country{if error:passport_country_of_citizenship}<br>{error:passport_country_of_citizenship}{/if}</label>
    <input type="text" name="passport_country_of_citizenship" id="passport_country_of_citizenship" class="validate[required]">
  </div>

{!-- Passport # --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_number">Passport #{if error:passport_number}<br>{error:passport_number}{/if}</label>
      <input type="tel" name="passport_number" id="passport_number" class="validate[required]">
  </div>

{!-- Passport Exp Date --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_expiration_date"><abbr title="Expiration">Exp.</abbr> Date{if error:passport_expiration_date}<br>{error:passport_expiration_date}{/if}</label>
      <input type="text" name="passport_expiration_date" id="passport_expiration_date" class="validate[required]">
  </div>

{!-- Gender --}
  <div class="group pulse-on-focus radio sized new-row">
    <h5 class="inlinify">Gender:&emsp;</h5>
    <input id="passport_gender-1" type="radio" name="passport_gender" value="Male" class="validate[required]">
    <label for="passport_gender-1">Male</label>&emsp;&emsp;&emsp;
    <input id="passport_gender-2" type="radio" name="passport_gender" value="Female" class="validate[required]">
    <label for="passport_gender-2">Female</label>
  </div>


  <div class="group sized new-row clear-left bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button submit" data-button-style="Save">Save Passport Information</button>
  </div>

</fieldset>

{!-- <h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="passport-acquired" {if '{status}' == 'passport-acquired'}checked{/if}><label for="status">Passport looks good!</label>
  <button type="submit" class="submit button" href="#">Save Status</button>
</div>
 --}
{!-- <h3 class="de-style">Notes</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
  <textarea id="passport_notes" name="passport_notes" dir="ltr" rows="10" class="WysiHat-field">{passport_notes}</textarea>
  <button type="submit" class="submit button" href="#">{if passport_notes == ''}Enter{/if}{if passport_notes != ''}Update{/if} Notes</button>
</div>
 --}
{/exp:channel:form}
  <aside>
    <a class="button small green" href="/dashboard/passports" title="Back to Contracts"><i class="fa fa-caret-left fa-fw"></i>All passports</a>
    <h3>Instructions</h3>
    <p>Enter Passport information and make notes, if needed.</p>
  </aside>
{/exp:member:custom_profile_data}
</section>

{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');

    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');
    form.find('input[name="url_title"]').val(form.find('input[name="url_title"]').val().replace(' ', '-'));

    $('input[name*="_date"]').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      startDate:'+1970/01/02',
      defaultDate:'+1970/01/02'
    });

  });
</script>
{/layout:set}
