{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile contract">
{exp:member:custom_profile_data member_id="{segment_3}"}
  <h2 class="no-margin"><small class="blockify">Set Contract Status for</small>{embed="dashboard/_member-profile-name" author_id="{segment_3}"}</h2>
<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="contract"
  status="open"
  json="no"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="<?php echo $path; ?>"
  use_live_url="no"
  rte_selector=".WysiHat-field"
}
  <input name="title"     type="hidden" value="{username} - contract - {current_time format="%m/%d/%Y %h:%i%a"}">
  <input name="url_title" type="hidden" value="contract-member_id_{member_id}">
  <input name="author_id" type="hidden" value="{member_id}">

<div class="group pulse-on-focus checkbox">
  <h2 class="de-style">Pick Some Appropriate Trips</h2>
{custom_fields}
{if relationships}
  <ul class="reset">
      {options}
      {if option_name != '--'}
      <li class="inlinify">
        <input type="radio" name="{field_name}[data][]" id="{option_value}" value="{option_value}"{checked}>
        <label class="radio" for="{option_value}">{if checked}<strong>{/if}{option_name}{if checked}</strong>{/if}</label>&emsp;&emsp;&emsp;&emsp;
      </li>
      {/if}
        {/options}
  </ul>
{/if}
{/custom_fields}
</div>

<div class="group pulse-on-focus radio">
  <h2 class="de-style">Pick a Uniform Size</h2>
  <input  id="contract_uniform_size-1" name="contract_uniform_size" value="S" type="radio"{if "{contract_uniform_size}" == 'S'} checked{/if}>
  <label for="contract_uniform_size-1">{if "{contract_uniform_size}" == 'S'}<strong>{/if}Small{if "{contract_uniform_size}" == 'S'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-2" name="contract_uniform_size" value="M" type="radio"{if "{contract_uniform_size}" == 'M'} checked{/if}>
  <label for="contract_uniform_size-2">{if "{contract_uniform_size}" == 'M'}<strong>{/if}Medium{if "{contract_uniform_size}" == 'M'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-3" name="contract_uniform_size" value="L" type="radio"{if "{contract_uniform_size}" == 'L'} checked{/if}>
  <label for="contract_uniform_size-3">{if "{contract_uniform_size}" == 'L'}<strong>{/if}Large{if "{contract_uniform_size}" == 'L'}</strong>{/if}</label>&emsp;&emsp;<br class="mobile-only">
  <input  id="contract_uniform_size-4" name="contract_uniform_size" value="XL" type="radio"{if "{contract_uniform_size}" == 'XL'} checked{/if}>
  <label for="contract_uniform_size-4">{if "{contract_uniform_size}" == 'XL'}<strong>{/if}X-Large{if "{contract_uniform_size}" == 'XL'}</strong>{/if}</label>&emsp;&emsp;
</div>

  <h2 class="de-style">Set Status</h2>
  <div class="group pulse-on-focus checkbox">
    <input type="hidden" name="status" value="open">
    <input type="checkbox" id="status" name="status" value="contract-signed" {if '{status}' == 'contract-signed'}checked{/if}><label for="status">Contract Signed</label>
  </div>

  {!-- <h3 class="de-style">Notes</h3>
  <div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
      <textarea id="contract_notes" name="contract_notes" dir="ltr" rows="10" class="WysiHat-field"></textarea>
  </div>
 --}
  <button type="submit" class="submit button" href="#">Save</button>

{/exp:channel:form}
  <aside>
    <a class="button small green" href="/dashboard/contracts" title="Back to Contracts"><i class="fa fa-caret-left fa-fw"></i>All contracts</a>
    <h3>Instructions</h3>
    <p>Choose a status. You are awaiting the student's input here. But, If they are unable to enter information, you can add it and they can move along.</p>
  </aside>
{/exp:member:custom_profile_data}
</section>

