{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile contract">
{exp:member:custom_profile_data member_id="{segment_3}"}
  <h2 class="no-margin"><small class="blockify">Set Trip Status for</small>{embed="dashboard/_member-profile-name" author_id="{segment_3}"}</h2>
<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="trip"
  status="trip-assigned"
  json="no"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="<?php echo $path; ?>"
  use_live_url="no"
  rte_selector=".WysiHat-field"
}
  <input name="title"     type="hidden" value="{username} - trip - {current_time format="%m/%d/%Y %h:%i%a"}">
  <input name="url_title" type="hidden" value="trip-member_id_{member_id}">
  <input name="author_id" type="hidden" value="{member_id}">

  <input type="hidden" name="status" value="trip-assigned">

  <h2 class="de-style">Assign Trip</h2>
  <p class="de-style">They chose and signed a contract for:<br>
    {embed="dashboard/_member-contract-trip-selected" author_id="{member_id}"}
  </p>
  <div class="group pulse-on-focus relationship">
    <label for="trip_selected_trip[data][]">Select a trip for this athlete.</label>
    {field:trip_selected_trip}
    <button type="submit" class="submit button small" href="#">Save Trip</button>
  </div>

  <h3 class="de-style">Notes</h3>
  <div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
      <textarea id="trip_notes" name="trip_notes" dir="ltr" rows="10" class="WysiHat-field"></textarea>
      <button type="submit" class="submit button" href="#">Enter Notes</button>
  </div>


{/exp:channel:form}
  <aside>
    <a class="button small green" href="/dashboard/trips" title="Back to Contracts"><i class="fa fa-caret-left fa-fw"></i>All trips</a>
    <h3>Instructions</h3>
    <p>Choose a status and make notes, if needed.</p>
  </aside>
{/exp:member:custom_profile_data}
</section>

