{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile trip">

{exp:channel:entries
  channel="trips"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  entry_id="{segment_3}"
  show_future_entries="yes"
  parse="inward"
}
<h1 class="no-margin">{title}</h1>

<h2>Travelers</h2>
{parents field="contract_trip" status="contract-signed" parse="inward"}
{if parents:count == "1"}
<table class="admin striped sorted filter less-headroom" style="width: calc(100% - 1.5em);" id="travelers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="2">
          <a href="{path=dashboard/trip-output-passports}/{entry_id}" class="button ghost-button small blue "><span class="h3"><i class="fa fa-download"></i>&emsp;Download {title} Passport Data as CSV&emsp;<i class="fa fa-download"></i></span></a>
          <a href="{path=dashboard/trip-output-travelers}/{entry_id}" class="button ghost-button small green"><span class="h3"><i class="fa fa-download"></i>&emsp;Download {title} Traveler Data as CSV&emsp;<i class="fa fa-download"></i></span></a>
      </td>
    </tr>
  </tfoot>
  <tbody>
{/if}
  <tr data-payment-status='{embed="dashboard/_member-payment-status" author_id="{parents:author_id}"}' data-author-id="{parents:author_id}">
    <th>{embed="dashboard/_member-profile-name" author_id="{parents:author_id}"}</th>
    {embed="dashboard/_member-passport-check" author_id="{parents:author_id}"}
  </tr>
  {embed="dashboard/_member-guests-passports" author_id="{parents:author_id}"}
{if parents:count == parents:total_results}
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    'use strict';
    $('#travelers tr[data-payment-status]').each(function () {
      var pStatus = $(this).data('payment-status'),
          authorID = $(this).data('author-id');
      if (pStatus != 'paid') {
        $('#travelers tr[data-author-id="' + authorID + '"]').remove();
      }
    });
    if ($('#travelers tr[data-payment-status]').length <= 0) {
      $('#travelers tbody').append('<tr><td colspan="2">No Travelers have paid</td></tr>')
    }
  })
</script>
{/if}
{/parents}

<h2>Travel details</h2>
{trips_flight_information:table class="admin striped" width="90%"}

  <aside>
    <nav>
      <ul class="reset">
        <li><a class="button blue" href="{path=dashboard/trips}"><i class="fa fa-caret-left fa-fw"></i>Back to Trips</a></li>
      </ul>
    </nav>
  </aside>
{/exp:channel:entries}

{exp:channel:form
  channel="trips"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  entry_id="{last_segment}"
  rte_selector=".WysiHat-field"
}
<h3 class="de-style">Trip Information</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
    {!-- {field:trips_notes} --}
  <textarea id="trips_notes" name="trips_notes" dir="ltr" rows="10" class="WysiHat-field">{trips_notes}</textarea>
</div>


<button type="submit" class="submit button" href="#">{if trips_notes == ''}Enter{/if}{if trips_notes != ''}Update{/if} Notes</button>
{/exp:channel:form}

</section>
