{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}

{exp:channel:entries
  channel="trips"
  disable="categories|category_fields|member_data|trackbacks"
  dynamic="no"
  orderby="title"
  sort="asc"
  pagination="bottom"
  limit="3"
  show_future_entries="yes"
}
{if count == "1"}
<table class="admin striped sorted filter less-headroom">
  <thead>
    <tr>
      <th class="">Trip Name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="8"></td>
    </tr>
  </tfoot>
  <tbody class="ajax-container" data-absolute-results="{absolute_results}">
{/if}
    <tr>
      <td>{title}</td>
{if '{parents:entry_ids field="contract_trip" status="not closed"}' != ''}
      <td class="action blue"><a class="" href="{path=dashboard/trip-details}/{entry_id}/"><i class="fa fa-users"></i>&emsp;View Travelers</a></td>
{if:else}
      <td class="center">No Travelers Assigned</td>
{/if}
{if '{parents:entry_ids field="passport_trip" status="not closed"}' != ''}
      <td class="action green"><a class="" href="{path=dashboard/trip-output}/{entry_id}/"><i class="fa fa-download"></i>&emsp;Download Passport Data</a></td>
{if:else}
      <td class="center">No Passports Provided</td>
{/if}
    </tr>
{if count == total_results}
  </tbody>
</table>
{!-- Load More --}
    <div class="load-container"></div>
    <div class="load-more" data-offset="{absolute_count}" data-limit="{total_results}" data-channel="{channel_name}"></div>
{!-- END Load More --}
{/if}
{!-- Pagination --}
{paginate}
  {pagination_links}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    sawtoursDash.loadMore('{segment_2}', {
      tableSelector : 'table.sorted',
      tablesorterOptions : {
        sortList : [[0,0]]
      }
    });
  });
</script>
<noscript>
{if segment_3 == 'all'}
      {first_page}
        <a href="{pagination_url}" class="page-first">First Page</a>
      {/first_page}

      {previous_page}
        <a href="{pagination_url}" class="page-previous">Previous Page</a>
      {/previous_page}

      {page}
        <a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a>
      {/page}

      {next_page}
        <a href="{pagination_url}" class="page-next">Next Page</a>
      {/next_page}

      {last_page}
        <a href="{pagination_url}" class="page-last">Last Page</a>
      {/last_page}
{/if}
{if segment_3 != 'all'}
        <a href="/{segment_1}/{segment_2}/all" class="page-all">We use javascript to sort these items. Either enable Javascript or click here to <strong>load all</strong> items. Thank you for being patient with a longer page load time.</a>
{/if}
</noscript>
  {/pagination_links}
{/paginate}
{!-- END Pagination --}
{/exp:channel:entries}
