{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile trip">

<?php
  $path = '';
  if (isset($_SERVER['HTTP_REFERER'])) {
    $prevPath = parse_url($_SERVER['HTTP_REFERER']);
    $path = $prevPath['path'];
  }
?>
{exp:channel:form
  channel="trip"
  status="trip-assigned"
  author_only="no"
  include_assets="yes"
  include_jquery="no"
  return="<?php echo $path; ?>"
  url_title="{last_segment}"
  rte_selector=".WysiHat-field"
}

<h1 class="de-style no-margin"><small class="blockify">Set Trip Status for</small>{embed="dashboard/_member-profile-name" author_id="{author_id}"}</h1>

<h2 class="de-style">Assign Trip</h2>
<p class="de-style">They chose and signed a contract for:<br>
  {embed="dashboard/_member-contract-trip-selected" author_id="{author_id}"}
</p>
<div class="group pulse-on-focus relationship">
  <label for="trip_selected_trip[data][]">Select a trip for this athlete.</label>
  {field:trip_selected_trip}
  <button type="submit" class="submit button small" href="#">Save Trip</button>
</div>

<h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="trip-assigned" {if '{status}' == 'trip-assigned'}checked{/if}><label for="status">Trip Assigned</label>
    <button type="submit" class="submit button small" href="#">Save Status</button>
</div>

<h3 class="de-style">Notes</h3>
<div class="group pulse-on-focus textarea" style="width: calc(100% - 1.5em);">
    <textarea id="trip_notes" name="trip_notes" dir="ltr" rows="10" class="WysiHat-field">{trip_notes}</textarea>
<button type="submit" class="submit button" href="#">{if trip_notes == ''}Enter{/if}{if trip_notes != ''}Update{/if} Notes</button>
</div>



{/exp:channel:form}

  <aside>
    <nav>
      <ul class="reset">
        <li><a class="button blue" href="{path=dashboard/trips}"><i class="fa fa-caret-left fa-fw"></i>Back to Trips</a></li>
      </ul>
    </nav>
  </aside>

</section>
