{layout="layouts/dashboard-page"}
{if logged_out}{redirect="/"}{/if}
{if member_group == 5}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value=""}
{!-- END pagetext entry_id --}


<section class="profile waiver">
{exp:channel:form
  channel="waiver"
  status="open"
  author_only="no"
  include_assets="no"
  include_jquery="no"
  return="{segment_1}/{segment_2}/{segment_3}"
  url_title="{last_segment}"
}

<h1 class="de-style no-margin"><small class="blockify">Set Waiver Status for</small>{embed="dashboard/_member-profile-name" author_id="{author_id}"}</h1>

<h2 class="de-style">Set Status</h2>
<div class="group pulse-on-focus checkbox">
  Signature:<br>{if '{waiver_signature}' != ''}<img src="data:{waiver_signature}"><br><i>({entry_date})</i><br>{/if}{if '{waiver_signature}' == ''}<div class="group sized quarter red">NOT SIGNED</div>{/if}
  <input type="hidden" name="status" value="open">
  <input type="checkbox" id="status" name="status" value="waiver-signed" {if '{status}' == 'waiver-signed'}checked{/if}><label for="status">Waiver Signed</label>
</div>

<button type="submit" class="submit button" href="#">{if waiver_notes == ''}Save{/if}{if waiver_notes != ''}Update{/if}</button>

<aside>
  <nav>
    <ul class="reset">
      <li><a class="button blue" href="/dashboard/profile/{embed='dashboard/_member-profile-any-tag' author_id='{author_id}' tag_name='url_title'}"><i class="fa fa-caret-left fa-fw"></i>View Profile</a></li>
    </ul>
  </nav>
</aside>

{/exp:channel:form}
</section>
