// ------------------------------
// Custom color variables
// ------------------------------
$white       : rgb(255, 255, 255);
$almost-white: rgb(240, 239, 237);

$black       : rgb(45, 38, 25);
//$red         : rgb(161, 14, 33);
$red         : rgb(236,28,36); //bright SAW
//$blue        : rgb(22, 44, 99);
$blue        : rgb(3, 78, 161); //bright SAW

$gray        : mix($black, $white, 50%);

$orange      : #DA4D25;
$green       : #417505;

$swatch-one  : $blue;
$swatch-two  : $red;

$facebook    : rgb(69,88,152);
$twitter     : rgb(36,169,230);
$linkedIn    : rgb(24,127,184);

// Color Map so that we can ultimately call our colors with
// background-color: color(swatch-one, x-dark) 
// OR
// color: color(red);
// using the @function following the map
// psst! these are fun - http://compass-style.org/reference/compass/helpers/colors/
$colors : (
  white : (
    base  : $white,
    light : rgba(255, 255, 255, 0.8),
    dark  : $almost-white
  ),
  black : (
    base  : $black,
    light : transparentize($black, 0.5),
    dark  : rgba(0,0,0,1.0)
  ),
  gray : (
    base  : $gray,
    light : tint($gray, 25%),
    dark  : shade($gray, 25%)
  ),
  red   : (
    base  : $red,
    light : rgb(196, 8, 36),
    dark  : rgb(152, 19, 31)
  ),
  swatch-one : (
    x-light   :  tint($swatch-one, 33%),
    light     :  rgb(99, 114, 150),
    med-light :  tint($swatch-one, 15%),
    base      :       $swatch-one,
    med-dark  : shade($swatch-one, 10%),
    dark      :   rgb(15, 29, 66),
    x-dark    : shade($swatch-one, 33%)
  ),
  swatch-two : (
    x-light   :  tint($swatch-two, 33%),
    light     :  rgb(196, 8, 36),
    med-light :  tint($swatch-two, 10%),
    base      :       $swatch-two,
    med-dark  : shade($swatch-two, 10%),
    dark      :   rgb(152, 19, 31),
    x-dark    : shade($swatch-two, 33%)
  ),
  logo : (
    red   : rgb(236,28,36),
    blue  : rgb(3, 78, 161)
  )
);
// This function makes the magics happen
// pass in a color and a tone. If no tone is passed, 'base' is defaul
@function color($color, $tone: 'base') {
  @return map-get(map-get($colors, $color), $tone);
}
//This is a test rule to see the color() function in action
//body { border: 10px solid color(red, dark); }

// ------------------------------
// Divs and spans to test or implement colors
// <div class="logo red">…</div> OR
// <span class="swatch-two x-dark">…</span>
// ------------------------------

@each $color, $swatch in map-keys($colors) {
  span.#{'' + $color} {
    color: color($color, base);
    @each $tone, $value in map-get($colors, #{$color}) {
      @if $value == null {$tone: 'base';}
      &.#{'' + $tone} {
        color: color($color, $tone);
      }
    }
  }
  div.#{'' + $color} {
    color: background-color($color, base);
    @include contrasted(color($color, base));
    @each $tone, $value in map-get($colors, #{$color}) {
      @if $value == null {$tone: 'base';}
      &.#{'' + $tone} {
        background-color: color($color, $tone);
        @include contrasted(color($color, $tone));
      }
    }
  }
}
