$body-bg-color   : $white;
$mobileTouchSize : 44px;

$radius: 2px;

@mixin body-background {
//  $width: 48px;
//  $height: 48px;
//  background-image: url(/images/site_images/bg@2x.jpg);
  $width: 466px;
  $height: 349px;
  background-color: color(white, dark);
  background-image: url(/images/site_images/asfalt-dark.png);
  background-size: ($width / 3) ($height / 3);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
  }
}

@mixin blue-gradient {
  background-color: color(swatch-one);
  @include background-image(linear-gradient(color(swatch-one, light), color(swatch-one, dark)));
}

@mixin red-gradient {
  background-color: color(swatch-two);
  @include background-image(linear-gradient(color(swatch-two, x-light), color(swatch-two, med-dark)));
}

//Phone specific items; hidden on other views
.mobile-only {
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    display:none;
  }
}

//Items hidden at phone view, but visible on other views
.no-mobile {
  display:none;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    display:block;
    ul{
      li{
        display: list-item;
      }
    }
  }
}

/* body */
body {
  @include body-background;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
  }
}


/* header */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: color(swatch-one);
  height: 42px;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 100;
  .logo {
    width: calc(129px + 32px);
    @include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
    float: right;
  }
  & + a[href="#navigation"] {
    position: fixed;
    top: 0px;
    left: 0.25em;
    height: 50px;
    z-index: 101;
  }
  &.open {
    .logo {
      opacity: 0.4;
    }
  }
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
  }
}

.logo {
  $width: 258px;
  $height: 86px;
  display: block;
  width: ($width / 2);
  height: ($height / 2);
  background-image: url(/images/site_images/logo@2x.png);
  background-size: ($width / 2) ($height / 2);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top left;
  @include hide-text;
}

/* Navigation components */
//for ADA/UI/UX/being-nice, a skip-nav at the top of the page allows keyboards/assistive-devices to jump to main content
a.skip-navigation {
  $height: 40px;
  $padding: 6px;
  $borderWidth : 1px;

  height: $height - (2 * $padding);
  padding: $padding;
  position: absolute;
  top: ( -$height - (2 * $borderWidth) ) - $mobileTouchSize;
  left:0px;
  color:$white;
  line-height: $height - $padding;
  border-right:$borderWidth solid transparentize($white, 0.8);
  border-bottom:$borderWidth solid transparentize($white, 0.8);
  border-bottom-right-radius:2 * $borderWidth;
  background:transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
          transition: top 1s ease-out, background 1s linear;
  z-index: 10001;
  &:focus {
    position:absolute;
    left:0px;
    top:0px;
    background:transparentize($link-color, 0.2);
    outline:0;
    -webkit-transition: top .1s ease-in, background .5s linear;
            transition: top .1s ease-in, background .5s linear;
  }
}

/* hamburger icon */
.svg-menu-toggle {
  fill: color(white);
  pointer-events:all; //needs to be there so the hover works
  cursor:pointer;
  .bar {
    opacity:1;
    @include transform(rotate(0) translateY(0) translateX(0));
    @include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
    -moz-transform-origin: 20px 10px;
    -ms-transform-origin: 20px 10px;
    -webkit-transform-origin: 20px 10px;
    transform-origin: 20px 10px;
    &:nth-of-type(1) {
      -moz-transform-origin: 20px 10px;
      -ms-transform-origin: 20px 10px;
      -webkit-transform-origin: 20px 10px;
      transform-origin: 20px 10px;
    }
    &:nth-of-type(3) {
      -moz-transform-origin: 20px 20px;
      -ms-transform-origin: 20px 20px;
      -webkit-transform-origin: 20px 20px;
      transform-origin: 20px 20px;
    }
  }
//  #navigation &,
  .open + * &,
  &:hover {
    .bar {
      &:nth-of-type(1) {
        @include transform(rotate(-45deg) translateY(0) translateX(0));
      }
      &:nth-of-type(2) {
        opacity:0;
      }
      &:nth-of-type(3) {
        @include transform(rotate(45deg) translateY(0em) translateX(0em));
      }
    }
  }
}
.navburger {
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    display: none;
  }
}

/* on/off screen */
#navigation {
  display: block;
  position: fixed;
  top: 50px;
  left:0;
  padding-top: 1em;
  padding-bottom: 5em;
  height: calc(100vh - 50px - 6em);
  opacity: 0.5;
  z-index: -1;
  @include transform(translateX(-100vw));
  @include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
  &:target,
  &.open {
    @include transform(translateX(0));
    opacity: 1;
    z-index: 200;
  }
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    @include transform(translateX(0vw));
    opacity: 1;
    z-index: 0;
  }
}

/* nav items */
#navigation {
  a {
    $height: 40px;
    $padding: 5px;
    display: block;
    height: $height;
    margin-bottom: 2px;
    background-color: color(swatch-one, light);
    @include box-shadow(0px 1px 0px color(swatch-one, x-dark));
    padding: $padding 0 $padding 1em;
    width: calc(100vw - 2em);
    color: color(white);
    @include adjust-font-size-to(15px);
    line-height: $height;
    &.close {
      background-color: transparent;
      width: 100%;
      padding-left: 0;
      opacity: 0;
      position: absolute;
      top: -50px;
    }
    &.long-line {
      line-height: 20px;
    }
    .text {
      float: left;
    }
    .icon {
      width: 50px;
      height: $height + ($padding * 2);
      margin-top: -$padding;
      text-align: center;
      background-color: color(swatch-two);
      float:right;
      position: relative;
      &::after {
        content: '\f00d';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        line-height: 50px;
        margin: 0 0.5em;
        speak: none;
        -webkit-font-smoothing: antialiased;
      }
    }
    &.incomplete {
      .icon {
        &::after {
          content: '\f00d';
        }
      }
    }
    &.in-progress {
      background-color: color(swatch-one, med-light);
      cursor: default;
      .icon {
        &::after {
          content: '';
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAABGdBTUEAALGPC/xhBQAAAVBJREFUSA21lTGOwjAQRTEnoKRNS4dyAIotOAftVihn4Azbcog9AR0NLQUNLXdA2vAfZLQTrSEO8X7pa+x45k/ieMZh9AJ1XZdaXokzsRCn4kU8i0dxG0I4yKZDoktxL6YAv2WnupzG4kb8EfsAf+LG0SQsiN+ix0mTtTgXJ37hyZj4vwn0kMyGqwaVGPyb2GKH3fiYkZzZY9sKhD9aDs2kQ9SW0fn9B5r4n1fFhHlm0Ql2f9eQY+mc2ePWVvhEzi9lWLL5nGPDl85tbZOBdoU4BWLY2SCDnSFeOCEqLxcKxCnp/8AUcXqFwX+FPXvXXhD3W7F4VykSd0ac7mb4fHUUzSnRHikMf845vzmKCB3a9b3yfIUOLX+EHxXaiPvewuKQxtXuLU0C3xVJAPq2XGLaXbERj/VznPsg3s9dgvw3EeIGvWqWOzSYYMwqyaDb/wa/YpcD4mKJmAAAAABJRU5ErkJggg==');
          background-repeat: no-repeat;
          background-position: center center;
          margin:0;
        }
      }
    }
    &.complete {
      background-color: color(swatch-one);
      &[href$="edit"] {
        cursor: pointer;
      }
      .icon {
        &::after {
          content: '\f05d';
        }
      }
    }
    &.editable {
      .text {
        &:before {
          content: '\f040';
          font-family: FontAwesome;
          margin-right: 1rem;
        }
      }
    }
    &,
    .icon {
      @include border-radius(0px $radius $radius 0px);
    }
    &.further-actions {
      background-color: color(swatch-two);
    }
    &[href*="void(0)"] {
      cursor: default;
    }
  }
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    padding-top: 1em;
    a {
      width: calc(100% - 1em);
      &.close {
        display: none;
      }
    }
  }
}

/* main */
main {
  @include transition(transform 0.4s ease-in-out, opacity 0.2s ease-in-out);
  margin-top: 50px;
  padding-top: 1px;
  h1 {
    margin-top: 0;
  }
  #navigation:target + &,
  #navigation.open + & {
    @include transform(translateX(100vw));
  }
}

/* page icon */
.page-icon {
  width: 250px;
  height: 250px;
  margin: 16px auto 50px;
  @include adjust-font-size-to(250px);
  @include text-shadow(2px 2px 1px rgba(0,0,0,0.31));
  text-align: center;
  &.hold {
    color: color(red);
  }
}

/* tablet/desktop page text */
h2.status,
h2.instructions,
div.block-text,
.student form {
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    width: 20em;
    margin-right: auto;
    margin-left: auto;
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    max-width: 52em;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Button Definitions */
.button-box {
  @include clearfix;
  overflow: visible;
  a, button{
    @include float-right;
  }
}
a, button {
  &.button {
    display: block;
    text-align: center;
//    border: none;
    margin: 0.5em 0;
    height: auto;
    background: red;
    padding: 1em;
    color: color(white);
    font-weight: 700;
    @include red-gradient;
    border: 1px solid color(swatch-one);
    @include border-radius($radius);
    -webkit-appearance: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: color(white);
    }
    &.small {
      font-size: 0.8em;
    }
    &.medium {
    }
    &.large {
      font-size: 1.33em;
    }
    &.full-width {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &.white {
      background-color: transparentize(color(white), 0.45);
      background-image: none;
      color: color(swatch-two);
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: color(swatch-two);
      }
    }
    &.blue {
      background-color: color(swatch-one);
      background-image: none;
      color: color(white);
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: color(white);
      }
    }
    &.orange {
      background-color: #DA4D25;
      background-image: none;
      color: color(white);
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: color(white);
      }
    }
    &.green {
      background-color: #417505;
      background-image: none;
      color: color(white);
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: color(white);
      }
    }
  }
  &.float-right {
    margin-left: 1em;
  }
}
input[type="submit"] {
  @extend button.button;
}
#cform a,
#cform button {
  @extend a, button;
  background-image: none;
  &.blue {
    background-color: color(swatch-one) !important; // krikey i hate #cform
  }
}

/* bottom button */
.bottom-button-wrapper {
  min-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
.bottom-button {
  @include base;
  @include text-shadow(1px 1px 1px color(swatch-one, x-dark));
  &[data-button-style="Next"] {
    @include adjust-font-size-to(12px);
    line-height: 1.1;
    $width: 340px;
    $height: 60px;
    display: table-cell;
    vertical-align: middle;
    min-width: 200px;
    max-width: $width;
    width: calc(100% - 2em);
    height:$height;
    border: none;
    background-color: transparent;
    background-image: url(/images/site_images/next-button.svg);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &[data-button-style="Save"] {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
  }
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    &[data-button-style="Next"] {
      @include adjust-font-size-to(16px);
    }
  }
}
#cform button.bottom-button{
  @extend .bottom-button;
}

/* progress bar */
.progress-bar {
  display: block;
  width: auto;
  height: 26px;
  margin: 1em auto;
  position: relative;
  background-color: transparentize(color(white), 0.4);
  border: 1px solid color(swatch-one);
  @include box-shadow(inset -1px 1px 2px 0px transparentize(color(black), 0.5));
  @include border-radius(2px);
  &::after {
    content: '\f0ac\002006'; //fa-globe and 1/6emspace
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 8px;
    @include red-gradient();
    border-right: 1px solid color(swatch-one);
    @include border-radius(0px 8px 8px 0px);
    @include box-shadow(1px 1px 1px 0px transparentize(color(black), 0.8));
    @include transition(width ease-out 1s);
    font-family: FontAwesome, sans-serif;
    color: color(white);
    text-shadow: 0px 0px 3px transparentize(color(black), 0.05);
    line-height: 26px;
    text-align: right;
    font-size: 42px;
  }
  &::before {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    text-align: right;
    font-size: 10px;
    line-height: 26px;
    opacity: 0.5;
  }
  @for $i from 1 through 100 {
    &[data-percent="#{$i}"] {
      &::after { width: $i * 1%;}
      &::before {
        content: '#{$i}% Complete!';
        @if $i > 73 {
          text-align: left;
          left: 1rem;
          color: color(white);
          z-index: 1;
        }
      }
    }
  }
}

/* form head */
.form-head {
  display: block;
  width: auto;
  height: 2em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 0em;
  text-align: center;
  background-color: color(swatch-one);
  color: color(white);
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    @include border-radius($radius);
  }
}

/* profile pic */
.profile-pic {
  display: block;
  box-shadow: 0px 0px 0px 2px color(swatch-one);
  margin: 1rem auto;
  border-radius: ($radius / 2);
  max-height: 200px;
  height: auto;
  width: 100%;
  max-width: 240px;
  .dashboard & {
    max-height: inherit;
  }
}

img.styled {
  box-shadow: 0px 0px 0px 2px color(swatch-one);
  border-radius: ($radius / 2);
}

/* horizontal rule */
hr {
  border:none;
  display: block;
  background-color: transparent;
  height: 1px;
  &.bar {
    background-color: color(swatch-one);
  }
}

/* form submittal overlay */
.page-overlay {
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 75vh;
  padding-top: 25vh;
  text-align: center;
  z-index: 9999999;
}

/*******
 ADMIN DASHBOARD
 *******/

.dashboard {
  h1 {
    text-align: left;
  }
  h2 {
    text-align: left;
  }
}
.count{
  color:$white;
  float:right;
  margin:5px 100px 5px 10px;
  font-size: 1.3em;
}
/* profile pic */
.profile-pic {
  .dashboard & {
    float: right;
    margin-right: 2rem;
    margin-left: 1em;
  }
}

/* progress bar */
.progress-bar {
  table.admin & {
    height: 0.5rem;
    width: 50px;
    &::after {
      line-height: 0.5rem;
      font-size: 1rem;
    }
    &::before {
    }
    @for $i from 1 through 100 {
      &[data-percent="#{$i}"] {
        &::after { width: $i * 1%;}
        &::before {
          content: '';
        }
      }
    }
  }
}

/* search box */
.search-box {
  $height: 32px;
  background-color: $white;
  border: 2px solid color(swatch-one, dark);
  border-radius: $radius;
  display: block;
  height: $height + 1px;
  position: relative;
  margin: 2px 2em;
  width: 300px;

  input[type="text"],
  button {
    min-height: $height;
    margin: 0;
    height: $height;
    border: none;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-appearance: none; /* to remove inset shadow for iOS */
  }
  input[type="text"] {
    padding: 6px;
    font-size: 1.25em;
    background-color: transparent;
    left: 0;
    right: $height;
    @include base;
    font-weight: 300;
    &:focus {
      outline: none;
      background-color: transparent;
      border: none;
    }
  }
  button {
    height: $height;
    background-color: transparent;
    color: color(swatch-one);
    font-size: 20px;
    border-radius: 0 $radius $radius 0;
    width: $height;
    right: 0;
    cursor: default;
    span {
      margin: auto;
      &.fa-times {
        cursor: pointer;
      }
    }
  }

}

/* navigation */
nav.dashboard-navigation {
  margin-top: 2em;
  ul {
    $normalHeight: 2em;
    $hoverHeight: 3em;
    @include list-reset;
    display: block;
    width: 100%;
    clear: both;
    @include adjust-font-size-to(16px);
    height: $hoverHeight;
    overflow: visible;
    li {
      position: relative;
      display: inline-block;
      float: left;
      margin-right: 2px;
      height: $hoverHeight;
      width: calc((100% / 9) - 2px);
      &:last-child {
        margin-right: 0px;
        width: calc((100% / 9));
      }
      a {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: $normalHeight;
        text-align: center;
        background-color: color(swatch-one, dark);
        @include base-bold;
        @include adjust-font-size-to(14px);
        line-height: 2em;
        color: color(white);
        @include transition(height 0.3s ease-in,
                            background-color 0.3s ease-in,
                            box-shadow 0.3s ease-in);
        &:hover,
        &:visited {
          padding-top: ($normalHeight / 2);
          background-color: color(swatch-one, dark);
          color: color(white);
          @include transition(padding-top 0.3s ease-out,
                              background-color 0.3s ease-out,
                              box-shadow 0.3s ease-out);
        }
      }
      &.current {
        a {
          padding-top: ($normalHeight / 2);
          text-decoration: none;
          @include transition(padding-top 0.3s ease-out,
                              background-color 0.3s ease-out,
                              box-shadow 0.3s ease-out);
        }
      }
      &.interviews {
        a {
          background-color: #CC0000;
        }
      }
      &.contracts {
        a {
          background-color: #B30000;
        }
      }
      &.waivers {
        a {
          background-color: #990000;
        }
      }
      &.payments {
        a {
          background-color: #800000;
        }
      }
      &.trips {
        a {
          background-color: #660000;
        }
      }
      &.passports {
        a {
          background-color: #4F0000;
        }
      }
    }
  }
}

/* table */
table.admin {
  width: 100%;
  background-color: $body-bg-color;
  thead {
    tr {
      th {
        @include base;
        @include adjust-font-size-to(12px);
        border-bottom: 1px solid color(swatch-one);
        &.fn { width: 8em; }
        &.ln { width: calc(9em + 73px); }
        &.p { width: 9em; }
        &.visit { width: 7em; }
        &.contacts {width:16em;}
      }
    }
  }
  tbody {
    @include adjust-font-size-to(14px);
    tr {
      td {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
//        white-space: nowrap;
        vertical-align: middle;
        height: 60px;
        &.action {
          white-space: inherit;
          background-color: color(swatch-one);
          text-align: center;
          a {
            color: color(white);
          }
        }
        &.action,
        &:last-child {
          min-width: 150px;
          width: 100px;
        }
        &.blue {
          background-color: color(swatch-one);
          text-align: center;
          a {
            color: color(white);
          }
        }
        &.orange {
          background-color: $orange;
          text-align: center;
          a {
            color: color(white);
          }
        }
        &.green {
          background-color: $green;
          text-align: center;
          a {
            color: color(white);
          }
        }
        &.paid {
          background-color: $green;
          text-align: center;
          a {
            color: color(white);
          }
        }
        p{
          line-height:1.3em;
          margin:0 0 1em 0;
        }
      }
      th {
        vertical-align: middle;
        text-align: left;
      }
    }
  }
  &.interviews, &.payments {
    tr {
      td {
        &.action,
        &:last-child {
          width: 200px;
        }
      }
    }
  }
}
/* tablesorter */
table.sorted {
  .header {
    position: relative;
    cursor: pointer;
    height: 2em;
    padding-left: 1em;
    &::after {
      font-family: 'FontAwesome';
      display: block;
      position: absolute;
      left: 3px;
      top: 0;
      bottom: 0;
      width: 16px;
      line-height: 3em;
      content: '\f0dc';
      opacity: 0.5;
    }
    &.headerSortUp::after {
      content: '\f077';
      opacity: 1;
    }
    &.headerSortDown::after {
      content: '\f078';
      opacity: 1;
    }
  }
}

/* profile */
section.profile {
  width: calc(75% - 2em - 2px);
  padding: 1em calc(25% - 1em) 1em 1em;
  border: 1px solid color(swatch-one);
  border-radius: $radius;
  background-color: color(white);
  margin-top: 1em;
  position: relative;
  aside {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid color(swatch-one);
    float: right;
    width: calc(25% - 2em);
    padding: 1em;
    background-color: transparentize(color(swatch-one) , 0.75);
  }
  &.closed,
  &.archived {
    border-color: $orange;
    padding-top: 2em;
    &::before {
      content: 'archived';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 25%;
      left: 0;
      background-color: $orange;
      color: color(white);
      font-size: 0.75em;
      font-style: italic;
      text-shadow: 1px 1px 1px color(black, light);
      padding: 0.25em 1em;
      border-radius: 0px 0px 0.25em 0px
    }
  }
}

/* signature */
#signature {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px dashed rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  position: relative;
  &::before {
    content: 'Sign Here';
    display: inline-block;
    position: absolute;
    width: auto;
    height: auto;
    top: -1px;
    left: -1px;
    background-color: transparentize(color(swatch-two), 0.75);
    color: color(swatch-two);
    text-shadow: 1px 1px 1px color(white);
    padding: 0.125rem 0.5rem;
    font-size: 0.67rem;
    border: 1px dashed rgba(0,0,0,0.2);
    border-left: none;
    border-top: none;
  }
  #reset-signature {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    display: block;
    font-size: 0.75rem;
    margin: 0;
    padding: 0.125rem 0.5rem;
  }
}
