$borderWidth            : 1px;
$borderRadius           : 2px;
$padding                : 0.5em 6px; // [<top> <right> <bottom> <left> OR shorthand/single]

$fontFamily             : $base;
$fontSize               : 1em;
$fontWeight             : 400;
$fontColor              : transparentize(color(black), 0.1);

$static_backgroundColor : color(white, light);
$static_borderColor     : color(gray);
$static_fontColor       : $fontColor;

$radio_uncheckedColor   : color(swatch-one);
$radio_checkedColor     : color(swatch-two);

$focus_backgroundColor  : color(white, light);
$focus_borderColor      : color(swatch-one, dark);
$focus_outlineColor     : color(swatch-one, med-dark);
$focus_fontColor        : color(black);

$error_backgroundColor  : color(red, x-dark);
$error_borderColor      : color(red, dark);
$error_outlineColor     : color(red, med-dark);
$error_fontColor        : color(red);

@mixin outline {
  $width:  ($borderWidth * 2);  // [thin|medium|thick|length|inherit]
  $color:  $focus_outlineColor; // [color_name|hex_number|rgb_number|invert|inherit]
  $style:  solid;               // [none|dotted|dashed|solid|double|groove|ridge|inset|outset|inherit]
  $offset: $borderWidth;

  &:focus {
    outline-color: $color;
    outline-width: $width;
    outline-style: $style;
    outline-offset: $borderWidth;
  }
  .error &:focus,
  div.formError[style^="opacity: 0."] + &:focus,
  &:focus.error {
    outline-color: $error_outlineColor;
    outline-width: $width;
    outline-style: $style;
    outline-offset: $borderWidth;
  }
}

@mixin input-style {
  -webkit-appearance: none;
  background: $static_backgroundColor;
  border: $borderWidth solid $static_borderColor;
  font-size: $fontSize;
  min-height: (2 * $fontSize);
  padding: $padding;
  width: 100%;
  color: $fontColor;
  &:focus,
  &:target {
    color: $focus_fontColor;
    background-color: $focus_backgroundColor;
    border: $borderWidth solid $static_borderColor;
  }
  .error &:focus,
  div.formError[style*="opacity: 0."] + &:focus,
  div.formError[style*="opacity: 0."] + &,
  &:focus.error {
    color: $error_fontColor;
    background-color: $error_backgroundColor;
  }
  @include outline;
  &[size="1"] { width: (1 * $fontSize); }
  &[size="2"] { width: (2 * $fontSize); }
  &[size="3"] { width: (3 * $fontSize); }
  &[size="4"] { width: (4 * $fontSize); }
  &[size="5"] { width: (5 * $fontSize); }
  &[type="submit"],
  &[type="reset"] {
    background-color: $link-color;
    background-image: none;
    color: $white;
    &:hover {
      background-color: $link-hover-color;
      background-image: none;
    }
  }
  &[readonly] {
    background-color: mix($static_backgroundColor, $static_fontColor, 95%);
    color:            mix($static_backgroundColor, $static_fontColor,  5%);
    font-size: ($fontSize * 0.8);
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    font-size: 16px !important; // prevents zoom on focus in mobile
  }
}

@-webkit-keyframes animate-shadow {
  0% {
    box-shadow: 0px 0px 50px 25px $focus_borderColor;
  }
  100% {
    box-shadow: 0px 0px 0px 0px $focus_borderColor;
  }
}

@keyframes animate-shadow {
  0% {
    box-shadow: 0px 0px 50px 25px $focus_borderColor;
  }
  100% {
    box-shadow: 0px 0px 0px 0px $focus_borderColor;
  }
}

form {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  @include pie-clearfix;
  *,
  *::before,
  *::after {
       -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .group {
    &.radio {
      &.inline {
        label {
          margin-right: (1.5 * $fontSize);
        }
      }
    }
  }
}

input[type="email"],
input[type="date"],
input[type="text"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  @include input-style;
}

input[type="radio"],
input[type="checkbox"] {
  &:not(old) {
    // :not psuedo-selector is used to target modern broswers.
    // "old" browsers ignore these rules and display system defaults
    width: (2 * $fontSize);
    margin: 0;
    padding: 0;
    opacity: 0;
    & + label {
      line-height: (2 * $fontSize);
      vertical-align: middle;
      &::before {
        display: inline-block;
        font-family: 'FontAwesome';
        font-size: (2 * $fontSize);
        color: $radio_uncheckedColor;
        height: (2 * $fontSize);
        line-height: (2 * $fontSize);
        margin-left: -$fontSize;
        margin-right: (0.5 * $fontSize);
        vertical-align: middle;
      }
    }
    &:checked {
      & + label {
        &::before {
          color: $radio_checkedColor;
        }
      }
    }
    &:focus {
      & + label {
        box-shadow: 0px 0px 2px 0px $focus_outlineColor;
      }
    }
  }
}
input[type="radio"] {
  &:not(old) {
    & + label {
      &::before {
        content: '\f10c';
      }
    }
    &:checked {
      & + label {
        &::before {
          content: '\f192';
        }
      }
    }
  }
}
input[type="checkbox"] {
  &:not(old) {
    & + label {
      &::before {
        content: '\f096';
      }
    }
    &:checked {
      & + label {
        &::before {
          content: '\f046';
        }
      }
    }
  }
}

textarea {
  resize: vertical;
}

label {
  font-size: (0.85 * $fontSize);
}

/* Group control */
.group {
  $marginTop: 1em;
  margin-top: $marginTop;
  position: relative;
  &.sized {
    // USAGE: <div class="group sized [half|third|quarter]><label....input></div>"
    // sizes form groups and lays them out in a row at tablet and larger
    $marginPercent : 2%;
    @include susy-breakpoint($tablet_breakpoint, $tablet) {
      float: left;
    }
    &.half {
      @include susy-breakpoint($tablet_breakpoint, $tablet) {
        $width: 50%;
        width: $width;
        *[class*="sized"] ~ &:not(.new-row) {
          width: $width - $marginPercent;
          margin-left: $marginPercent;
        }
        .group:not(*[class*="sized"]) + & {
          width: $width;
          margin-left: 0;
        }
      }
    }
    &.third {
      @include susy-breakpoint($tablet_breakpoint, $tablet) {
        $width: 33%;
        width: $width;
        *[class*="sized"] ~ &:not(.new-row) {
          width: $width - $marginPercent;
          margin-left: $marginPercent;
        }
        .group:not(*[class*="sized"]) + & {
          width: $width;
          margin-left: 0;
        }
      }
    }
    &.quarter {
//      @include susy-breakpoint($tablet_breakpoint, $tablet) {
        float: left;
        $width: 25%;
        width: $width;
        *[class*="sized"] ~ &:not(.new-row) {
          width: $width - $marginPercent;
          margin-left: $marginPercent;
        }
        .group:not(*[class*="sized"]) + & {
          width: $width;
          margin-left: 0;
        }
//      }
    }
    &.three-quarter {
//      @include susy-breakpoint($tablet_breakpoint, $tablet) {
  float: left;
        $width: 75%;
        width: $width;
        *[class*="sized"] ~ &:not(.new-row) {
          width: $width - $marginPercent;
          margin-left: $marginPercent;
        }
        .group:not(*[class*="sized"]) + & {
          width: $width;
          margin-left: 0;
        }
//      }
    }
    & + .group:not(*[class*="sized"]) {
      &::before {
        content: '';
        display: table;
        clear: left;
        height: $marginTop;
      }
    }
  }
  &.readonly {
    label {
      &::after {
        display: inline-block;
        height: $fontSize;
        bottom: -$fontSize;
        content: '(Read Only)';
        color: transparentize($static_fontColor, 0.05);
        font-size: ($fontSize * 0.75);
        line-height: $fontSize;
      }
    }
  }
}

/* Fancy Stylized Inputs 
 * inspired by http://tympanus.net/Development/TextInputEffects/ */
.group.pulse-on-focus {
  // Pulse on Focus
  //  **add class="pulse-on-focus" to your label + input containing div.group
  display: block;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  input[type="email"],
  input[type="date"],
  input[type="text"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    &:focus {
      outline-width: $borderWidth;
      background-color: $focus_backgroundColor;
      -webkit-animation: animate-shadow 0.3s normal;
              animation: animate-shadow 0.3s normal;
    }
  }
}

.group.radio.switcher {
/*  insipired by http://cssdeck.com/labs/radio-button
  <div class="group radio switcher">
    <!-- #blank is optional, but recommended - it allows users to not answer the question-->
    <label for="blank">So here's the Yes or No Question...</label>
    <input type="radio" name="field_name" id="blank" value="" checked>
    <input type="radio" name="field_name" id="yes"   value="yes">
    <input type="radio" name="field_name" id="no"    value="no">
    <div class="switch">
      <label for="yes">Yes</label>
      <label for="no" >No</label>
      <span></span>
    </div>
  </div>
  */
  position: relative;
  > label {
    display: block;
    text-align: center;
  }
  input[type="radio"] {
    display: none;
  }
  .switch {
    width: calc(100% - 2em);
    height: 2em;
    text-align: center;
    margin: 0 auto;
    background: $radio_checkedColor;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 1em;
    position: relative;
    span {
      position: absolute;
      width: 20px;
      height: 4px;
      top: 50%;
      left: 50%;
      margin: -2px 0px 0px -4px;
      background: $white;
      display: block;
      -webkit-transform: rotate(-45deg);
      -webkit-transition: all 0.2s ease;
      transform: rotate(-45deg);
      transition: all 0.2s ease;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 12px;
        margin-top: -8px;
        background: $white;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      &:before {
        content: 'or';
        -webkit-transform: rotate(45deg);
        display: block;
        position: absolute;
        top: -17px;
        left: -2px;
        z-index: 100;
        color: $static_borderColor;
        font-size: 0.8em;
        text-transform: uppercase;
      }
    }
    label {
      cursor: pointer;
      color: transparentize($white, 0.5);
      width: 50%;
      line-height: (2 * (1 / 0.85))em;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      &[for*="yes"] {
        position: absolute;
        left: 0px;
        height: 20px;
      }
      &[for*="no"] {
        position: absolute;
        right: 0px;
      }
    }
  }
  label[for*="blank"] {
    &:after {
      content: ' (reset)';
      font-size: 0.8em;
      font-style: italic;
      cursor: pointer;
    }
  }
  #no:checked{
      ~ .switch {
      background: $static_borderColor;
      span {
        background: $radio_checkedColor;
        margin-left: -8px;
        &:after {
          background: $radio_checkedColor;
          height: 20px;
          margin-top: -8px;
          margin-left: 8px;
        }
        &:before {
          display: none;
        }
      }
      label[for*="no"] {
        color: $white;
        font-weight: 700;
      }
    }
  }
  #yes:checked {
    ~ .switch {
      span {
        &:before {
          display: none;
        }
      }
      label[for*="yes"] {
        color: $white;
        font-weight: 700;
      }
    }
  }
  #blank:checked {
      ~ .switch {
      background: $static_backgroundColor;
      border: 1px solid $static_borderColor;
      label {
        color: $static_fontColor;
      }
    }
  }
}

/* embedded labels */
.embedded-labels {
  div.embedded-label {
    position: relative;
    label {
      position: absolute;
      top: 0.5em;
      bottom: 0.5em;
      left: 0.5em;
      vertical-align: middle;
      font-size: 1em;
      line-height: 2em;
      cursor: text;
      opacity: 0.5;
      @include transition(all ease-in-out 0.5s);
    }
    input {
      padding: 0.75em 6px;
      min-height: 3em;
    }
    &.fn_formFocus-filled {
      label {
        top: 0.25em;
        left: 0.75em;
        font-size: 0.67em;
        line-height: 1em;
        color: $focus_borderColor;
        opacity: 1;
        @include text-shadow(1px 1px 1px rgba(0,0,0,0.1));
      }
    }
  }
}

/* honey pot */
.screen-reader {
  display: block !important;
  left: -9999px !important;
  position: absolute !important;
}

/* site specific overrides */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.group.select {
  label {
    display: block;
    font-size: 0.8em;
  }
}

/* GRID */
#cform {
  .grid-publish {
    padding: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    background-color: rgba(255,255,255,0.8);
  }
/* custom file inputs */
  &.custom-fields {
// hat-tip: http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
    input.inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      & + label {
        //applied class ghost-button
        @extend button.button;
        @include base-bold;
        @include text-shadow(1px 1px 1px rgba(0,0,0,0.5));
        cursor: pointer;
      }
      &:focus + label {
        $width:  ($borderWidth * 2);  // [thin|medium|thick|length|inherit]
        $color:  $focus_outlineColor; // [color_name|hex_number|rgb_number|invert|inherit]
        $style:  solid;               // [none|dotted|dashed|solid|double|groove|ridge|inset|outset|inherit]
        $offset: $borderWidth;
        outline: $width $style $color;
  //      outline: -webkit-focus-ring-color auto 5px;
      }
      &:focus + label,
      & + label:hover {
  
      }
    }
    .remove-file {
      float: right;
      margin-top: -4px;
    }
  }
  // stupid cform... making me mark things as important. why WHY would <i> and <b> be reset?!
  i { font: italic normal 1em $base !important;}
  b { font: normal 700 1em $base !important;}
  .fa {
    font-family: FontAwesome !important;
    color: currentColor;
    font-style: normal !important;
  }
}

