html,body { margin: 0; padding: 0; }
/*
 *  Susy 2 layout definitions
 */

/* Susy runs with the following defaults for the global susy layout map.
  $susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: auto,
    container-position: center,
    columns: 4,
    gutters: .25,
    column-width: false,
    global-box-sizing: content-box,
    last-flow: to,
    debug: (
      image: hide,
      color: rgba(#66f, .25),
      output: background,
      toggle: top right,
    ),
    use-custom: (
      background-image: true,
      background-options: false,
      box-sizing: true,
      clearfix: false,
      rem: true,
    )
  );
*/
// Override any of these with a $susy Map
// For more on Sass Maps, look here http://www.sitepoint.com/using-sass-maps/ -- and google it :wink: .
// Actuall documentation is sparse: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps


// "$susy" is the name of our default layout, which we can use for non-responsive sites.
// Assume defaults from above and override here
// **
// ** For static layouts, leave container: auto and set the column-width instead.
// ** Susy will calculate the outer container width for you. Dividing columns out of a
// ** set container width would leave you open to sub-pixel errors, and no one likes sub-pixel errors.
$susy: (
  container: auto,
  container-position: center,
  columns: 16,
  gutters: .25,
  column-width: 60px,
  global-box-sizing: border-box,
  debug: (
//    image: show,       // <-- comment this line to hide debug grid
//    output: overlay,   // <-- turns on the show/hide debug grid toggle
    toggle: bottom left
  )
);

// For Responsive, we can override the default $susy map with <layout> maps named for each target breakpoint.
$mobile: (
  columns: 6,
  gutters: 0.125,
  column-width: false
);

$tablet: (
  columns: 24,
  gutters: 0,
  column-width: false
);

$desktop: (
  columns: 24,
  gutters: 0.25,
  column-width: 32px
);
// Define <breakpoint> (relative to default or exact pixel)
$tablet_breakpoint: 768px;
$desktop_breakpoint: 1024px;

// Now, with the susy-breakpoint() mixin, we can call a new layout for new context at a specific breakpiont.
/*
  @include susy-breakpoint(<breakpoint>, <layout>) {
      ...any css, just like normal....
      NOTE: span-columns() is different from Susy 1
      span() refers to the last-set number of layout columns as the context,
      which is why we need to define the container(<layout>) for our .wrapper at each new breakpoint.
      (reference: http://susydocs.oddbird.net/en/latest/shorthand/#span)
      Oh, and span-columns(3 omega) is now span(last 3)
   }
 */

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  @include container($mobile);
  padding-right: 1em;
  padding-left: 1em;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    @include container($tablet);
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    @include container($desktop);
    padding-right: 0;
    padding-left: 0;
  }
}

header {
}

#navigation {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    @include span(8 of 24);
    overflow-y: scroll;
  }
}

main {
  width: calc(100vw - 5em);
  height: calc(100vh - 50px);
  padding-left: 2.5em;
  padding-right: 2.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  .extend-outside {
    margin-left: -1em;
    margin-right: -1em;
    @include transition(margin 0.2s ease-in-out);
  }
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    @include span(last 14 of 24);
    padding-left: span(1 of 24);
    padding-right: span(1 of 24);
    .extend-outside {
      margin-left: -1 * span(1 of 24);
      margin-right: -1 * span(1 of 24);
    }
  }
}

#navigation.open + main .extend-outside {
  margin-left: 0;
}

/* Full Page (used in dashboard)*/
.full-page {
  main {
    width: calc(100vw - 2em);
    margin-right: auto;
    margin-left: auto;
    padding-right: 1em;
    padding-left: 1em;
    float: none;
  }
  section.profile {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    main {
      min-width: calc(800px - 4em);
      width: calc(100vw - 4em);
      padding-right: 2em;
      padding-left: 2em;
    }
  }
}
