// ------------------------------
// TYPOGRAPHY
// - Any thing dealing with type setting should go here
// - Base styling for high level DOM text elements
// - Main textual reusable items
// ------------------------------

$font-color:          color(swatch-one);
$header-color:        color(swatch-one);

$link-color:          color(swatch-two);
$link-hover-color:    color(swatch-two, med-light);
$link-active-color:   color(swatch-two, med-light);
$link-visited-color:  color(swatch-two);

/* Graceful degredations from http://cssfontstack.com */
// Use cssfontstack to build the best possible font stack (if top font unavailable, next font doesn't burn your eyes)
// load fonts using _fontloader.js.
$base:  'Open Sans', Verdana, Geneva, sans-serif; //400 and 700(bold) weights only, no italic
$serif: Garamond, "Times New Roman", serif; //400 weight, italic style only

// Fade in webfonts to avoid FOUC
$fade-time : .5s;
@mixin de-fouc {
  opacity: 0;
  transition: opacity ease-in $fade-time;
  .wf-active & {
    opacity: 1;
  }
  .wf-inactive &  {
    opacity: 1;
  }
}

// Using FontAwesome? fade in those when loaded (with _fontloader.js)
*[class*="fa-"] {
    @include de-fouc;
    display: inline-block;
    width: 0.875em;
    .wf-active &:not(.fa-fw, .fa-li) {
      width: auto;
    }
}

//Using google's text efficts? face those in when loaded (with _fontloader.js)
*[class*="font-effects"] {
  opacity: 0;
  transition: opacity ease $fade-time;
  .wf-gfx-loaded {
    opacity: 1;
  }
}

// combining $serif and $base stacks with weight and style for easy includes
@mixin serif {
  font-family: $serif;
  font-weight: 400;
  @include de-fouc;
}

@mixin serif-semi-bold {
  font-family: $serif;
  font-weight: 500;
  @include de-fouc;
}

@mixin base {
  font-family: $base;
  font-weight: 400;
  @include de-fouc;
}

@mixin base-bold {
  font-family: $base;
  font-weight: 700;
  @include de-fouc;
}

@mixin base-extra-bold {
  font-family: $base;
  font-weight: 900;
  @include de-fouc;
}

$rhythm-unit         : 'em';

$base-font-family    : $base;
$base-font-weight    : 400;
$base-font-size      : 16px;

$heading-font-family : $serif;

body {
  $base-line-height: 1.25;
  color: $font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    $base-line-height: 1.375;
    line-height: $base-line-height;
  }
}

body, h1, h2, h3, h4, h5, h6 {
  // this rule sets the x-height to cap-height ratio to lookfor for a decent fall-back font—it's not widely supported
  font-size-adjust: 0.58;
}

// Utility classes so that elements of one type can be styled like another.
// This is useful for semantics. For example:
//    <aside>
//      <section>
//        <h2 class="h4">Section header</h2>
//        …
//      </section>
//    </aside>
// An <h2> may be most correct for validation, but we want it to look like an <h4>

.link {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: $link-visited-color;
  }
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &.blue {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: color(swatch-one);
    }
    
  }
}
.italic { font-style: italic; }
.bold   { font-weight: 700; }

.h1 {
  @include base-bold;
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    font-size: 3em;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
    line-height: 1.05;
  }
}
.h2 {
  @include base-bold;
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
.h3 {
  @include base-bold;
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
  @include susy-breakpoint($desktop_breakpoint, $desktop) {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
.h4 {
  @include base-bold;
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
  @include susy-breakpoint($tablet_breakpoint, $tablet) {
    line-height: 1.22222222;
    /* (22px / 18px) */
  }
}
.h5 {
  @include base-bold;
  font-size: 1.0625em;
  /* 1.0625x body copy size = 17px */
  line-height: 1.11111111;
}
.h6 {
  @include base-bold;
  font-size: 1em;
  line-height: 1.11111111;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend .bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.block-margins { margin: 1em 0; }

// extend the utilities into the elements' base styles
// NOTE: edit the utility styles
a { @extend .link; }

i, em { @extend .italic; }
b, strong { @extend .bold; }

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

p, ul, ol, pre, blockquote { @extend .block-margins; }

blockquote { margin-left: 1em; margin-right: 1em; }

p {
  @include base;
}

/* overrides */
h1 {
  .student & {
    text-align: center;
    font-size: 21px;
    line-height: 22px;
    &.bigger {
      @include base-extra-bold;
      font-size: 26px;
      line-height: 27px;
      margin-top: 16px;
    }
    @include susy-breakpoint($tablet_breakpoint, $tablet) {
    }
  }
}
h2 {
  .student & {
    text-align: center;
    font-size: 19px;
    &.status {
      color: color(swatch-two);
    }
    @include susy-breakpoint($tablet_breakpoint, $tablet) {
    }
  }
}

.intro-text {
  font-size: 1.5em;
  line-height: 1.375;
}

#cform h1.de-style {
  @extend h1;
  color: $font-color;
}
#cform h2.de-style {
  @extend h2;
  color: $font-color;
}
#cform h3.de-style {
  @extend h3;
  color: $font-color;
}
#cform p.de-style {
  @extend p;
  color: $font-color;
}
