// ------------------------------
// UTILITIES
// - Quick reusable helper classes
// ------------------------------
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin: 0;
  }
}
@mixin list-inline($margin : 0.25em) {
  li {
    display: inline-block;
    float: left;
    &:not(:first-child) {
      margin-left: $margin;
    }
    &:not(:last-child) {
      margin-right: $margin;
    }
  }
}
.list-inline {
  @include list-inline;
}
@mixin hide-text {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent
}

.blockify { display: block !important; }
.inlinify { display: inline-block !important; }

// true clearfix (overflow hidden)
.clearfix { @include clearfix; }

// clearfix with overflow visible - used for absolute elements inside
.pie-clearfix { @include pie-clearfix; }

.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

.float-left { @include float-left; }
img.float-left { margin-right: gutter(); }
.float-right { @include float-right; }
img.float-right { margin-left: gutter(); }
.no-float { float: none !important; }

.headroom { @include margin-leader(2); }
.less-headroom { @include margin-leader(1); }
.more-less-headroom { @include margin-leader(0.5); }

.legroom { @include margin-trailer(2); }
.less-legroom { @include margin-trailer(1); }
.more-less-legroom { @include margin-trailer(0.5); }
.no-legroom { margin-bottom: 0; }

.no-margin { margin: 0 !important; }
.no-border { border: none !important; }

.center { text-align: center !important; }

.hide-text {
  @include hide-text;
}
//Hide php notices
.err-wrap{display:none;}

ul.reset {
  @include list-reset;
}

/* striped table */
table.striped {
  $headerColor  : color(white);
  $rowColor     : transparentize(color(gray) , 0.95);
  $rowAltColor  : transparentize(color(swatch-one) , 0.95);
  $footerColor  : transparentize(color(swatch-one), 0.9);
  $borderColor  : transparentize(color(white), 0.5);
  $borderWidth  : 1px;
  $borderRadius : 2px;
  $padding      : 0.25em;
  
  border: $borderWidth solid $headerColor;
  border-radius: $borderRadius;
  width: 100%;
  th {
    font-weight: 600;
    background-color : $headerColor;
    border-right: $borderWidth solid $rowColor;
    &:first-child {
      border-radius: ($borderRadius - $borderWidth) 0 0 0;
    }
    &:last-child {
      border-radius: 0 ($borderRadius - $borderWidth) 0 0;
    }
  }
  td {
    background-color: $rowColor;
    border-right: $borderWidth solid $borderColor;
    border-bottom: $borderWidth solid $borderColor;
  }
  th,
  td {
    padding: $padding;
    vertical-align: top;
    &:last-child {
      border-right: none;
    }
    &.no-padding {
      padding: 0;
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      &:nth-child(even) {
        td {
          background-color: $rowAltColor;
        }
      }
    }
  }
  tfoot {
    td {
      background-color: $footerColor;
      border-top: $borderWidth solid $borderColor;
      border-bottom: none;
      text-align: center;
      font-size: 0.8em;
      &:first-child {
        border-radius: 0 0 0 ($borderRadius - $borderWidth);
      }
      &:last-child {
        border-radius: 0 0 ($borderRadius - $borderWidth) 0;
      }
      &:only-child {
        border-radius: 0 0 ($borderRadius - $borderWidth) ($borderRadius - $borderWidth);
      }
    }
  }
  caption {
    position: absolute;
    left: -9000px;
  }
}

div.debug {
  font-size: 10px;
  position: relative;
  background-color: $red;
  border: 1px dotted $red;
  color: $white;
  padding: 2em 1em 1em 1em;
  border-radius: 1em;
  opacity: 0.5;
  @include transition(opacity ease-in-out 1s);
  &:hover {
    opacity: 1;
  }
  &::before {
    content: 'debug';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    color: $red;
    background-color: transparentize($white, 0.1);
    border: 1px dotted $white;
    border-radius: 1em 1em 0 0;
    padding: 0.25em 1em;
  }
}
ul.pagination{
  margin:.5em 0;
  height:25px;
  a{
    border:1px solid $swatch-one;
    background-color:none;
    padding:3px 5px;
    text-decoration:none;
    &:hover{
      background-color:$swatch-one;
      color:$white;
    }
    &.page-previous{
      padding:2px 6px;
    }
    &.page-next{
      padding:2px 6px;
    }
    &.active{
      background-color:$swatch-one;
      color:$white;
    }
  }
}
