{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}
{if   group_id == "1"
  OR  group_id =="6"
}
  {!-- {redirect="dashboard"} --}
{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="6"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="profile"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="1"
}
  {if total_results >= 1}
    {!-- {redirect="letters"} --}

  {/if}
{/exp:channel:entries}

<div style="position: fixed; top: 0; right: 0; left: 0; height: 2rem; background-color: orange; line-height: 2rem; color: white; text-shadow: 1px 1px 1px black; z-index: 99999999; text-align: center;">TEST TEST TEST <b>{site_url}</b></div>

{exp:channel:form
  channel="profile"
  class="validate embedded-labels custom-fields"
  author="CURRENT_USER"
  include_assets="no"
  include_jquery="no"
  status="open"
  return="profile/parent-1/ENTRY_ID"
  error_handling="inline"
  rules:profile_sports="required"
}
<?php
  $currentYear = date("Y");
  $prevYears = $currentYear - 6;
  $nextYears = $currentYear + 16;
?>
  <input name="title"     type="hidden" value="{username} - profile - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="profile-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="open">
  <fieldset>
{!-- First Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_first_name">First Name{if error:profile_first_name}<br>{error:profile_first_name}{/if}</label>
        <input type="text" name="profile_first_name" id="profile_first_name" class="validate[required]">
    </div>

{!-- Last Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_last_name">Last Name{if error:profile_last_name}<br>{error:profile_last_name}{/if}</label>
        <input type="text" name="profile_last_name" id="profile_last_name" class="validate[required]">
    </div>

{!-- Profile Picture --}
    <div class="group pulse-on-focus file">
      <input type="hidden" name="profile_photo_directory" value="9">
      <input type="file" id="profile_photo" name="profile_photo" class="inputfile">
      <label for="profile_photo" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Profile Photo</span>{if error} <span class="error">{error}</span>{/if}</label>
    </div>

{!-- Social Media Handles --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_social_media_handles">Social Media Handles (<i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i> <i class="fa fa-facebook-official"></i>&hellip;){if error:profile_social_media_handles}<br>{error:profile_social_media_handles}{/if}</label>
        <input type="text" name="profile_social_media_handles" id="profile_social_media_handles">
    </div>

{!-- Date of Birth --}
    <div class="group pulse-on-focus date embedded-label sized half">
      <?php
        $ageMin = $currentYear - 7;
        $ageMax = $currentYear - 21;
      ?>
      <label for="profile_date_of_birth">Date of Birth{if error:profile_date_of_birth}<br>{error:profile_date_of_birth}{/if}</label>
      <input type="text" name="profile_date_of_birth" id="profile_date_of_birth" class="validate[required]" max="{current_time format="%m-%d"}-<?php echo $ageMax; ?>" min="{current_time format="%m-%d"}-<?php echo $ageMin; ?>" {if profile_date_of_birth}value="{profile_date_of_birth}"{/if}>
    </div>

{!-- Phone --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_phone">Your Phone Number{if error:profile_phone}<br>{error:profile_phone}{/if}</label>
        <input type="tel" name="profile_phone" id="profile_phone" class="validate[required]">
    </div>

  </fieldset>

  <fieldset class="headroom">
    <legend>School Information</legend>
{!-- School Name --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_school_name">School Name{if error:profile_school_name}<br>{error:profile_school_name}{/if}</label>
        <input type="text" name="profile_school_name" id="profile_school_name">
    </div>

{!-- Coach's email --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_coach_email">Coach&rsquo;s Email{if error:profile_coach_email}<br>{error:profile_coach_email}{/if}</label>
        <input type="email" name="profile_coach_email" id="profile_coach_email">
    </div>

{!-- Graduation Year --}
    <div class="group pulse-on-focus select sized new-row">
      <label for="profile_graduation_year">Graduation Year</label>
      <select name="profile_graduation_year" id="profile_graduation_year" class="validate[required]" data-prompt-target="profile_graduation_year_chosen" data-placeholder="Choose Your Graduation Year">
        <option value="">Chose your graduation year</option>
      <?php 
        $i = $prevYears;
        while ($i <= $nextYears)
          {
      ?>
          <option value="<?php echo $i; ?>" <?php if ($i == $currentYear) { echo ' selected '; }; ?> ><?php echo $i; ?></option>
      <?php 
            $i++;
          } 
      ?>
      </select>
    </div>

{!-- Sports --}
    <div class="group pulse-on-focus select sized new-row">
      <label for="profile_sports">Sport{if error:profile_sports}<br>{error:profile_sports}{/if}</label>
      <select name="profile_sports" id="profile_sports" data-prompt-target="profile_sports_chosen" data-placeholder="Choose your sport" class="validate[required]">
        <option value="">Chose your sport</option>
{options:profile_sports}
        <option value="{option_value}"{selected}>{option_name}</option>
{/options:profile_sports}
      </select>
    </div>

  </fieldset>

{!-- PARENTS MOVED TO NEXT PAGE --}

{!--profile_traveling_alone_or_with_ --}
  <fieldset class="headroom">
    <legend>Do you prefer to travel alone or bring family members with you (this option can be changed later)?</legend>
    <div class="group radio inline pulse-on-focus">
      <input id="profile_traveling_alone_or_with_-1" type="radio" name="profile_traveling_alone_or_with_" value="Alone" required>
      <label for="profile_traveling_alone_or_with_-1">Alone</label>&emsp;
      <input id="profile_traveling_alone_or_with_-2" type="radio" name="profile_traveling_alone_or_with_" value="With Family" required>
      <label for="profile_traveling_alone_or_with_-2">With Family</label>
    </div>
  </fieldset>


  <fieldset class="headroom">
    <legend>{label:profile_personal_information}</legend>
    <div class="group pulse-on-focus textarea">
      <label for="profile_personal_information" class="blockify more-less-legroom">{instructions:profile_personal_information}</label>
      {field:profile_personal_information}
    </div>
  </fieldset>

    <div class="group button-box no-margin">
        <button type="submit" class="button">Continue to Next Page</button>
    </div>
{/exp:channel:form}
{!-- Custom Script --}
<div class="debug">
  <div id="ajax-content"></div>
</div>
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('#cform');

    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');
    sawtours.loadChosen('#profile_graduation_year, #profile_sports');
    sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');

    $('#profile_date_of_birth').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      defaultDate: '{current_time format="%m/%d"}/<?php echo $ageMax; ?>',
      scrollInput: false
    });

//put this in success when done testing

    form.on('submit', function (e) {
        var dataSet = form.serialize();

        e.preventDefault();

        $.post(
            form.attr("ACTION"),  dataSet, function() {
            }).fail(function () {
                if (window.console) {
                    console.log('it did\'t go in');
                }
            }).done(function () {
            // SUCCESS
                if ($('#profile_coach_email').val() != '') {
                  var email = $('#profile_coach_email').val(),
                      gr_name = $('#profile_school_name').val() + ' ' + $('#profile_sports').val() + ' Coach',
                      campaignID = 'dpRp',
                      returnURL  = '{site_url}/profile/parent-1/';
                  sawtours.grAPI(campaignID, encodeURIComponent(gr_name), email, returnURL);
                  // var formURL = 'http://www.mail.studentathleteworld.com/add_subscriber.html',
                  //     gr_name = $('#profile_school_name').val() + ' ' + $('#profile_sports').val() + ' Coach',
                  //     gr_email = $('#profile_coach_email').val(),
                  //     token      = 'dpRp', // (hsclubcoaches_) {!-- Get the token at: http://www.mail.studentathleteworld.com/campaign_list.html --}
                  //     returnURL  = '{site_url}/profile/parent-1/';
                  //
                  // form.attr('ACTION', formURL);
                  // form.append('<input type="hidden" name="name" value="' + gr_name + '">');
                  // form.append('<input type="hidden" name="email" value="' + gr_email + '">');
                  // form.append('<input type="hidden" name="campaign_token" value="' + token + '">');
                  // form.append('<input type="hidden" name="thankyou_url" value="' + returnURL + '">');
                  //
                  // form[0].submit();
                }
                if ($('#profile_coach_email').val() == '') {
                  window.location = '/profile/parent-1';
                }
            });
    });


  });

</script>
{/layout:set}
{!-- END Custom Script --}