{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="217"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}
{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  entry_id="{segment_3}"
}
{if profile_photo}
      <img class="profile-pic" src="{profile_photo:profile_page}" width="auto" height="200" alt="{profile_first_name} {profile_last_name}'s profile pic">
{/if}
{/exp:channel:entries}

{exp:channel:form
  channel="profile"
  class="validate embedded-labels custom-fields"
  entry_id="{segment_3}"
  include_assets="no"
  include_jquery="no"
  status="not allstatuses"
  return="profile/thank-you"
  error_handling="inline"
  rules:profile_sports="required"
}
<?php
  $currentYear = date("Y");
  $gradYear    = '{profile_graduation_year}';
  $prevYears = $currentYear - 6;
  $nextYears = $currentYear + 16;
?>
  <input name="title"     type="hidden" value="{title}">
  <input name="url_title" type="hidden" value="{url_title}">

  <fieldset>
{!-- Profile Picture --}
    <div class="group pulse-on-focus file">
      <input type="hidden" name="profile_photo_directory" value="9">
      <input type="hidden" name="profile_photo_hidden_file" value="">
      <input type="file" id="profile_photo" name="profile_photo" class="inputfile">
      <label for="profile_photo" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Upload Profile Photo</span>{if error} <span class="error">{error}</span>{/if}{if profile_photo}<span class="fa fa-2x fa-times-circle remove-file" title="Remove file" style="float: right; margin-top: -4px;"></span>{/if}</label>
    </div>

{!-- First Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_first_name">First Name{if error:profile_first_name}<br>{error:profile_first_name}{/if}</label>
        <input type="text" name="profile_first_name" id="profile_first_name" class="validate[required]" {if profile_first_name}value="{profile_first_name}"{/if}>
    </div>

{!-- Last Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_last_name">Last Name{if error:profile_last_name}<br>{error:profile_last_name}{/if}</label>
        <input type="text" name="profile_last_name" id="profile_last_name" class="validate[required]"{if profile_last_name}value="{profile_last_name}"{/if}>
    </div>

{!-- Social Media Handles --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_social_media_handles">Social Media Handles (<i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i> <i class="fa fa-facebook-official"></i>&hellip;){if error:profile_social_media_handles}<br>{error:profile_social_media_handles}{/if}</label>
        <input type="text" name="profile_social_media_handles" id="profile_social_media_handles">
    </div>

{!-- Date of Birth --}
    <div class="group pulse-on-focus date embedded-label sized half">
      <?php
        $ageMin = $currentYear - 7;
        $ageMax = $currentYear - 21;
      ?>
      <label for="profile_date_of_birth">Date of Birth{if error:profile_date_of_birth}<br>{error:profile_date_of_birth}{/if}</label>
      <input type="text" name="profile_date_of_birth" id="profile_date_of_birth" class="validate[required]" placeholder="mm/dd/YYYY" max="{current_time format="%m/%d"}/<?php echo $ageMax; ?>" min="{current_time format="%m/%d"}/<?php echo $ageMin; ?>" {if profile_date_of_birth}value="{profile_date_of_birth}"{/if}>
    </div>

{!-- Phone --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_phone">Your Phone Number{if error:profile_phone}<br>{error:profile_phone}{/if}</label>
        <input type="tel" name="profile_phone" id="profile_phone" class="validate[required]" {if profile_phone}value="{profile_phone}"{/if}>
    </div>

  </fieldset>

  <fieldset class="headroom">
    <legend>School Information</legend>
{!-- School Name --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_school_name">School Name{if error:profile_school_name}<br>{error:profile_school_name}{/if}</label>
        <input type="text" name="profile_school_name" id="profile_school_name"{if profile_school_name} value="{profile_school_name}"{/if}>
    </div>

{!-- Coach's email --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_coach_email">Coach&rsquo;s Email{if error:profile_coach_email}<br>{error:profile_coach_email}{/if}</label>
        <input type="email" name="profile_coach_email" id="profile_coach_email"{if profile_coach_email} value="{profile_coach_email}"{/if}>
    </div>

{!-- Graduation Year --}
    <div class="group pulse-on-focus select sized half new-row">
      <label for="profile_graduation_year">High School Graduation Year</label>
      <select name="profile_graduation_year" id="profile_graduation_year" class="validate[required]">
        <option value="">Chose your graduation year</option>
      <?php 
        $i = $prevYears;
        while ($i <= $nextYears)
          {
      ?>
        <option value="<?php echo $i; ?>"
          <?php
            if ($i == (int)$gradYear) {
              echo 'selected' ;
            } ;
          ?>
        ><?php echo $i ; ?></option>
      <?php 
            $i++;
          } 
      ?>
      </select>
    </div>

{!-- Sports --}
    <?php
      $sport = '{profile_sports}';
    ?>
    <div class="group pulse-on-focus select sized half">
      <label for="profile_sports">Sport{if error:profile_sports}<br>{error:profile_sports}{/if}</label>
      <input type="hidden" name="profile_sports" value="{profile_sports}">
      <select name="profile_sports" id="profile_sports" class="validate[required]">
        <option value="">Chose your sport</option>
{options:profile_sports}
        <option value="{option_value}"
          <?php
            if ($sport == '{option_name}') {
              echo 'selected="selected"' ;
            };
          ?>
        >{option_name}</option>
{/options:profile_sports}
      </select>
    </div>
  </fieldset>

  <fieldset class="headroom">
    <legend>Parent or Guardian (#1)</legend>
{!-- Parent 1 Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_parent_1_name">Name{if error:profile_parent_1_name}<br>{error:profile_parent_1_name}{/if}</label>
        <input type="text" name="profile_parent_1_name" id="profile_parent_1_name" class="validate[required]"{if profile_parent_1_name}value="{profile_parent_1_name}"{/if}>
    </div>

{!-- Parent 1 Email --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_1_email">Email{if error:profile_parent_1_email}<br>{error:profile_parent_1_email}{/if}</label>
        <input type="email" name="profile_parent_1_email" id="profile_parent_1_email" class="validate[required,custom[email]]"{if profile_parent_1_email}value="{profile_parent_1_email}"{/if}>
    </div>

{!-- Parent 1 Phone --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_1_phone">Phone #{if error:profile_parent_1_phone}<br>{error:profile_parent_1_phone}{/if}</label>
        <input type="tel" name="profile_parent_1_phone" id="profile_parent_1_phone" class="validate[required]"{if profile_parent_1_phone}value="{profile_parent_1_phone}"{/if}>
    </div>
  </fieldset>

  <fieldset class="headroom">
    <legend>Parent or Guardian (#2)</legend>
{!-- Parent 2 Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_parent_2_name">Name{if error:profile_parent_2_name}<br>{error:profile_parent_2_name}{/if}</label>
        <input type="text" name="profile_parent_2_name" id="profile_parent_2_name"{if profile_parent_2_name}value="{profile_parent_2_name}"{/if}>
    </div>

{!-- Parent 2 Email --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_2_email">Email{if error:profile_parent_2_email}<br>{error:profile_parent_2_email}{/if}</label>
        <input type="email" name="profile_parent_2_email" id="profile_parent_2_email"{if profile_parent_2_email}value="{profile_parent_2_email}"{/if}>
    </div>

{!-- Parent 2 Phone --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_2_phone">Phone #{if error:profile_parent_2_phone}<br>{error:profile_parent_2_phone}{/if}</label>
        <input type="tel" name="profile_parent_2_phone" id="profile_parent_2_phone"{if profile_parent_2_phone}value="{profile_parent_2_phone}"{/if}>
    </div>
  </fieldset>


{!--profile_traveling_alone_or_with_ --}
  <fieldset class="headroom">
    <legend>Do you prefer to travel alone or bring family members with you (this option can be changed later)?</legend>
    <div class="group radio inline pulse-on-focus">
      <input id="profile_traveling_alone_or_with_-1" type="radio" name="profile_traveling_alone_or_with_" class="validate[required]" value="Alone" {if profile_traveling_alone_or_with_ == 'Alone'}checked{/if}>
      <label for="profile_traveling_alone_or_with_-1">Alone</label>&emsp;
      <input id="profile_traveling_alone_or_with_-2" type="radio" name="profile_traveling_alone_or_with_" class="validate[required]" value="With Family" {if profile_traveling_alone_or_with_ == 'With Family'}checked{/if}>
      <label for="profile_traveling_alone_or_with_-2">With Family</label>
    </div>
  </fieldset>


  <fieldset>
    <div class="group pulse-on-focus textarea">
      <label for="profile_personal_information" class="blockify more-less-legroom">Please provide us with an honest description of yourself, both personally and athletically. From a personal standpoint, help us to learn the type of person you are as well as why you are a good fit to represent both STUDENTathleteWorld and the USA in international athletic competition. As an athlete, be sure to give us your most current height, weight, statistics, and position (if applicable). If you have earned any honors or awards along the way, include those too. Keep in mind that it is critical for us to have as much talent as possible, but recruiting young men and women who are well-rounded with high character is of utmost importance!</label>
      {!-- {field:profile_personal_information} --}
      <textarea rows="6" name="profile_personal_information">{profile_personal_information}</textarea>
    </div>
  </fieldset>

    <div class="group button-box no-margin">
        <button type="submit" class="button small">Update Profile</button>
    </div>


{/exp:channel:form}
{!-- Custom Script --}
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');

    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.loadFancyBox('a.fancybox');
    sawtours.formatPhoneNumbers(form, '_phone');
    // sawtours.loadChosen('#profile_graduation_year, #profile_sports');
    sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');

    $('#profile_date_of_birth').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      defaultDate: '{current_time format="%m/%d"}/<?php echo $ageMax; ?>',
      scrollInput: false
    });

  });
  
</script>
{/layout:set}
{!-- END Custom Script --}