{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}
{if   group_id == "1"
  OR  group_id =="6"
}
  {redirect="dashboard"}
{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="6"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="profile"\
  status="not allstatuses"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="1"
}
{if no_results}{redirect="{segment_1}"}{/if}
{if !segment_3}{redirect="{segment_1}/{segment_2}/{entry_id}"}{/if}
{if segment_3 AND profile_parent_2_name != ''}{redirect="letters"}{/if}
{/exp:channel:entries}

{if segment_3}
{exp:channel:form
  channel="profile"
  class="validate embedded-labels custom-fields"
  author="CURRENT_USER"
  entry_id="{last_segment}"
  include_assets="no"
  include_jquery="no"
  status="not allstatuses"
  return="profile/thank-you"
  error_handling="inline"
}
  <fieldset>
    <legend>Parent or Guardian (#2)</legend>
{!-- Parent 2 Name --}
    <div class="group pulse-on-focus embedded-label">
        <label for="profile_parent_2_name">Name{if error:profile_parent_2_name}<br>{error:profile_parent_2_name}{/if}</label>
        <input type="text" name="profile_parent_2_name" id="profile_parent_2_name">
    </div>

{!-- Parent 2 Email --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_2_email">Email{if error:profile_parent_2_email}<br>{error:profile_parent_2_email}{/if}</label>
        <input type="email" name="profile_parent_2_email" id="profile_parent_2_email">
    </div>

{!-- Parent 2 Phone --}
    <div class="group pulse-on-focus embedded-label sized half">
        <label for="profile_parent_2_phone">Phone #{if error:profile_parent_2_phone}<br>{error:profile_parent_2_phone}{/if}</label>
        <input type="tel" name="profile_parent_2_phone" id="profile_parent_2_phone">
    </div>
  </fieldset>
    <div class="group button-box no-margin">
        <button type="submit" class="button small">Add Parent or Guardian #2</button>
    </div>
{/exp:channel:form}
<hr class="bar">
<p>Parent or Guardian #2 is optional. You may leave these blank.</p>
      <div class="bottom-button-wrapper"><a href="/profile/thank-you" class="button bottom-button" data-button-style="Next">Skip and Continue</a></div>

  <div id="ajax-content"></div>

{!-- Custom Script --}
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('#cform');

    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');


    form.on('submit', function (e) {
        var dataSet = form.serialize(),
            email = $('#profile_parent_2_email').val(),
            sib_name = $('#profile_parent_2_name').val(),
            phone = $('#profile_parent_2_phone').val(),
            listID = 8,
            returnURL  = '{site_url}/profile/thank-you',
            empties = 0;

        e.preventDefault();

        $('[class*="required"]').each(function () {
          if ($(this).val() == '') {
            empties += 1;
          }
        });

        if (email != '' && empties == 0) {
            $.post(
                form.attr("ACTION"),  dataSet, function() {
            }).fail(function () {
                if (window.console) {
                    console.log('it did\'t go in');
                }
            }).done(function () {
            // SUCCESS
                form.find('[type="submit"]').prepend('<i class="fa fa-spinner fa-pulse"></i> ');
                sawtours.sendInBlueAPI(listID, encodeURIComponent(sib_name), email, returnURL, encodeURIComponent(phone));
            });
        }
        if (email == '' && empties == 0) {
            form[0].submit();
        }
    });

  });

</script>
{/layout:set}
{!-- END Custom Script --}
{/if}