{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="217"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}
{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  entry_id="{segment_3}"
  status="not allstatuses"
}
{if profile_photo}
      <img class="profile-pic" src="{profile_photo:profile_page}" width="auto" height="200" alt="{profile_first_name} {profile_last_name}'s profile pic">
{/if}
    <div class="group button-box no-margin">
        <a href="/profile/edit/{entry_id}" class="button small">Edit Profile</a>
    </div>

<h3 class="h2">{profile_first_name} {profile_last_name}</h3>
<p><strong>Social Media Handles</strong> (<i class="fa fa-twitter"></i> <i class="fa fa-instagram"></i> <i class="fa fa-facebook-official"></i>&hellip;): {profile_social_media_handles}{if !profile_social_media_handles}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>Date of Birth</strong>: {profile_date_of_birth}</p>
<p><strong>Your Phone</strong>: {profile_phone}</p>

<h3>School Information</h3>
<p><strong>School Name</strong>: {profile_school_name}{if profile_school_name == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>Coach&rsquo;s Email</strong>: {profile_coach_email}{if profile_coach_email == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>High School Graduation Year</strong>: {profile_graduation_year}{if profile_graduation_year == ''}<small><i>(none provided)</i></small>{/if}</p>
<p><strong>Sport</strong>: {profile_sports}{if profile_sports == ''}<small><i>(none provided)</i></small>{/if}</p>

<h3>Parent{if profile_parent_2_name !=''}s{/if} or Guardian{if profile_parent_2_name !=''}s{/if}</h3>
<ol>
  <li>
    <p><strong>Name</strong>: {profile_parent_1_name}</p>
    <p><strong>Email</strong>: {profile_parent_1_email}</p>
    <p><strong>Phone</strong>: {profile_parent_1_phone}</p>
  </li>
{if profile_parent_2_name !=''}
  <li>
    <p><strong>Name</strong>: {profile_parent_2_name}</p>
    <p><strong>Email</strong>: {profile_parent_2_email}</p>
    <p><strong>Phone</strong>: {profile_parent_2_phone}</p>
  </li>
{/if}
</ol>

<p>Traveling {profile_traveling_alone_or_with_}</p>
<h3>Personal Information</h3>
<div>{profile_personal_information}</div>

{/exp:channel:entries}
{!-- Custom Script --}
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate'),
        inputs = document.querySelectorAll( '.inputfile' ),
        removeFile = $('span.remove-file');

    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.loadFancyBox('a.fancybox');
    sawtours.formatPhoneNumbers(form, '_phone');
    sawtours.loadChosen('#profile_graduation_year, #profile_sports');

    $('#profile_date_of_birth').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      defaultDate: '{current_time format="%m/%d"}/<?php echo $ageMax; ?>'
    });

    Array.prototype.forEach.call( inputs, function( input ) {
      var label   = input.nextElementSibling,
          labelVal = label.innerHTML;

      input.addEventListener( 'change', function( e )
      {
        var fileName = '';
        if( this.files && this.files.length > 1 )
          fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
        else
          fileName = e.target.value.split( '\\' ).pop();

        if( fileName ) {
            if (fileName.indexOf('\"') > 0 || fileName.indexOf('\'') > 0) {
                alert('No quotes in the file name, please.');
                label.querySelector( 'span.filename' ).innerHTML = '<span class="fa fa-exclamation-triangle"></span>&emsp;Bad File Name&emsp;<span class="fa fa-exclamation-triangle"></span>';
            } else {
                label.querySelector( 'span.filename' ).innerHTML = fileName + '&emsp;<span class="fa fa-file"></span>';
            }
        } else {
            label.innerHTML = labelVal;
        }
      });
    });

  });
  
</script>
{/layout:set}
{!-- END Custom Script --}