// USAGE:
// Use these styles for the css transition and intereactivity only.
// Set color, size, fonts, etc in other site-specific selector
//    <div class="flipper">
//      <a class="flipper-box" href="XXX">
//        <div class="flipper-front">
//            <span class="flipper-front-icon fa fa-XXXXXX"></span>
//            <span class="flipper-front-headline">Headline</span>
//        </div>
//        <div class="flipper-back">
//          <span class="flipper-back-headline">Headline</span>
//          <p class="flipper-back-text">Flipper Back Text.</p>
//          <span class="flipper-back-more">Learn More</span>
//        </div>
//      </a>
//    </div>

 $perspective : 1000px; 
      $z_icon : 40px;
  $z_headline : 30px;
      $z_text : 1px;
      $z_more : 40px;
$z_more-hover : 0px;
$shadow_color : rgb(0,0,0,0.3);

@-webkit-keyframes flipper-onespin {
  from { transform: rotateY(  0deg); }
   25% { transform: rotateY(-10deg) scale(0.9); }
   75% { transform: rotateY( 10deg) scale(1.1); }
    to { transform: rotateY(  0deg); }
}
        @keyframes flipper-onespin {
  from { transform: rotateY(  0deg); }
   25% { transform: rotateY(-10deg) scale(0.9); }
   75% { transform: rotateY( 10deg) scale(1.1); }
    to { transform: rotateY(  0deg); }
}

.flipper {
  display: inline-block;
  -webkit-perspective:$perspective;
     -moz-perspective:$perspective;
      -ms-perspective:$perspective;
          perspective:$perspective;

  .flipper-box {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;

    transition:all .6s ease;

    -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
            transform: rotateY(0deg);

    -webkit-animation:flipper-onespin 1s ease 3.0s;
            animation:flipper-onespin 1s ease 3.0s;
  }

  .flipper-front,
  .flipper-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;

    transition:all .6s ease;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }

  .flipper-front {
    z-index: 200;

    .flipper-front-icon {
      display: block;
      -webkit-transform: translateZ($z_icon);
          -ms-transform: translateZ($z_icon);
              transform: translateZ($z_icon);
      text-shadow: 0px 0px $z_icon $shadow_color;
    }
    .flipper-front-headline {
      display: block;
      -webkit-transform: translateZ($z_headline);
          -ms-transform: translateZ($z_headline);
              transform: translateZ($z_headline);
      text-shadow: 0px 0px $z_headline $shadow_color;
    }
  }

  .flipper-back {
    z-index: 0;
    -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);

    .flipper-back-headline {
      -webkit-transform: translateZ($z_headline);
          -ms-transform: translateZ($z_headline);
              transform: translateZ($z_headline);
      text-shadow: 0px 0px $z_headline $shadow_color;
    }

    .flipper-back-text {
      -webkit-transform: translateZ($z_text);
          -ms-transform: translateZ($z_text);
              transform: translateZ($z_text);
      text-shadow: 0px 0px $z_text $shadow_color;
    }

    .flipper-back-more {
      -webkit-transform: translateZ($z_more);
          -ms-transform: translateZ($z_more);
              transform: translateZ($z_more);
      text-shadow: 0px 0px $z_more $shadow_color;

      transition: all .3s ease;
      &:hover {
        //hover state on the more link
        -webkit-transform: translateZ($z_more-hover) scale(.95);
            -ms-transform: translateZ($z_more-hover) scale(.95);
                transform: translateZ($z_more-hover) scale(.95);
        text-shadow: 0px 0px $z_more $shadow_color;
      }
    }
  }

  &:hover {
    .flipper-front {
      -webkit-transform: rotateY(-180deg);
          -ms-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
    .flipper-back {
      -webkit-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
}