{layout="layouts/html"}

{exp:channel:entries
  entry_id="{layout:entry_id}"
  dynamic="no"
  disable="categories|category_fields|member_data|pagination"
}

{!-- Metadata --}
{if layout:meta-title == ""}
{!-- For any detail page, we want to use {title} but NOT of the pagetext --}
{layout:set name="meta-title"}{if pagetext_meta_title}{pagetext_meta_title} | {/if}{if !pagetext_meta_title}{title} | {/if}{site_name}{/layout:set}
{layout:set name="meta-description"}{pagetext_meta_description}{/layout:set}
{/if}
{!-- END Metadata --}

{!-- Open Graph --}
{layout:set name="open-graph"}
{!-- title/type/url --}
  <meta property="og:title" content="{if pagetext_meta_title}{pagetext_meta_title} | {/if}{if !pagetext_meta_title}{title} | {/if}{site_name}">
  <meta property="og:type"  content="website">
  <meta property="og:url"   content="{site_url}">
{!-- END title/type/url --}

{!-- image(s) --}
  <meta property="og:image" content="/images/site_images/logo@2x.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="86">
{!-- END image(s) --}

{!-- description  --}
  <meta property="og:description" content="{pagetext_meta_description}">
{!-- END description --}

{!-- twitter --}
  <meta name="twitter:card"  content="summary" />
  <meta name="twitter:title" content="{if pagetext_meta_title}{pagetext_meta_title} | {/if}{if !pagetext_meta_title}{title} | {/if}{site_name}" />
  <meta name="twitter:description" content="{pagetext_meta_description}">
{!-- END twitter --}
{/layout:set}
{!-- END Open Graph --}

      <h1{if segment_1 == 'login' OR segment_1 == 'register' OR !segment_1} class="bigger"{/if}>{pagetext_heading}</h1>

{!-- Big Icon --}
{if pagetext_pageicon != 'None'}
      <div class="page-icon
        {if pagetext_pageicon == "Hold"     }hold      "><i class="fa fa-hand-paper-o"></i>{/if}
        {if pagetext_pageicon == "Check"    }check     "><i class="fa fa-check-circle-o"></i>{/if}
        {if pagetext_pageicon == "Thumbs Up"}thumbs-up "><i class="fa fa-thumbs-o-up"></i>{/if}
      </div>
{/if}
{!-- END Big Icon --}

{!-- Status Block --}
{if layout:special_message}<h2 class="status">{layout:special_message}</h2>{/if}
{pagetext_statusblocks}
      {if pagetext_statusblocks:subheading}<h2 class="status">{pagetext_statusblocks:subheading}</h2>{/if}
      <div class="block-text status">{pagetext_statusblocks:text}</div>
{/pagetext_statusblocks}
{!-- END Status Block --}
{!-- Page Embed --}
  {if pagetext_pagetip}
  <div class="block-text status">{pagetext_pagetip}</div>
  {/if}
{!-- END Page Embed --}
{!-- Instruction Block --}
{pagetext_instructionblocks}
      {if pagetext_instructionblocks:subheading}<h2 class="instruction">{pagetext_instructionblocks:subheading}</h2>{/if}
      <div class="block-text instruction">{pagetext_instructionblocks:text}</div>
{/pagetext_instructionblocks}
{!-- END Instruction Block --}

{!--Layout Contents --}
{layout:contents}
{!-- END Layout Contents --}

{!-- Bottom Button --}
{if layout:next_page}
{pagetext_bottombutton}
      <div class="bottom-button-wrapper"><a href="{layout:next_page}" class="button bottom-button" data-button-style="{pagetext_bottombutton:style}">{pagetext_bottombutton:text}</a></div>
{/pagetext_bottombutton}
{!-- END Bottom Button --}
{/if}
{/exp:channel:entries}
