{exp:channel:entries
  channel="passport"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  url_title="{embed:passport_url_title}"
  author_id="{embed:author_id}"
  status="not closed"
}
{if no_results}
<p><a href="/passport/guest/{embed:guest_url_title}" title="click to enter this guest's passport info"><i class="fa fa-fw fa-pencil-square-o"></i>&emsp;Enter {embed:first_name}'s passport information</a></p>
{/if}
{if count == total_results}
<p><i class="fa fa-fw fa-check-square-o"></i>&emsp;Passport info saved</p>
{/if}
{/exp:channel:entries}