{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="105"}

{!-- Guest List --}
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  dynamic="no"
  status="not closed"
  parse="inward"
}
{!-- No Guests? redirect to thank you --}
{if no_results}{redirect="passport/thank-you"}{/if}
{!-- One guest? go straight to their edit page --}
{!-- {if total_results == 1}{redirect="passport/guest/{url_title}"}{/if} --}
{if count == "1"}
<div class="block-text">
  <h3>Guest{if total_results > 1}s{/if}</h3>
  <ul class="reset">{/if}
    <li>
      <h5>{guest_first_name}{if guest_middle_initial}, {guest_middle_initial}.{/if} {guest_last_name}</h5>
{!--
     Guest passports are created with
       url_title : guest-passport-{guest_first_name}-{guest_last_name}
       author : CURRENT_USER
     Embed returns link to enter passport or good status


     Passport Check --}
<?php
  $firstName   = '{guest_first_name}';
  $firstNameClean = preg_replace('/\s?[\W]?\s/', '-', $firstName);
  $lastName    = '{guest_last_name}';
  $lastNameClean = preg_replace('/\s?[\W]?\s/', '-', $lastName);
?>

      {embed="passport/_passport-check" author_id="{author_id}" first_name="{guest_first_name}" passport_url_title="guest-passport-<?php echo $firstNameClean . '-' . $lastNameClean; ?>" guest_url_title="{url_title}"}

{!-- END Passport Check --}

    </li>
{if count == total_results}
  </ul>
</div>{/if}  
{/exp:channel:entries}



{!-- END Guest List --}

{!-- We need to count and make sure that all their guests have saved passport information
      So, TEST (# of passports - 1 ) == # of guests
      redirect to thank-you on true
--}
{if '{exp:channel:entries
  channel="passport"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  status="not closed"
  author_id="CURRENT_USER"
}{if count == total_results}{total_results}{/if}{/exp:channel:entries}' - 1 == '{exp:channel:entries
  channel="guests|guest_athletes"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  status="not closed"
  author_id="CURRENT_USER"
}{if count == total_results}{total_results}{/if}{/exp:channel:entries}'}{!-- pagetext entry_id --}
{layout:set name="entry_id" value="106"}
{!-- END pagetext entry_id --}
{!-- Next Page Link --}
{layout:set name="next_page" value="/passport"}
{!-- END Next Page Link --}
{/if}
<div class="clear bottom-button-wrapper pie-clearfix">
  <a class="button bottom-button float-right" href="/passport">Review Submitted Passport Information</a>
</div>