{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="105"}

{!-- This template uses segment 3 to edit specific guest entries (by grabbing the guest channel entry)
      Since all the embeds in the form don't seem to work when there is a segment_3,
      I need to use PHP to save variables from other channels here.

   PHP Variables --}
{if segment_3}
<?php
  $tripID      = "{embed='embed/_assigned-trip' field_name='entry_id'}";
?>
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  status="not closed"
  url_title="{segment_3}"
}
<?php

  $email       = '{guest_email}';
  $firstName   = '{guest_first_name}';
  $firstNameClean = preg_replace('/\s?[\W]?\s/', '-', $firstName);
  $middleName  = '{guest_middle_initial}';
  $lastName    = '{guest_last_name}';
  $lastNameClean = preg_replace('/\s?[\W]?\s/', '-', $lastName);
  $country     = '{guest_country_of_citizenship}';
  $dateOfBirth = '{guest_date_of_birth}';
  $passportNmb = '{guest_passport_number}';
  $passportExp = '{guest_passport_expiration_date}';
  $gender      = '{guest_gender}';
  $phone       = '{guest_phone}';

?>
{/exp:channel:entries}
{/if}
{!-- END PHP Variables --}

{!-- form --}
<hr>
{exp:channel:form
  channel="passport"
  class="validate embedded-labels custom-fields passport"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="passport/guests"
}
  <input name="title"     type="hidden" value="{username} - guest passport - <?php echo $firstName . ' ' . $lastName; ?>">
  <input name="url_title" type="hidden" value="guest-passport-<?php echo $firstName . '-' . $lastNameClean; ?>">
  <input name="status"    type="hidden" value="passport-acquired">
  <input name="passport_trip[data][]" type="hidden" value="<?php echo $tripID ; ?>">

{field_errors}{error}{/field_errors}
{!-- Name --}
  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_first_name">First Name{if error:passport_first_name}<br>{error:passport_first_name}{/if}</label>
    <input type="text" name="passport_first_name" id="passport_first_name" value="{passport_first_name}" class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_middle_name">Middle Name{if error:passport_middle_name}<br>{error:passport_middle_name}{/if}</label>
    <input type="text" name="passport_middle_name" id="passport_middle_name" value="{passport_middle_name}">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_last_name">Last Name{if error:passport_last_name}<br>{error:passport_last_name}{/if}</label>
    <input type="text" name="passport_last_name" id="passport_last_name" value="{passport_last_name}" class="validate[required]">
  </div>

{!-- Date of Birth --}
  <div class="group pulse-on-focus date embedded-label sized half new-row">
    <label for="passport_date_of_birth">Date of Birth{if error:passport_date_of_birth}<br>{error:passport_date_of_birth}{/if}</label>
    <input type="text" name="passport_date_of_birth" id="passport_date_of_birth" value="{passport_date_of_birth}" class="validate[required]">
  </div>

{!-- Phone --}
  <div class="group pulse-on-focus embedded-label sized half">
      <label for="passport_phone">Phone #{if error:passport_phone}<br>{error:passport_phone}{/if}</label>
      <input type="text" name="passport_phone" id="passport_phone" value="{passport_phone}" class="validate[required]">
  </div>

<hr class="clear">
<h5>Important Passport Information: </h5>

{!-- Country --}
  <div class="group pulse-on-focus date embedded-label sized third new-row">
    <label for="passport_country_of_citizenship">Country{if error:passport_country_of_citizenship}<br>{error:passport_country_of_citizenship}{/if}</label>
    <input type="text" name="passport_country_of_citizenship" id="passport_country_of_citizenship" {if passport_country_of_citizenship}value="{passport_country_of_citizenship}"{/if}class="validate[required]">
  </div>

{!-- Passport # --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_number">Passport #{if error:passport_number}<br>{error:passport_number}{/if}</label>
      <input type="text" name="passport_number" id="passport_number" {if passport_number}value="{passport_number}"{/if}class="validate[required]">
  </div>

{!-- Passport Exp Date --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_expiration_date"><abbr title="Expiration">Exp.</abbr> Date{if error:passport_expiration_date}<br>{error:passport_expiration_date}{/if}</label>
      <input type="text" name="passport_expiration_date" id="passport_expiration_date" {if passport_expiration_date}value="{passport_expiration_date}"{/if}class="validate[required]">
  </div>

{!-- Gender --}
  <div class="group pulse-on-focus radio sized new-row">
    <h5 class="inlinify">Gender:&emsp;</h5>
    <input id="passport_gender-1" type="radio" name="passport_gender" value="Male" class="validate[required]" {if passport_gender == 'Male'}selected{/if}>
    <label for="passport_gender-1">Male</label>&emsp;&emsp;&emsp;
    <input id="passport_gender-2" type="radio" name="passport_gender" value="Female" class="validate[required]" {if passport_gender == 'Female'}selected{/if}>
    <label for="passport_gender-2">Female</label>
  </div>


  <div class="clear bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button bottom-button large float-right" data-button-style="Save">Save <?php echo $firstName . '\'s'; ?> Passport Information</button>
  </div>
{/exp:channel:form}
{!-- END form --}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');

    form.find('input[name="url_title"]').val(form.find('input[name="url_title"]').val().replace(' ', '-'));

    $('input[name*="_date"]').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      startDate:'{current_time format="%m/%d/1995"}',
      defaultDate:'{current_time format="%m/%d/1995"}'
    });
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}