{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="104"}

{exp:channel:entries
  channel="passport"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  require_entry="yes"
  author_id="CURRENT_USER"
  status="not closed"
}
{if total_results > 0}{redirect="passport/view"}{/if}
{/exp:channel:entries}

{!--Visible form, used if passport data is available --}
{exp:channel:form
  channel="passport"
  class="validate embedded-labels custom-fields passport"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="passport/guests"
}
  <input name="title"     type="hidden" value="{username} - passport - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="passport-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="passport-acquired">
  <input name="passport_trip[data][]" data-trip-title="{embed='embed/_assigned-trip' field_name='title'}" type="hidden" value="{embed='embed/_assigned-trip' field_name='entry_id'}">

{field_errors}{error}{/field_errors}
{!-- Name --}
  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_first_name">First Name{if error:passport_first_name}<br>{error:passport_first_name}{/if}</label>
    <input type="text" name="passport_first_name" id="passport_first_name" class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_middle_name">Middle Name{if error:passport_middle_name}<br>{error:passport_middle_name}{/if}</label>
    <input type="text" name="passport_middle_name" id="passport_middle_name" class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized third">
    <label for="passport_last_name">Last Name{if error:passport_last_name}<br>{error:passport_last_name}{/if}</label>
    <input type="text" name="passport_last_name" id="passport_last_name" class="validate[required]">
  </div>

{!-- Date of Birth --}
  <div class="group pulse-on-focus date embedded-label sized half new-row">
    <label for="passport_date_of_birth">Date of Birth{if error:passport_date_of_birth}<br>{error:passport_date_of_birth}{/if}</label>
    <input type="text" name="passport_date_of_birth" id="passport_date_of_birth" class="validate[required]" value="{embed='embed/_all-profile-fields' field_name='profile_date_of_birth'}">
  </div>

{!-- Phone --}
  <div class="group pulse-on-focus embedded-label sized half">
      <label for="passport_phone">Phone #{if error:passport_phone}<br>{error:passport_phone}{/if}</label>
      <input type="tel" name="passport_phone" id="passport_phone" class="validate[required]" value="{embed='embed/_all-profile-fields' field_name='profile_phone'}">
  </div>

<hr class="clear">
<h5>Important Passport Information: </h5>

{!-- Country --}
  <div class="group pulse-on-focus date embedded-label sized third new-row">
    <label for="passport_country_of_citizenship">Nationality/Country{if error:passport_country_of_citizenship}<br>{error:passport_country_of_citizenship}{/if}</label>
    <input type="text" name="passport_country_of_citizenship" id="passport_country_of_citizenship" class="validate[required]">
  </div>

{!-- Passport # --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_number">Passport #{if error:passport_number}<br>{error:passport_number}{/if}</label>
      <input type="tel" name="passport_number" id="passport_number" class="validate[required]">
  </div>

{!-- Passport Exp Date --}
  <div class="group pulse-on-focus embedded-label sized third">
      <label for="passport_expiration_date"><abbr title="Expiration">Exp.</abbr> Date{if error:passport_expiration_date}<br>{error:passport_expiration_date}{/if}</label>
      <input type="text" name="passport_expiration_date" id="passport_expiration_date" class="validate[required]">
  </div>

{!-- Gender --}
  <div class="group pulse-on-focus radio sized new-row">
    <h5 class="inlinify">Gender:&emsp;</h5>
    <input id="passport_gender-1" type="radio" name="passport_gender" value="Male" class="validate[required]">
    <label for="passport_gender-1">Male</label>&emsp;&emsp;&emsp;
    <input id="passport_gender-2" type="radio" name="passport_gender" value="Female" class="validate[required]">
    <label for="passport_gender-2">Female</label>
  </div>


  <div class="clear bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button large button-bottom float-right" data-button-style="Save">Save Your Passport Information</button>
  </div>
{/exp:channel:form}

{!-- 'Hidden' form, used to create 'blank' entry for student athlete if info isn't available --}
{exp:channel:form
  channel="passport"
  class="embedded-labels custom-fields passport"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="passport/guests"
}
  <input name="title"     type="hidden" value="{username} - passport - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="passport-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="passport-acquired">
  <input name="passport_trip[data][]" data-trip-title="{embed='embed/_assigned-trip' field_name='title'}" type="hidden" value="{embed='embed/_assigned-trip' field_name='entry_id'}">

{!-- Name --}
  <input type="hidden" name="passport_first_name" value="INCOMPLETE" class="validate[required]">
  <input type="hidden" name="passport_middle_name" value="INCOMPLETE" class="validate[required]">
  <input type="hidden" name="passport_last_name" class="validate[required]" value="INCOMPLETE">
{!-- Date of Birth --}
  <input type="hidden" name="passport_date_of_birth" id="passport_date_of_birth" class="validate[required]" value="{embed='embed/_all-profile-fields' field_name='profile_date_of_birth'}">
{!-- Phone --}
  <input type="hidden" name="passport_phone" id="passport_phone" class="validate[required]" value="{embed='embed/_all-profile-fields' field_name='profile_phone'}">

{!-- Country --}
  <input type="hidden" name="passport_country_of_citizenship" id="passport_country_of_citizenship" class="" value="INCOMPLETE">

{!-- Passport # --}
  <input type="hidden" name="passport_number" id="passport_number" class="" value="INCOMPLETE">

  <div class="clear bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button bottom-button float-right" data-button-style="Next">Skip this step for now</button>
  </div>
{/exp:channel:form}


{!-- Custom Script --}
{layout:set name="custom_script"}
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    $('input[name*="_date"]').datetimepicker({
      timepicker: false,
      format: 'm/d/Y',
      startDate:'{current_time format="%m/%d/1995"}',
      defaultDate:'{current_time format="%m/%d/1995"}'
    });
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}