{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="220"}

{!--Test to see if number of Passports entered equals number of Guests plus SA --}
{exp:channel:entries
  channel="passport"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not Closed"
}
 {if count == 1}
   <?php
     $totalPassports = "{total_results}";
   ?>
 {/if}
{/exp:channel:entries}
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  dynamic="no"
  status="not closed"
}
{if count == 1}
<?php
  $totalGuests = "{total_results}";
?>
{/if}
{/exp:channel:entries}
{!--End Test --}

{!--If Passport count doesn't equal guests plus SA, show alert --}
<?php
  if ($totalPassports < ($totalGuests + 1)) {
?>
  <div>
    <h2 class="status"><span style="font-size:3em;"><i class="fa fa-hand-paper-o"></i> </span>You need to add passport data for guests.</h2>
    <p style="text-align:center;">Scroll down to the "Guest(s)" section below and enter passport information for each guest.</p>
  </div>
<?php
  }
?>
{!--If passport field contains INCOMPLETE show alert --}
{exp:channel:entries
  channel="passport"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not Closed"
  sort="asc"
  orderby="date"
  search:passport_number="INCOMPLETE"
}
  <div>
    <h2 class="status"><span style="font-size:3em;"><i class="fa fa-hand-paper-o"></i> </span>Your Passport information is incomplete.</h2>
    <p style="text-align:center;">Review the submitted passport data and correct as necessary.</p>
  </div>
{/exp:channel:entries}


{!--List Entered Passports --}
{exp:channel:entries
  channel="passport"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not Closed"
  sort="asc"
  orderby="date"
}

<section class="legroom">
  <h2>Passport for {passport_first_name} {passport_last_name}</h2>
  <p><strong>First Name</strong>: {passport_first_name}</p>
  <p><strong>Middle Name</strong>: {passport_middle_name}</p>
  <p><strong>Last Name</strong>: {passport_last_name}</p>
  <p><strong>Date of Birth</strong>: {passport_date_of_birth}</p>
  <p><strong>Phone</strong>: {passport_phone}</p>
  <p><strong>Country</strong>: {passport_country_of_citizenship}</p>
  <p><strong>Passport #</strong>: {passport_number}</p>
  <p><strong>Expiration Date</strong>: {passport_expiration_date}</p>
  <p><strong>Gender</strong>: {passport_gender}</p>
  <div class="button-box">
    <a class="bottom-button button small" href="/passport/edit/{entry_id}">Edit {passport_first_name}&rsquo;s Passport</a>
  </div>
</section>
{if count < total_results}
<hr class="clear">
{/if}
{/exp:channel:entries}


{!--If the number of passports entered doesn't match Guests plus SA, show links to add passports --}
<?php
  if ($totalPassports < ($totalGuests + 1)) {
?>

  {!-- Guest List / Passport links --}
  {exp:channel:entries
    channel="guests|guest_athletes"
    disable="categories|category_fields|member_data|pagination|trackbacks"
    author_id="CURRENT_USER"
    dynamic="no"
    status="not closed"
    parse="inward"
  }
  {!-- No Guests? redirect to thank you --}
  {!-- {if no_results}{redirect="passport/thank-you"}{/if} --}
  {!-- One guest? go straight to their edit page --}
  {!-- {if total_results == 1}{redirect="passport/guest/{url_title}"}{/if} --}
  {if count == "1"}

  <div class="block-text">
    <h3>Guest{if total_results > 1}s{/if}</h3>
    <ul class="reset">{/if}
      <li>
        <h5>{guest_first_name}{if guest_middle_initial}, {guest_middle_initial}.{/if} {guest_last_name}</h5>
  {!--
       Guest passports are created with
         url_title : guest-passport-{guest_first_name}-{guest_last_name}
         author : CURRENT_USER
       Embed returns link to enter passport or good status


       Passport Check --}
  <?php
    $firstName   = '{guest_first_name}';
    $firstNameClean = preg_replace('/\s?[\W]?\s/', '-', $firstName);
    $lastName    = '{guest_last_name}';
    $lastNameClean = preg_replace('/\s?[\W]?\s/', '-', $lastName);
  ?>

        {embed="passport/_passport-check" author_id="{author_id}" first_name="{guest_first_name}" passport_url_title="guest-passport-<?php echo $firstNameClean . '-' . $lastNameClean; ?>" guest_url_title="{url_title}"}

  {!-- END Passport Check --}

      </li>
  {if count == total_results}
    </ul>
  </div>{/if}  
  {/exp:channel:entries}
<?php
  }
?>

{!-- Next Page Link --}
{layout:set name="next_page" value="/resources"}
{!-- END Next Page Link --}
