{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{layout:set name="special_message"}
{!-- <a href="{exp:pdf_press:save_to_pdf path='waiver/print' filename='SAWTours_Contract_Waiver.pdf'}" class="button blue"><i class="fa fa-download"></i>&emsp;Download a PDF<br>(Although you must return here to sign online)</a> --}
<a href="/waiver/print" target="_blank" class="button blue"><i class="fa fa-download"></i>&emsp;Download PDF &amp; Sign Below</a>
{/layout:set}

{exp:channel:entries
  channel="waiver"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
  require_entry="yes"
}
{if no_results}
{layout:set name="entry_id" value="87"}
{/if}
{if total_results >= 1}
{layout:set name="entry_id" value="87"}
{if status == "waiver-signed"}
{redirect="payment"}
{/if}
{/if}
{/exp:channel:entries}

{exp:channel:form
  channel="waiver"
  class="validate custom-fields waiver"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="waiver/thank-you"
}
  <input name="title"     type="hidden" value="{username} - waiver - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="waiver-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="waiver-signed">

  <input type="hidden" id="waiver_signature" name="waiver_signature" {if waiver_signature != ''}value="{waiver_signature}"{/if}>
  <div id="signature"></div>

  <div class="clear bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button bottom-button large float-right" data-button-style="Save">Sign Waiver</button>
  </div>
{/exp:channel:form}


{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.loadSignature(form, '#signature', '#waiver_signature');
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}