{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="219"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- CHANNEL FORM grid type --}
{!-- {exp:channel:entries
  channel="videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="1"
}
  {if total_results >= 1}
    {redirect="phone-assessment"}
  {/if}
{/exp:channel:entries} --}

{exp:channel:form
  channel="videos"
  class="validate custom-fields videos"
  entry_id="{segment_3}"
  include_jquery="no"
  include_assets="yes"
  return="videos/thank-you"
  show_fields="videos_upload_1|videos_upload_2|videos_upload_3|videos_url"
  error_handling="inline"
}
  <input name="title"     type="hidden" value="{title}">
  <input name="url_title" type="hidden" value="{url_title}">
  
{custom_fields}
{if grid}
  <h3 class="de-style">{field_instructions}</h3>
  <div class="group">
    {display_field}
  </div>
{/if}
{/custom_fields}


    <div class="group button-box no-margin">
        <button type="submit" class="button small">Update Videos</button>
    </div>

{/exp:channel:form}

{layout:set name="custom_script"}
<script type="text/javascript">
$(document).ready(function() {
  'use strict';
  var form   = $('#cform');
  sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');
  sawtours.validateURLField('input[name*="col_id_10"]')
  sawtoursDash.showUploadProgress(form, '/videos/thank-you', 'input[type="text"]:not([name*="col_id_12"]), input[type="file"], input[name*="_hidden_file"]');
});

</script>
{/layout:set}
