{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="10"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="letters|videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="2"
}
  {if total_results == 2}
    {redirect="phone-assessment"}
  {/if}
  {if total_results == 1}
    {!-- {if channel_short_name == 'letters'}
      {redirect="letters/view/{entry_id}"}
    {/if} --}
    {if channel_short_name == 'videos'}
      {redirect="letters"}
    {/if}
  {/if}
{/exp:channel:entries}

{exp:channel:form
  channel="videos"
  class="validate custom-fields videos"
  author="CURRENT_USER"
  status="open"
  include_jquery="no"
  include_assets="yes"
  return="videos/thank-you"
  show_fields="videos_upload_1|videos_upload_2|videos_upload_3|videos_url"
  error_handling="inline"
}
  <input name="title"     type="hidden" value="{username} - videos - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="videos-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="open">
{custom_fields}
{if grid}
  <h3 class="de-style">{field_instructions}</h3>
  <div class="group">
    {display_field}
  </div>
{/if}
{/custom_fields}
{!-- 
<span class="h1 blockify center">OR</span>
<fieldset>
  <h3 class="de-style">{instructions:videos_upload_1}</h3>

  <div class="group pulse-on-focus file">
    <input type="hidden" name="videos_upload_1_directory" value="6">
    <input type="file" id="videos_upload_1" name="videos_upload_1" class="inputfile" autocomplete="off">
    <label for="videos_upload_1" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Video #1</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>


  <div class="group pulse-on-focus file">
    <input type="hidden" name="videos_upload_2_directory" value="6">
    <input type="file" id="videos_upload_2" name="videos_upload_2" class="inputfile" autocomplete="off">
    <label for="videos_upload_2" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Video #2</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div>



  <div class="group pulse-on-focus file">
    <input type="hidden" name="videos_upload_3_directory" value="6">
    <input type="file" id="videos_upload_3" name="videos_upload_3" class="inputfile" autocomplete="off">
    <label for="videos_upload_3" class="button"><span class="fa fa-upload"></span> &emsp;<span class="filename">Video #3</span>{if error} <span class="error">{error}</span>{/if}</label>
  </div> 

</fieldset> --}

    <div class="group button-box no-margin">
        <button type="submit" class="button small">Add Videos</button>
    </div>

{/exp:channel:form}

{layout:set name="custom_script"}
<script type="text/javascript">
$(document).ready(function() {
  'use strict';
  var form   = $('#cform');
  sawtours.fileUploadField('.inputfile', '{segment_1}', '{segment_2}');
  sawtours.validateURLField('input[name*="col_id_10"]');
  sawtoursDash.showUploadProgress(form, '/videos/thank-you', 'input[name*="col_id_10"], input[type="file"]');
});

</script>
{/layout:set}
