{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="219"}
{!-- END pagetext entry_id --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{!-- CHANNEL FORM grid type --}
{exp:channel:entries
  channel="videos"
  entry_id="{segment_3}"
}
    <div class="group button-box no-margin">
        <a href="/videos/edit/{entry_id}" class="button small">Edit Videos</a>
    </div>

{if videos_upload_1 OR videos_upload_2 OR videos_upload_3}
<h3>Uploaded videos</h3>
<ul>
  {if videos_upload_1}<li><a href="{videos_upload_1}">{videos_upload_1}</a></li>{/if}
  {if videos_upload_2}<li><a href="{videos_upload_2}">{videos_upload_2}</a></li>{/if}
  {if videos_upload_3}<li><a href="{videos_upload_3}">{videos_upload_3}</a></li>{/if}
</ul>
{/if}

{videos_url}
{if videos_url:row_count == 1}<ul class="reset">{/if}
  {if videos_url:url}<li><a href="{if '{videos_url:url}' ^= 'http'}{videos_url:url}{if:else}//{videos_url:url}{/if}" target="_blank">{videos_url:title}{if !videos_url:title}Video Link {if videos_url:count}#{videos_url:count}{/if}{/if}</a></li>{/if}
{if videos_url:row_count == videos_url:total:rows}</ul>{/if}
{/videos_url}
{/exp:channel:entries}

{!-- Next Page Link --}
{exp:channel:entries
  channel="letters"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  limit="1"
  dynamic="no"
}
    <div class="bottom-button-wrapper headroom"><a href="/phone-assessment" class="button bottom-button" data-button-style="Next">Video Interview</a></div>
{if no_results}
    <div class="bottom-button-wrapper headroom"><a href="/letters" class="button bottom-button" data-button-style="Next">Upload Letters of Recommendation</a></div>
{/if}
{/exp:channel:entries}
