{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}
{exp:channel:entries
  channel="contract"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  require_entry="yes"
  status="not closed"
}
  {if no_results}{redirect="/"}{/if}
{/exp:channel:entries}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="102"}
{!-- END pagetext entry_id --}

{exp:channel:entries
  channel="profile|letters|videos|passport"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  sort="asc"
  orderby="date"
  status="not Closed"
}
<a href="/{channel_short_name}/edit/{entry_id}" class="button blockify"><i class="fa fa-pencil"></i>&emsp;Edit {if channel_short_name != 'passport'}Your{/if}{if channel_short_name == 'passport'}{passport_first_name}&rsquo;s{/if} {channel}&emsp;<i class="fa fa-pencil"></i></a>  
{/exp:channel:entries}
