{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

<div class="block-text">
  {!-- TRIP and athletes--}
{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not closed"
}
{if no_results}You haven't been assigned a trip, yet. Hold tight!{/if}
{layout:set name="entry_id" value="103"}
{contract_trip show_future_entries="yes"}
  <h3><small>You’re headed to<br></small>
    {contract_trip:title}!</h3>
  <h4>These are your flight details</h4>
    {contract_trip:trips_flight_information:table class="striped"}
  <h4>These athletes will be traveling with you:</h3>
  {embed="embed/_tripmates" entry_id="{contract_trip:entry_id}" current_user="{author_id}"}
{/contract_trip}
{/exp:channel:entries}

{!-- Guests --}
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
}
{if count == "1"}
  <h4>These are Your Guests:</h4>
  <ul class="reset">{/if}
    <li>{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name}{if channel *= 'thletes'} <small><i>(Athlete)</i></small>{/if}</li>
{if count == total_results}</ul>
{/if}
{/exp:channel:entries}

{!-- Trips Notes {trips_notes} --}
{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not closed"
}
{contract_trip show_future_entries="yes"}
{if '{contract_trip:trips_notes}' != ''}
  <h3><small>Notes about your trip to<br></small>
    {contract_trip:title}</h3>
    {contract_trip:trips_notes}
{/if}
{/contract_trip}
{/exp:channel:entries}
</div>
