{layout="layouts/interior-page"}

{!-- {if logged_in}{redirect="profile"}{/if} --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="2"}
{!-- END pagetext entry_id --}

{!-- Next Page Link --}
{layout:set name="next_page" value="/"}
{!-- END Next Page Link --}

{!-- Login Form --}
        <div class="error red" style="display:none;">
            <h2 class="error-title"></h2>
            <ul class="error-list"></ul>
        </div>

{exp:simple_registration:form
    class="validate"
    honeypot="screenname"
}
  {!-- Honeypot --}
   <div class="screen-reader">
     <label for="screenname">Don't put anything here <span class="fa fa-asterisk"></span></label>
     <input autocomplete="off" type="text" id="screenname" name="screenname" tabindex="-1">
   </div>
  {!-- END Honeypot --}

  <div class="group pulse-on-focus embedded-label">
      <label for="screen_name">Name</label>
      <input type="text" id="screen_name" name="screen_name" tabindex="1">
  </div>

  <div class="group pulse-on-focus embedded-label">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="validate[required]" tabindex="2">
  </div>

  <div class="group button-box no-margin">
    <input type="submit" value="Register" class="button" onclick="getElementById('spinnerContainer').classList.remove('hide')">
  </div>
{/exp:simple_registration:form}

<hr>
<div class="spinner hide" id="spinnerContainer">
  <img src="/images/site_images/red-loading.gif" />
</div>


<section id="terms" style="display:none;">
  Terms and Conditions
</section>

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('#register_member_form');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    // sawtours.loadFancyBox('a.fancybox');

    form.on('submit', function (e) {
        var dataSet = form.serialize();

        e.preventDefault();

        $('.error').hide();

        $.post(
            $('#register_member_form').attr("ACTION"),  dataSet, function(response) {
                var response_el = $(response);

                // ERROR
                if (response.indexOf('<title>Error</title>') !== -1) {

                    var error_h1 = response_el.find('h1').html();
                    var error_li = response_el.find('ul').html();

                    $('.error-title').html(error_h1);
                    $('.error-list').html(error_li);
                    $('.error').slideDown();

                } else {
                // SUCCESS
                  var email = $('#email').val(),
                      sib_name = $('#screen_name').val(),
                      listID = 8,
                      returnURL  = '{site_url}/register/thank-you';
                      form.find('[type="submit"]').prepend('<i class="fa fa-spinner fa-pulse"></i> ');
                      sawtours.sendInBlueAPI(listID, encodeURIComponent(sib_name), email, returnURL);
                }

            }, "html"
        )
    });

  });
  
</script>
{/layout:set}
{!-- END Custom Script --}

