{exp:channel:form
  channel="profile"
  id="datepicker"
  class="validate center embedded-labels times"
  entry_id="{embed:entry_id}"
  include_assets="no"
  include_jquery="no"
  status="open|closed|archived"
  return="{embed:return}"
}
  <fieldset>
    <legend>You MUST discuss this opportunity with a parent or guardian in full detail before selecting any dates/times below! MAKE SURE THAT YOUR PARENT/GUARDIAN HAS <a href="http://studentathleteworldtours.com">LOOKED OVER OUR WEBSITE</a> AND UNDERSTANDS WHY THE CALL IS TAKING PLACE. If you haven't already, it is imperative that you discuss this opportunity with your parent/guardian in full detail ASAP. The phone call may be cancelled and you may no longer be considered for a spot on one of our teams if these requirements are not met.
      <br><br>
      Using the calendars below, select 3 specific dates/times that you and a parent/guardian are free to schedule. It is MANDATORY that a parent/guardian be present on the call (if you are 18 years old or younger). We have thousands of interested athletes, so DO NOT MISS THIS CALL.</legend>
{!-- Day | Hour | Minute | AM/PM | Time Zone --}
{!-- Conventient Time 1 --}
    <div class="group">
      <label class="h4 blockify">Time #1 <small title="Your Local Time Zone">{current_time format="(%T)"}</small><br><small>{if profile_convenient_time_1}Previously chose: {profile_convenient_time_1}{/if}</small></label>
      <input type="text" name="profile_convenient_time_1"{if profile_convenient_time_1 != ''} value="{profile_convenient_time_1}" autocomplete="off"{/if} id="profile_convenient_time_1" class="validate[required]">
    </div>
    <hr class="bar clear">
{!-- Conventient Time 2 --}
    <div class="group">
      <label class="h4 blockify">Time #2 <small title="Your Local Time Zone">{current_time format="(%T)"}</small><br><small>{if profile_convenient_time_2}Previously chose: {profile_convenient_time_2}{/if}</small></label>
      <input type="text" name="profile_convenient_time_2"{if profile_convenient_time_2 != ''} value="{profile_convenient_time_2}" autocomplete="off"{/if} id="profile_convenient_time_2" class="validate[required]">
    </div>
    <hr class="bar clear">
{!-- Conventient Time 3 --}
    <div class="group">
      <label class="h4 blockify">Time #3 <small title="Your Local Time Zone">{current_time format="(%T)"}</small><br><small>{if profile_convenient_time_3}Previously chose: {profile_convenient_time_3}{/if}</small></label>
      <input type="text" name="profile_convenient_time_3"{if profile_convenient_time_3 != ''} value="{profile_convenient_time_3}" autocomplete="off"{/if} id="profile_convenient_time_3" class="validate[required]">
    </div>
    <hr class="bar clear">
    <div class="group">
      <label for="profile_preferred_phone">Contact Phone&ensp;<sup><i class="fa fa-asterisk"></i></sup>{if error:profile_preferred_phone}<br>{error:profile_preferred_phone}{/if}</label>
      <input type="tel" name="profile_preferred_phone" id="profile_preferred_phone" class="validate[required]" value="{profile_preferred_phone}">
      <small><sup>*</sup>A convenient number for Coach Schueler to call.</small>
    </div>
  </fieldset>


  <div class="group button-box no-margin">
      <button type="submit" class="button small">Select Times</button>
  </div>
  
<script src="/themes/user/default_site/plugins/jquery.datetimepicker.full.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.times'),
        h2   = $('.page-icon').next('h2.status'),
        div  = h2.next('div.block-text');

    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');
    form.attr({
      'encoding':'multipart/form-data',
      'autocomplete' : 'off'
    });
    $('input[name="profile_convenient_time_1"]', form).datetimepicker({
      inline : true,
      step: 15,
      {if profile_convenient_time_1 == ''}value: {current_time ="'%l, %F %n, %Y - %g:%i %A (%T)'"}, defaultTime: {current_time format="'%g:%i'"},{/if}
      {if profile_convenient_time_1 != ''}value : '{profile_convenient_time_1}', defaultTime: {current_time format="'%g:%i'"},{/if}
      format: 'D, F j, Y - g:i A (e)',
      formatTime: 'g:i A',
      minDate : 0,
      startDate: new Date,
      scrollInput: false,
      scrollMonth: false,
      scrollTime: false
    });
    $('input[name="profile_convenient_time_2"]', form).datetimepicker({
      inline : true,
      step: 15,
      {if profile_convenient_time_2 == ''}value: {current_time ="'%l, %F %n, %Y - %g:%i %A (%T)'"}, defaultTime: {current_time format="'%g:%i'"},{/if}
      {if profile_convenient_time_2 != ''}value : '{profile_convenient_time_2}', defaultTime: {current_time format="'%g:%i'"},{/if}
      format: 'D, F j, Y - g:i A (e)',
      formatTime: 'g:i A',
      minDate : 0,
      startDate: new Date,
      scrollInput: false,
      scrollMonth: false,
      scrollTime: false
    });
    $('input[name="profile_convenient_time_3"]', form).datetimepicker({
      inline : true,
      step: 15,
      {if profile_convenient_time_3 == ''}value: {current_time ="'%l, %F %n, %Y - %g:%i %A (%T)'"}, defaultTime: {current_time format="'%g:%i'"},{/if}
      {if profile_convenient_time_3 != ''}value : '{profile_convenient_time_3}', defaultTime: {current_time format="'%g:%i'"},{/if}
      format: 'D, F j, Y - g:i A (e)',
      formatTime: 'g:i A',
      minDate : 0,
      startDate: new Date,
      scrollInput: false,
      scrollMonth: false,
      scrollTime: false
    });

    h2.add(div).insertBefore('div.button-box').css('text-align', 'left')
  });
</script>
{/exp:channel:form}
