{exp:channel:entries
  channel="profile"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="open|closed|archived"
}
{if profile_convenient_time_1 != ''
AND profile_convenient_time_2 != ''
AND profile_convenient_time_3 != ''}
  <p>Keep your schedule clear for the following selected times:</p>
  <ul class="reset">
    <li>{profile_convenient_time_1}</li>
    <li>{profile_convenient_time_2}</li>
    <li>{profile_convenient_time_3}</li>
  </ul>
{/if}
{if profile_convenient_time_1 == ''
AND profile_convenient_time_2 == ''
AND profile_convenient_time_3 == ''}
 <p>Please choose 3 convenient times.<br><a href="/phone-assessment" class="button small">Pick Times</a></p>
{/if}
{if '{embed:interview_time}' != 'no good' AND '{embed:interview_time}' != ''}
 <p>Thank you for picking 3 more times.</p>
{/if}
{if '{embed:interview_time}' == 'no good'}
 <p>Unfortunately, none of your selected times are available. Please select 3 new dates/times using the button below. We look forward to your Phone Assessment!<br><a href="/phone-assessment/reschedule/{author_id}" class="button small">Select Times</a></p>
{/if}
{/exp:channel:entries}
