{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{layout:set name="entry_id" value="12"}

{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="open|interviewed|reschedule"
}

{exp:channel:form
  id="clear-time"
  channel="interview"
  entry_id="{entry_id}"
  return="phone-assessment/time-set"
  status="open|interviewed|reschedule"
}
<input type="hidden" name="interview_time" value="">
<input type="hidden" name="status" value="reschedule">
<button type="submit">reschedule</button>
{/exp:channel:form}

{/exp:channel:entries}

<script type="text/javascript">
  $(document).ready(function() {
    $('#clear-time')[0].submit();
  });
  
</script>