{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="letters|videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  dynamic="no"
} 
  {if no_results}{redirect="/"}{/if}
  {if total_results < 2}{redirect="/"}{/if}
{/exp:channel:entries}

{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="open|interviewed|reschedule"
  require_entry="yes"
}
{!-- no results means no interview yet! --}
{if no_results}

  {layout:set name="entry_id" value="12"}




{/if}
{!-- END no results --}


{if total_results == 1}

  {if status == 'open' OR status == 'reschedule'}

    {layout:set name="entry_id" value="12"}

    {if segment_2 == 'times-set'}
      {layout:set name="special_message"}
{embed="phone-assessment/_convenient-times-list" interview_time="{interview_time}"}
      {/layout:set}
    {/if}

    {layout:set name="special_message"}
      {if !interview_time}
      {embed="phone-assessment/_convenient-times-list"}
      {/if}
      {if interview_time != 'no good' AND interview_time != ''}
        <p>Your interview with Coach Richie Schueler has been scheduled for: <br>
          <span class="h2">{interview_time}</span>.<br>
          Be sure you and your parent(s) or guardian(s) are waiting for the call!</p>
        {!-- {exp:channel:form
          channel="interview"
          entry_id="{entry_id}"
          return="/phone-assessment/reschedule/{member_id}"}
          <input type="hidden" name="interview_time" value="no good">
          <div style="group"><button type="submit" class="button" style="margin: auto">{interview_time} doesn’t work for you?<br><span class="h3">Choose another time</span></button></div>
        {/exp:channel:form} --}
      {/if}

      {if interview_time == 'no good'}
{embed="phone-assessment/_convenient-times-list" interview_time="{interview_time}"}
      {/if}

    {/layout:set}

  {/if}{!-- END if status == 'open' --}

  {if status == 'interviewed'}
    {layout:set name="entry_id" value="13"}
    {layout:set name="next_page" value="/contract"}
    {redirect="contract"}
  {/if}

{/if}{!-- END if total results == 1 --}
{/exp:channel:entries}

