{layout="layouts/interior-page"}

{if logged_in}{redirect="profile"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="18"}
{!-- END pagetext entry_id --}

{!-- Next Page Link --}
{layout:set name="next_page" value="/register"}
{!-- END Next Page Link --}

{!-- Login Form --}
<div class="error red" style="display:none;">
    <h2 class="error-title"></h2>
    <ul class="error-list"></ul>
</div>

{exp:member:reset_password_form
  return="{path=account/password-reset-successful}"
}
  <div class="error red">
    {errors}<p>{error}</p>{/errors}
  </div>
  <div class="group pulse-on-focus embedded-label">
    <label for="password">New Password</label>
    <input type="text" name="password" id="password" class="validate[required]">

  </div>
  <div class="group pulse-on-focus embedded-label">
    <label for="password_confirm">Confirm Password</label>
    <input type="text" name="password_confirm" id="password_confirm" class="validate[required]">
  </div>
  <div class="group{if auto_login} sized half{/if} button-box no-margin">
      <button type="submit" class="button white small">Reset Password</button>
  </div>
{/exp:member:reset_password_form}


{!-- END Login Form --}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    form.on('submit', function (e) {
        e.preventDefault();
        $('.error').hide();

        $.post(
            $('#register_member_form').attr("ACTION"),  $('#register_member_form').serialize(), function(response) {
                var response_el = $(response);

                // ERROR
                if (response.indexOf('<title>Error</title>') !== -1) {

                    var error_h1 = response_el.find('h1').html();
                    var error_li = response_el.find('ul').html();

                    $('.error-title').html(error_h1);
                    $('.error-list').html(error_li);
                    $('.error').slideDown();

                } else {
                    // SUCCESS

                    window.location = '{path=account/password-reset-successful}'
                    // $('#register_member_form').hide();
                    // $('.success').show();
                }

            }, "html"
        )
    });
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}