{layout="layouts/interior-page"}

{if logged_in}{redirect="profile"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="18"}
{!-- END pagetext entry_id --}

{!-- Next Page Link --}
{layout:set name="next_page" value="/register"}
{!-- END Next Page Link --}

{!-- Login Form --}
<div class="error red" style="display:none;">
    <h2 class="error-title"></h2>
    <ul class="error-list"></ul>
</div>


{exp:member:forgot_password_form
  return="account/password-reset-sent"
}
  <fieldset>
    <div class="group pulse-on-focus embedded-label">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="validate[required]">
    </div>
  </fieldset>
    <div class="group button-box no-margin">
        <input type="submit" class="button white small" value="Request Password Reset"/>
    </div>
{/exp:member:forgot_password_form}



{!-- END Login Form --}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('#forgot_password_form');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}