<nav class="dashboard-navigation no-underline">
  <ul>
{!-- All Users --}
    <li class="{if embed:current == 'all-members'}current{/if}"><a href="{path=dashboard}/a" title="All Users">All Users {layout:current-page}</a></li>

{!-- Most Recent --}
    <li class="{if embed:current == 'search'}current{/if}"><a href="{path=dashboard}/search" title="Most Recent">Most Recent </a></li>


{!-- Incomplete --}
    <li class="{if segment_2 *= 'incomplete'}current{/if}"><a href="{path=dashboard/incomplete}" title="Interviews">Incomplete</a></li>

{!-- Old Interviews --}
    <li class="{if segment_2 *= 'interview-list'}current{/if}"><a href="{path=dashboard/interview-list}" title="Interviews">Old Interviews</a></li>

{!-- Not Interviewed --}
    <li class="interviews {if segment_2 *= 'not-interviewed'}current{/if}"><a href="{path=dashboard/not-interviewed}" title="Not Interviewed">Not Interviewed</a></li>

{!-- Contracts --}
    <li class="contracts  {if segment_2 *= 'contract'}current{/if}"><a href="{path=dashboard/contracts}" title="Contracts">Contracts</a></li>

{!-- Waivers (Hidden by request)
    <li class="waivers    {if segment_2 *= 'waiver'}current{/if}"><a href="{path=dashboard/waivers}" title="Waivers / Code of Conduct">Waivers</a></li>
--}
{!-- Payments (Hidden by request)
    <li class="payments   {if segment_2 *= 'payment'}current{/if}"><a href="{path=dashboard/payments}" title="Payments">Payments</a></li>
--}
    
{!-- Trips --}
    <li class="trips      {if segment_2 *= 'trip'}current{/if}"><a href="{path=dashboard/trips}" title="Trips">Trips</a></li>

{!-- Passports --}
    <li class="passports {if segment_2 *= 'passport'}current{/if}"><a href="{path=dashboard/passports}" title="Passports">Passports</a></li>

  </ul>
</nav>
