{!-- ~~~~~~~~~PHP Process Variables~~~~~~~~ --}
<?php
  $lettersVideosCount = 0;
{!-- Letters --}
{exp:channel:entries
  channel="letters"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
}
{if no_results}
  $lettersText   = 'Upload Letters of<br>Recommendation';
  $lettersLink   = '/letters';
  $lettersStatus = 'incomplete';
{/if}
{if count == 1}
  $lettersVideosCount += 1;
  $lettersLink   = '/letters/view/{entry_id}';
  $lettersStatus = 'complete editable';
  $lettersText   = 'View Your Letters of<br>Recommendation';
{/if}
{/exp:channel:entries}

{if segment_1 == 'letters'}
  $lettersLink   = ('{segment_1}/{segment_2}' == 'letters/') ? 'javascript:void(0);' : '/letters';
  $lettersStatus = ('{segment_1}/{segment_2}' == 'letters/thank-you') ? 'complete' : 'in-progress';
  $lettersText   = ('{segment_2}' == 'edit') ? 'Edit Your Letters of<br>Recommendation' : 'Upload Letters of<br>Recommendation';
{/if}

{!-- Videos --}
{exp:channel:entries
  channel="videos"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
}
{if no_results}
  $videosText   = 'Upload Videos';
  $videosLink   = '/videos';
  $videosStatus = 'incomplete';
{/if}
{if count == 1}
  $lettersVideosCount += 1;
  $videosLink   = '/videos/view/{entry_id}';
  $videosStatus = 'complete editable';
  $videosText   = 'View Your Videos';
{/if}

{/exp:channel:entries}

{if segment_1 == 'videos'}
  $videosLink   = ('{segment_1}/{segment_2}' == 'videos/') ? 'javascript:void(0);' : '/videos';
  $videosStatus = ('{segment_1}/{segment_2}' == 'videos/thank-you') ? 'complete' : 'in-progress';
  $videosText   = ('{segment_2}' == 'edit') ? 'Edit Your Videos' : 'Upload Videos';
{/if}
?>

{!-- Phone Assessment (Interview) --}
{exp:channel:entries
  channel="interview"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if no_results}
<?php
  $phoneAssessmentText   = 'Schedule Video Interview';
  $phoneAssessmentLink   = ($lettersVideosCount < 2) ? 'javascript: void(0);' : '/phone-assessment';
  $phoneAssessmentStatus = ("{segment_1}" == "phone-assessment") ? 'in-progress' : 'incomplete';
?>
{/if}
<?php
  $phoneAssessmentLink   = ($lettersVideosCount < 2) ? 'javascript: void(0);' : '/phone-assessment/thank-you';
  $phoneAssessmentText   = 'Video Interview<br>Completed';
  $phoneAssessmentStatus = ($lettersVideosCount < 2) ? 'incomplete' : 'in-progress';
?>
{if status == 'interviewed'}
<?php
  $phoneAssessmentLink   = 'javascript: void(0);';
  $phoneAssessmentStatus = 'complete';  
?>
{/if}
{/exp:channel:entries}

{!-- Contract --}
{exp:channel:entries
  channel="contract"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if no_results}
<?php
  $contractText   = 'Contract / Trip Data';
  $contractLink   = 'javascript: void(0);';
  $contractStatus = ("{segment_1}" == "contract") ? 'in-progress' : 'incomplete';
?>
{/if}
{if status == 'open'}
<?php
  $contractText   = 'Contract / Trip Data';
  $contractLink   = '/contract/' . "{segment_2}/{segment_3}" ;
  $contractStatus = 'in-progress';
?>
{/if}
{if status == 'contract-signed'}
<?php
  $contractText   = 'Contract Signed';
  $contractLink   = 'javascript: void(0);';
  $contractStatus = 'complete';
?>
{/if}
{/exp:channel:entries}

{!-- Waiver --}
{exp:channel:entries
  channel="waiver"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if no_results}
<?php
  $waiverText   = 'Waiver / Code of Conduct';
  $waiverLink   = 'javascript: void(0);';
  $waiverStatus = ("{segment_1}" == "waiver") ? 'in-progress' : 'incomplete';
?>
{/if}
{if segment_1 == 'resources'}
<?php
  $waiverLink   = '/waiver';
?>
{/if}
<?php
  $waiverText   = 'Waiver / Code of Conduct';
  $waiverLink   = 'javascript: void(0);';
  $waiverStatus = 'in-progress';
?>
{if status == 'waiver-signed'}
<?php
  $waiverStatus = 'complete';
?>
{/if}
{/exp:channel:entries}

{!-- Passport no results--}
{exp:channel:entries
  channel="passport"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if no_results}
<?php
  $passportText   = 'Passport Information';
  $passportLink   = 'javascript: void(0);';
  $passportStatus = 'incomplete';
?>
{/if}
{/exp:channel:entries}

{!-- Payment --}
{exp:channel:entries
  channel="payment"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if no_results}
<?php
  $paymentText   = 'Down Payment / Payment';
  $paymentLink   = 'javascript: void(0);';
  $paymentStatus = ("{segment_1}" == "payment") ? 'in-progress' : 'incomplete';
?>
{/if}
{if segment_1 == 'resources'}
<?php
  $paymentLink   = '/payment';
?>
{/if}
<?php
  $paymentText   = 'Down Payment / Payment';
  $paymentLink   = 'javascript: void(0);';
  $paymentStatus = 'in-progress';

  $tripText   = 'Move to Trip';
  $tripLink   = 'javascript: void(0);';
  $tripStatus = 'incomplete';

?>
{if status == 'paid'}
<?php
  $paymentStatus = 'complete';

  $tripText   = 'Move to Trip';
  $tripLink   = '/trip';
  $tripStatus = ("{segment_1}" == "trip") ? 'in-progress' : 'incomplete';

  $passportText   = 'Passport Information';
  $passportLink   = '/passport';
  $passportStatus = 'in-progress';
?>
{/if}
{/exp:channel:entries}

{!-- Passport Acquired --}
{exp:channel:entries
  channel="passport"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
}
{if status == 'passport-acquired'}
<?php
  $passportText   = 'View Passport Information';
  $passportLink   = '/passport/view';
  $passportStatus = 'complete editable';
?>
{/if}
{/exp:channel:entries}

{if segment_1 == 'resources'}
<?php
  $waiverLink = $paymentLink = $passportLink = '/';
?>
{/if}

{!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ --}

    <nav id="navigation" class="main no-underline">
{!-- Register/Login --}
{if logged_out}
      <a class="in-progress" href="{path=register}"     title="Register / Log In">
{/if}
{if logged_in}
      <a class="complete"    href="javascript:void(0);" title="&#10004; Register / Log In">
{/if}
        <span class="text">1. Register / Log In</span>
        <span class="icon"></span>
      </a>

{!-- Build Your Profile --}
{exp:channel:entries
  channel="profile"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not allstatuses"
}
{if no_results}
      <a class="incomplete" href="/profile" title="Build Your Profile">
        <span class="text">2. Build Your Profile</span>
        <span class="icon"></span>
      </a>
{/if}
      <a class="
{if segment_1 == 'profile'}
  {if segment_2 !='thank-you'}in-progress{/if}
  {if segment_2 == 'thank-you'}complete{/if}
{/if}
{if segment_1 != 'profile'}complete{/if}
          editable"
        href="/profile/view/{entry_id}" title="&#10004; View Your Profile">
        <span class="text">2. View Your Profile</span>
        <span class="icon"></span>
      </a>
{/exp:channel:entries}

{!-- Upload Letters of Recommendation --}
      <a class="long-line <?php echo $lettersStatus ; ?>" href="<?php echo $lettersLink ; ?>" title="<?php if ( $lettersStatus == 'complete') { echo '&#10004; '; } echo $lettersText ; ?>">
        <span class="text">3. <?php echo $lettersText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Upload Videos --}
      <a class="<?php echo $videosStatus ; ?>" href="<?php echo $videosLink ; ?>" title="<?php if ( $videosStatus == 'complete') { echo '&#10004; '; } echo $videosText ; ?>">
        <span class="text">4. <?php echo $videosText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Complete Phone Assessment --}
      <a class="long-line <?php echo $phoneAssessmentStatus ; ?>" href="<?php echo $phoneAssessmentLink ; ?>" title="<?php if ( $phoneAssessmentStatus == 'complete') { echo '&#10004; '; } echo $phoneAssessmentText ; ?>">
        <span class="text">5. <?php echo $phoneAssessmentText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Contract --}
      <a class="<?php echo $contractStatus ; ?>" href="<?php echo $contractLink ; ?>" title="<?php if ( $contractStatus == 'complete') { echo '&#10004; '; } echo $contractText ; ?>">
        <span class="text">6. <?php echo $contractText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Waiver / Code of Conduct --}
      <a class="<?php echo $waiverStatus ; ?>" href="<?php echo $waiverLink ; ?>" title="<?php if ( $waiverStatus == 'complete') { echo '&#10004; '; } echo $waiverText ; ?>">
        <span class="text">7. <?php echo $waiverText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Down Payment / Payment --}
      <a class="<?php echo $paymentStatus ; ?>" href="<?php echo $paymentLink ; ?>" title="<?php if ( $paymentStatus == 'complete') { echo '&#10004; '; } echo $paymentText ; ?>">
        <span class="text">8. <?php echo $paymentText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Passport Information --}
      <a class="<?php echo $passportStatus ; ?>" href="<?php echo $passportLink ; ?>" title="<?php if ( $passportStatus == 'complete') { echo '&#10004; '; } echo $passportText ; ?>">
        <span class="text">9. <?php echo $passportText ; ?></span>
        <span class="icon"></span>
      </a>

{!-- Further Actions --}
<?php
  if ($paymentStatus == 'complete') {
?>
      <hr>
      <a class="further-actions" href="{path=resources}" title="Other Resources">Other Resources</a>
      <a class="further-actions" href="{path=resources/trips}"     title="Trips">Trips</a>
<?php
  }
?>
<?php
  if ( $contractStatus == 'complete') {
?>
      <hr>
      <a class="further-actions" href="{path=waiver/print/{logged_in_member_id}}"  target="_blank"   title="View Contract">View Contract</a>
<?php
  }
?>
{!-- Log out --}
      {if logged_in}<hr>
      {exp:user:logout return="/" override_return="/"}<a class="further-actions" href="{url}" title="Other Resources">Log Out</a>{/exp:user:logout}{/if}
    </nav>
