{exp:channel:entries
  channel="trips"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  entry_id="{embed:entry_id}"
  show_future_entries="yes"
  status="not closed"
}
{parents field="contract_trip" author_id="not {embed:current_user}" show_future_entries="yes" status="not closed"}

  {if parents:count == 1}
  <ul class="tripmates reset" data-not="{embed:current_user}">
  {/if}

  {if "{embed:current_user}" != "{parents:author_id}"}
    <li data-member-id="{parents:author_id}" data-payment-status="{embed='dashboard/_member-payment-status' author_id='{parents:author_id}'}">{embed="dashboard/_member-profile-name" author_id="{parents:author_id}"}</li>
  {/if}

  {if parents:count == parents:total_results}
  </ul>
  {/if}
{/parents}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    $(document).ready(function () {
      $('ul.tripmates li[data-payment-status!="paid"]').remove();
    });
  });
</script>
{/exp:channel:entries}
