{exp:channel:form
  channel="guest_athletes"
  class="validate custom-fields guest"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="contract/signature"
  show_fields="not guest_full_name_on_passport|guest_passport_number|guest_country_of_citizenship|guest_date_of_birth"
}
  <input name="title"     type="hidden" value="{username} - Guest Athlete - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="Guest-Athlete-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="open">
{custom_fields}
  <label for="{field_name}">{if required}* {/if}{field_label}</label>
  {field_instructions}
  {formatting_buttons}

  {if textarea}
    <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}">{field_data}</textarea>
  {/if}

  {if rte}
    <textarea id="{field_name}" name="{field_name}" dir="{text_direction}" rows="{rows}" class="WysiHat-field">{field_data}</textarea>
  {/if}

  {if text}
    <input type="text" dir="{text_direction}" id="{field_name}" name="{field_name}" value="{field_data}" maxlength="{maxlength}" size="50">
  {/if}

  {if email_address}
    <input type="email" dir="{text_direction}" id="{field_name}" name="{field_name}" value="{field_data}" maxlength="{maxlength}" size="50">
  {/if}

  {if select}
    <select id="{field_name}" name="{field_name}">
      {options}<option value="{option_value}"{selected}>{option_name}</option>{/options}
    </select>
  {/if}

  {if radio}
    {options}
      <label class="checkbox">{option_value}
        <input type="radio" id="{field_name}" name="{field_name}" value="{option_value}"{checked}>
      </label>
    {/options}
  {/if}

{/custom_fields}

{/exp:channel:form}
