{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not closed"
  limit="1"
}
{contract_trip show_future_entries="yes"}
{contract_trip:trips_add_on_purchases}
{!-- {if contract_trip:trips_add_on_purchases:count == 1}<legend>Add-on Items for {contract_trip:title}</legend>{/if}
<div class="group pulse-on-focus checkboxes">
  <input type="checkbox" data-add-on data-add-on-name="{contract_trip:trips_add_on_purchases:name}" data-add-on-price="{contract_trip:trips_add_on_purchases:item_price}">
  <label>{contract_trip:trips_add_on_purchases:name} (${contract_trip:trips_add_on_purchases:item_price})</label>
</div>
{contract_trip:trips_add_on_purchases} --}
{if contract_trip:trips_add_on_purchases:count == 1}
<h4>Add-on Items for {contract_trip:title}</h4>
<table class="legroom striped">
  <caption>Add-on Items for {contract_trip:title}</caption>
  <thead>
    <tr>
      <th style="width: 80px"></th>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
{/if}
    <tr class="group pulse-on-focus checkboxes" style="display: table-row">
      <td>
{if !contract_trip:trips_add_on_purchases:image_1 AND !contract_trip:trips_add_on_purchases:image_2}
        <label for="addon_{contract_trip:trips_add_on_purchases:count}">
            <img class="styled" src="/apple-touch-icon-144x144.png" width="73" height="73" style="opacity: 0.85" alt="{contract_trip:trips_add_on_purchases:name}">
        </label>&emsp;
{/if}
        {if contract_trip:trips_add_on_purchases:image_1}<a href="{contract_trip:trips_add_on_purchases:image_1:detail}" class="fancybox" rel="gallery_{contract_trip:trips_add_on_purchases:count}">
          <img class="styled" src="{contract_trip:trips_add_on_purchases:image_1:thumbs}" width="73" alt="{contract_trip:trips_add_on_purchases:name}">
        </a>{/if}
        {if contract_trip:trips_add_on_purchases:image_2}<a href="{contract_trip:trips_add_on_purchases:image_2:detail}" class="fancybox" rel="gallery_{contract_trip:trips_add_on_purchases:count}" style="display: none;">
          <img class="styled" src="{contract_trip:trips_add_on_purchases:image_2:thumbs}" width="73" alt="{contract_trip:trips_add_on_purchases:name}">
        </a>{/if}
      </td>
      <td>
        <input id="addon_{contract_trip:trips_add_on_purchases:count}" type="checkbox" data-add-on data-add-on-name="{contract_trip:trips_add_on_purchases:name}" data-add-on-price="{contract_trip:trips_add_on_purchases:item_price}">
        <label for="addon_{contract_trip:trips_add_on_purchases:count}">{contract_trip:trips_add_on_purchases:name}</label>
      </td>
      <td>
        <label for="addon_{contract_trip:trips_add_on_purchases:count}">${contract_trip:trips_add_on_purchases:item_price}</label>
      </td>
    </tr>
{if contract_trip:trips_add_on_purchases:count == contract_trip:trips_add_on_purchases:total_rows}

  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function () {
  sawtours.loadFancyBox('a.fancybox');
  
});
</script>
{/if}
{/contract_trip:trips_add_on_purchases}



{/contract_trip}
{/exp:channel:entries}
