{exp:channel:entries
  channel="interview"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="open|reschedule|interviewed"
}
{interview_trips show_future_entries="yes"}
<option
  value="{interview_trips:entry_id}"
  data-price-payment="{interview_trips:price_payment}"
  data-price-full="{interview_trips:price_full}"
  data-price-add-ons='{
    "add-ons" :
      {
{interview_trips:trips_add_on_purchases}
      "{interview_trips:trips_add_on_purchases:name}" : "{interview_trips:trips_add_on_purchases:item_price}"{if interview_trips:trips_add_on_purchases:count < interview_trips:trips_add_on_purchases:total_rows},{/if}
{/interview_trips:trips_add_on_purchases}
      }
    }'
  >{interview_trips:title}{if '{interview_trips:price_payment}' != '' OR '{interview_trips:price_full}' != ''} - {interview_trips:price_payment} <i>(payment plan)</i>, {interview_trips:price_full} <i>(paid in full)</i>{/if}</option>
{/interview_trips}
{/exp:channel:entries}
