{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="55"}

{exp:channel:entries
  channel="contract"
  disable="custom_fields|categories|category_fields|member_data|pagination|trackbacks"
  author_id="CURRENT_USER"
  dynamic="no"
}
{!-- Next Page Link --}
{!-- {layout:set name="next_page" value="/contract/signature/{url_title}"} --}
{!-- END Next Page Link --}
  <div class="block-text"><p>Done adding Guests or Athletes?<br>
    <a href="{url_title_path=contract/signature}">Continue to Sign Contract.</a></p></div>

{/exp:channel:entries}

{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
}
{if count == "1"}<section class="legroom"><div class="block-text">
  <h4>Added Guest(s):</h4>
  <ul class="reset">{/if}
    <li>{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name}{if channel *= 'thletes'} <small><i>(Athlete)</i></small>{/if}</li>
{if count == total_results}</ul>
</div></section>{/if}
{/exp:channel:entries}

{exp:channel:form
  channel="guests"
  id="guest-form"
  class="validate embedded-labels custom-fields guest"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  dynamic_title="[guest_first_name] [guest_last_name] - Guest of [host]"
  return="contract/next"
}
  <input name="status" type="hidden" value="open">
  <input name="host" type="hidden" value="{username}">
{!-- <fieldset> --}
{!-- Name --}
  <div class="group pulse-on-focus embedded-label">
    <label for="guest_first_name">First Name</label>
    <input type="text" name="guest_first_name" id="guest_first_name" class="validate[required]">
  </div>

  <div class="group pulse-on-focus embedded-label sized quarter">
    <label for="guest_middle_initial" title="Middle Initial">M.I.</label>
    <input type="text" name="guest_middle_initial" id="guest_middle_initial">
  </div>

  <div class="group pulse-on-focus embedded-label sized three-quarter">
    <label for="guest_last_name">Last Name</label>
    <input type="text" name="guest_last_name" id="guest_last_name" class="validate[required]">
  </div>
{!-- </fieldset> --}
{!-- Email Address --}
  <div class="clear-left group pulse-on-focus embedded-label sized half new-row">
    <label for="guest_email">Email Address</label>
    <input type="text" name="guest_email" id="guest_email" class="validate[required,custom[email]]">
  </div>

{!-- Phone # --}
  <div class="group pulse-on-focus embedded-label sized half ">
    <label for="guest_phone">Phone #</label>
    <input type="tel" name="guest_phone" id="guest_phone" class="validate[required]">
  </div>

{!-- Gender --}
  <div class="group pulse-on-focus radio sized new-row">
    <h5 class="inlinify">Gender:&emsp;</h5>
    <input id="passport_gender-1" type="radio" name="passport_gender" value="Male" class="validate[required]" {if passport_gender == 'Male'}selected{/if}>
    <label for="passport_gender-1">Male</label>&emsp;&emsp;&emsp;
    <input id="passport_gender-2" type="radio" name="passport_gender" value="Female" class="validate[required]" {if passport_gender == 'Female'}selected{/if}>
    <label for="passport_gender-2">Female</label>
  </div>

<hr class="clear">
  {!-- <div class="group pulse-on-focus radio">
    <h5>This Additional Traveler is: </h5>
    <input id="channel_id-1" type="radio" name="channel_id" value="11" data-channel-group="guest-athletes" class="validate[required]">
    <label for="channel_id-1">An Athlete on This Trip</label><br>
    <input id="channel_id-2" type="radio" name="channel_id" value="12" data-channel-group="guests" class="validate[required]">
    <label for="channel_id-2">A Guest on This Trip</label>
  </div> --}

<hr class="clear">

{!-- Sport --}
  <div class="group clear pulse-on-focus select sized new-row" data-channel-toggle data-channel-guest-athletes>
    <label for="guest_sport">Sport</label>
    <select name="guest_sport" id="guest_sport" data-placeholder="Choose their sport">
      <option value="">Chose their sport</option>
{options:guest_sport}
      <option value="{option_value}"{selected}>{option_name}</option>
{/options:guest_sport}
    </select>
  </div>

{!-- Relationship to Athlete --}
  <div class="group pulse-on-focus embedded-label new-row clear" data-channel-toggle data-channel-guests>
    <label for="guest_relationship_to_athlete">Relationship to Athlete</label>
    <input type="text" name="guest_relationship_to_athlete" id="guest_relationship_to_athlete">
  </div>

{!-- High School --}
  <div class="group pulse-on-focus embedded-label sized half new-row" data-channel-toggle data-channel-guest-athletes>
    <label for="guest_high_school">High School</label>
    <input type="text" name="guest_high_school" id="guest_high_school">
  </div>

{!-- Graduation Year --}
    <div class="group pulse-on-focus select sized half" data-channel-toggle data-channel-guest-athletes>
      <label for="guest_high_school_graduation_yea">Graduation Year</label>
      <?php
        $currentYear = date("Y");
        $prevYears = $currentYear - 6;
        $nextYears = $currentYear + 16;
      ?>
      <select name="guest_high_school_graduation_yea" id="guest_high_school_graduation_yea" data-placeholder="Choose Their Graduation Year">
      <?php
        $i = $prevYears;
        while ($i <= $nextYears)
          {
      ?>
        <option value="<?php echo $i; ?>" <?php if ($i == $currentYear) { echo ' selected '; }; ?> ><?php echo $i; ?></option>
      <?php
            $i++;
          }
      ?>
      </select>
    </div>

{!-- Mom's Email --}
    <div class="group pulse-on-focus embedded-label sized half new-row clear" data-channel-toggle data-channel-guest-athletes>
        <label for="guest_moms_email">Mom's Email</label>
        <input type="email" name="guest_moms_email" id="guest_moms_email">
    </div>

{!-- Dad's Email --}
    <div class="group pulse-on-focus embedded-label sized half" data-channel-toggle data-channel-guest-athletes>
        <label for="guest_dads_email">Dad's Email</label>
        <input type="email" name="guest_dads_email" id="guest_dads_email">
    </div>

<hr class="clear" data-channel-guest-athletes>

{!-- Mailing Address - -}
    <div class="group pulse-on-focus embedded-label">
        <label for="guest_mailing_address">Guest Mailing Address</label>
        <input type="text" name="guest_mailing_address" id="guest_mailing_address">
    </div>

    <div class="group pulse-on-focus embedded-label sized half">
        <label for="guest_city">Guest City</label>
        <input type="text" name="guest_city" id="guest_city">
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter">
        <label for="guest_state">Guest State</label>
        <input type="text" name="guest_state" id="guest_state">
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter">
        <label for="guest_zip">Guest Zip</label>
        <input type="text" name="guest_zip" id="guest_zip">
    </div>

<hr class="clear">

{!-- Social Media --}
    <div class="group pulse-on-focus embedded-label clear new-row" data-channel-toggle data-channel-guest-athletes>
        <label for="guest_social_media_handles">Guest Social Media Handles</label>
        <input type="text" name="guest_social_media_handles" id="guest_social_media_handles">
    </div>

  <fieldset id="add-on-container">
    {embed="contract/_selected-trip-add-ons"}
  </fieldset>

{!-- Uniform Size --}

  <fieldset class="group pulse-on-focus radio new-row" {!-- data-channel-toggle data-channel-guest-athletes --}>
    <h6>Uniform/Clothing Size</h6>
    {!-- <input  id="guest_uniform_size-0" name="guest_uniform_size" value="" type="radio" checked>
    <label for="guest_uniform_size-0">No Size</label>&emsp;&emsp;<br class="mobile-only"> --}
    <input  id="guest_uniform_size-1" name="guest_uniform_size" value="S" type="radio">
    <label for="guest_uniform_size-1">Small</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="guest_uniform_size-2" name="guest_uniform_size" value="M" type="radio">
    <label for="guest_uniform_size-2">Medium</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="guest_uniform_size-3" name="guest_uniform_size" value="L" type="radio">
    <label for="guest_uniform_size-3">Large</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="guest_uniform_size-4" name="guest_uniform_size" value="XL" type="radio">
    <label for="guest_uniform_size-4">X-Large</label>&emsp;&emsp;
  </fieldset>

{!-- COMMENTING OUT KEEP UNIFORM : moving to grid --}
  {!-- <div class="group pulse-on-focus radio" data-channel-toggle data-channel-guest-athletes>
    <input  id="guest_uniform_keep-1" type="radio" name="guest_uniform_keep" value="Keep">
    <label for="guest_uniform_keep-1">Keep Uniform ($125)</label><br>
    <input  id="guest_uniform_keep-2" type="radio" name="guest_uniform_keep" value="Don't Keep">
    <label for="guest_uniform_keep-2">Don't Keep Uniform</label>
  </div>
 --}
<hr class="clear">

  <div class="bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button large bottom-button blue" data-button-style="Save">Add This Guest</button>
  </div>

<input type="hidden" name="guest_add_ons" id="guest_add_ons">

{/exp:channel:form}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate'),
        guestAddOns = {};
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.formatPhoneNumbers(form, '_phone');
    sawtours.loadChosen('#guest_sport');
    sawtours.loadChosen('select[id*="guest_high_school_graduation_yea"]', {
      width : $('div.half').width() - 12 + 'px'
    });
    sawtours.guestType();

    $('[data-add-on]').on('change', function() {
      $('[data-add-on]:checked').each(function () {
        for (var i = 0; i < $(this).length; i++) {
          var aoname = $(this).data('add-on-name'),
              aoprice = $(this).data('add-on-price');
            guestAddOns[aoname.replace("'", '')] = aoprice.replace("'", '');
        }
      });
      $('#guest_add_ons').val(JSON.stringify(guestAddOns));
      guestAddOns = {};
    });
  });

</script>

{/layout:set}
{!-- END Custom Script --}
