{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  limit="1"
  status="not closed"
  require_entry="yes"
}
{if no_results}
{layout:set name="entry_id" value="14"}
{/if}
{layout:set name="entry_id" value="14"}
{if status != 'contract-signed' AND '{contract_mailing_address}' != ''}
{redirect="contract/next"}
{/if}
{if status == 'contract-signed'}
{redirect="waiver"}
{/if}
{/exp:channel:entries}

{!-- Choose Trip --}

{exp:channel:form
  channel="contract"
  class="validate custom-fields contract embedded-labels"
  author="CURRENT_USER"
  status="open"
  include_assets="no"
  include_jquery="no"
  show_fields="contract_trip|contract_uniform_keep|contract_uniform_size|contract_mailing_address|contract_city|contract_state|contract_zip"
  error_handling="inline"
  return="contract/next"
}
  <input name="title"     type="hidden" value="{username} - contract - {current_time format="%m/%d/%Y"}">
  <input name="url_title" type="hidden" value="contract-member_id_{member_id}-{current_time format="%m_%d_%Y"}">
  <input name="status"    type="hidden" value="open">
{global_errors}{error}{/global_errors}
  <div class="group chosen">
    <label for="contract_trip">Contract Trip</label>
    <select name="contract_trip[data][]" id="contract_trip" autocomplete="off" class="validate[required]">
      <option value="" 
        data-price-payment=""
        data-price-full=""
        data-price-add-ons="">&mdash;Choose a Trip&mdash;</option>
      {embed="contract/_trips" member_id="{member_id}"}
    </select>
  </div>

  <hr>

{!-- Mailing Address --}
    <div class="group pulse-on-focus embedded-label" {!-- data-channel-toggle data-channel-guest-athletes --}>
        <label for="contract_mailing_address">Mailing Address</label>
        <input type="text" name="contract_mailing_address" id="contract_mailing_address" class="validate[required]">
    </div>

    <div class="group pulse-on-focus embedded-label sized half" {!-- data-channel-toggle data-channel-guest-athletes --}>
        <label for="contract_city">City</label>
        <input type="text" name="contract_city" id="contract_city" class="validate[required]">
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter" {!-- data-channel-toggle data-channel-guest-athletes --}>
        <label for="contract_state">State</label>
        <input type="text" name="contract_state" id="contract_state" class="validate[required]">
    </div>

    <div class="group pulse-on-focus embedded-label sized quarter" {!-- data-channel-toggle data-channel-guest-athletes --}>
        <label for="contract_zip">Zip</label>
        <input type="text" name="contract_zip" id="contract_zip" class="validate[required]">
    </div>

<hr class="clear" {!-- data-channel-guest-athletes --}>

  <fieldset id="add-on-container"></fieldset>

  <fieldset class="group pulse-on-focus radio">
    <legend>Uniform/Clothing Size</legend>
    {!-- <input  id="contract_uniform_size-0" name="contract_uniform_size" value="" type="radio" checked>
    <label for="contract_uniform_size-0">No Size</label>&emsp;&emsp;<br class="mobile-only"> --}
    <input  id="contract_uniform_size-1" name="contract_uniform_size" value="S" type="radio">
    <label for="contract_uniform_size-1">Small</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="contract_uniform_size-2" name="contract_uniform_size" value="M" type="radio">
    <label for="contract_uniform_size-2">Medium</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="contract_uniform_size-3" name="contract_uniform_size" value="L" type="radio">
    <label for="contract_uniform_size-3">Large</label>&emsp;&emsp;<br class="mobile-only">
    <input  id="contract_uniform_size-4" name="contract_uniform_size" value="XL" type="radio">
    <label for="contract_uniform_size-4">X-Large</label>&emsp;&emsp;
  </fieldset>

  <input type="hidden" id="contract_price" name="contract_price">

  <div class="bottom-button-wrapper">
    <button type="submit" class="button bottom-button" data-button-style="Next">Continue</button>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    var form = $('form.contract'),
        tripSelect = $('#contract_trip', form),
        addOnContainer = $('#add-on-container', form);

    sawtours.formFocus(form);
    sawtours.loadValidator(form);
    addOnContainer.hide();

    tripSelect.on('change', function () {
      addOnContainer.load('/contract/trips-add-ons/' + $(this).val(), function(response, status, xhr) {
        if (response.indexOf('No add-ons for this trip') < 0) {
          addOnContainer.slideDown(500);
        } else {
          addOnContainer.empty().slideUp(500)
        }
      });
    });

    // form.on('submit', function (e) {
    $('button[type="submit"]').on('click', function (e) {
      var selected = tripSelect.find(':selected'),
          uniformPrice = ($('[name="contract_uniform_keep"]:checked').val() == 'Keep') ? 125 : 0,
          size = $('[name="contract_uniform_size"]:checked').val() || '',
          addOns = $('[data-add-on]:checked'),
          priceField = $('#contract_price'),
          trip = {};

      e.preventDefault();
      trip.entry_id = selected.val();
      trip.price = {
        'full'    : parseInt(selected.attr('data-price-full').replace(/\$|\,/g , '')),
        'payment' : parseInt(selected.attr('data-price-payment').replace(/\$|\,/g , ''))
      };
      trip.uniform = {
        'size'  : size,
        'price' : uniformPrice
      };
      trip.addOn = {};
      addOns.each(function () {
        for (var i = 0; i < addOns.length; i++) {
          var aoname = $(this).data('add-on-name'),
              aoprice = $(this).data('add-on-price');
            trip.addOn[aoname.replace("'", '')] = aoprice.replace("'", '');
        }
      });
      priceField.val(JSON.stringify(trip));
      form.submit();
    });
  });
</script>

{/exp:channel:form}
{!-- END Chose Trip --}

