{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- pagetext entry_id --}
{layout:set name="entry_id" value="216"}
{!-- END pagetext entry_id --}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}


<div class="page-icon hold"><i class="fa fa-users"></i>
</div>
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
}
{if count == "1"}<section class="legroom"><div class="block-text">
  <h4>Added Guest(s):</h4>
  <ul class="reset">{/if}
    <li>{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name}{if channel *= 'thletes'} <small><i>(Athlete)</i></small>{/if}</li>
{if count == total_results}</ul>
</div>
<div class="bottom-button-wrapper">
  <a href="/contract/guests" class="button bottom-button blue" >Add Another Guest</a>
</div>
<hr class="bar">
<p>If you are finished adding guests, click the button below to sign the contract.</p>

<div class="bottom-button-wrapper">
    <a href="{embed='contract/_signature-link'}" class="button bottom-button" data-button-style="Next">No More Guests<br>Continue to Sign</a>
</div>

</section>{/if}
{if no_results}

<div class="bottom-button-wrapper">
  <a href="/contract/guests" class="button bottom-button blue" >Add Guests</a>
</div>
<hr class="bar">
<p>Guests are optional. If you plan to travel alone, continue by clicking the button below.</p>
<div class="bottom-button-wrapper">
    <a href="{embed='contract/_signature-link'}" class="button bottom-button" data-button-style="Next">No Guests<br>Continue to Sign</a>
</div>
{/if}
{/exp:channel:entries}


