{!-- Contract Group | signature page --}
{layout="layouts/interior-page"}
{if logged_out}{redirect="/"}{/if}

{!-- Has Progress Bar?  --}
{layout:set name="progress_bar" value="yes"}
{!-- END Progress Bar --}

{!-- Progress Bar --}
{layout:set name="progress_bar"}
<div class="progress-bar" data-percent="0"></div>
{/layout:set}
{!-- END Progress Bar --}

{layout:set name="entry_id" value="56"}

{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not closed"
}
{if count == "1"}<section class="legroom"><div class="block-text">
  <h4>Added Guest(s):</h4>
  <ul class="reset">{/if}
    <li>{guest_first_name} {if guest_middle_initial}{guest_middle_initial}. {/if}{guest_last_name} <small><i>({channel})</i></small></li>
{if count == total_results}</ul>
  <p>
    <a href="/contract/guests">Want to add addtional Guests or Athletes? Click Here.</a>
  </p>
</div></section>{/if}
{/exp:channel:entries}

{!-- Price Calc --}
<?php
  $guestCount = 0;
  $guestKeepCount = 0;
  $guestKeepCharge = 0;
  $guestAddOnRow = '';
  $guestAddOnCharge = 0;
?>
{exp:channel:entries
  channel="guests|guest_athletes"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  author_id="CURRENT_USER"
  status="not closed"
}
{if channel_short_name == 'guest_athletes'}
  {if "{guest_uniform_keep}" == "Keep"}
<?php
  $guestKeepCount += 1;
?>
  {/if}
{/if}
{if guest_add_ons != ""}
<?php
  $guestAddOnJSON = '{guest_add_ons}';
  $guestAddOn     = json_decode($guestAddOnJSON);
  $guestFirstName = "{guest_first_name}";

  foreach($guestAddOn as $gaoitem => $gaoprice) {
    $guestAddOnRow .= '<tr><td>' . $guestFirstName . '\'s ' . $gaoitem . '</td><td>$' . $gaoprice . '</td></tr>';
    $guestAddOnCharge += $gaoprice;
  }

?>
{/if}
{if count == total_results}
<?php
  $guestCount = "{total_results}";
?>
{/if}
{/exp:channel:entries}

{exp:channel:entries
  channel="contract"
  disable="categories|category_fields|pagination|trackbacks"
  dynamic="no"
  url_title="{last_segment}"
  status="not closed"
  limit="1"
}
<?php
  $priceJSON = '{contract_price}';
  $price     = json_decode($priceJSON);
  $fullPrice    = $price->price->full;
  $paymentPrice = $price->price->payment;
  $uniformPrice = ($price->uniform->price) ? $price->uniform->price : 0;
  $addOns = $price->addOn;
  $addOnCharge = 0;
  foreach($addOns as $item => $aoprice) {
    $addOnRow .= '<tr><td>Your ' . $item . '</td><td>$' . $aoprice . '</td></tr>';
    $addOnCharge += $aoprice;
  }
{contract_trip show_future_entries="yes"}
  $title        = '{contract_trip:title}';
{/contract_trip}
  $totalFull    = ($fullPrice * (1 + $guestCount)) + ($guestKeepCharge + $uniformPrice) + ($guestAddOnCharge) + ($addOnCharge);
  $totalPayment = ($paymentPrice * (1 + $guestCount)) + ($guestKeepCharge + $uniformPrice) + ($guestAddOnCharge) + ($addOnCharge);

  if(!isset($price->guests)) {
	$price->guests = new stdClass;
  }

  $price->guests->count = $guestCount;
  $price->guests->keepCount  = $guestKeepCount;
  $price->guests->keepCharge = $guestKeepCharge;

  $price->price->totalFull = $totalFull;
  $price->price->totalPayment = $totalPayment;

  $contractPrice = json_encode($price);

?>

<section>
  <div class="block-text">
    <h4 class="hide-text">Trip Selected</h4>
    <table width="100%" class="striped">
      <thead>
        <tr>
          <th colspan="2">Trip Selected</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Total</td>
          <th><?php echo '$' . $totalFull . '<br><i>(full)</i><hr class="bar"> $' . $totalPayment . '<br><i>(payment plan)</i>'; ?></th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td><?php echo $title ; ?></td>
          <td><?php echo '$' . $fullPrice . '<br><i>(full)</i><hr class="bar"> $' . $paymentPrice . '<br><i>(payment plan)</i>'; ?></td>
        </tr>
<?php
  if ($uniformPrice > 0) {
?>
        <tr>
          <td>Your Uniform</td>
          <td><?php echo '$' . $uniformPrice ; ?></td>
        </tr>
<?php
  }
  echo $addOnRow;
?>
        <tr>
          <td>Number of Guests</td>
          <td><?php echo $guestCount; ?></td>
        </tr>
<?php
  if ($guestKeepCharge > 0) {
?>
        <tr>
          <td>Guest Uniform</td>
          <td><?php echo '$' . number_format($guestKeepCharge) ; ?></td>
        </tr>
<?php
  }
  echo $guestAddOnRow;
?>
      </tbody>
    </table>
  </div>
</section>

{/exp:channel:entries}
{!-- END Price calc --}

<a href="/waiver/print" target="_blank" class="button blue"><i class="fa fa-download"></i>&emsp;Download PDF &amp; Sign Below</a>


{exp:channel:form
  channel="contract"
  id="contract-sign"
  class="validate custom-fields embedded-labels"
  author="CURRENT_USER"
  url_title="{last_segment}"
  status="open"
  include_assets="no"
  include_jquery="no"
  error_handling="inline"
  return="contract/thank-you"
}
<input type="hidden" name="status" value="contract-signed">
<input type="hidden" id="contract_price" name="contract_price">
<input type="hidden" id="contract_signature" name="contract_signature" {if contract_signature != ''}value="{contract_signature}"{/if}>
<div id="signature"></div>

  <div class="clear bottom-button-wrapper pie-clearfix">
    <button type="submit" class="button bottom-button large float-right" data-button-style="Save">Sign Contract</button>
  </div>


{/exp:channel:form}

{!-- Custom Script --}
{layout:set name="custom_script"}
<script type="text/javascript">
  $(document).ready(function() {
    'use strict';
    var form = $('form.validate'),
    trip = <?php echo $contractPrice; ?>,
    priceField = $('#contract_price');
    sawtours.loadValidator(form);
    sawtours.formFocus(form);
    sawtours.loadSignature(form, '#signature', '#contract_signature');
    priceField.val(JSON.stringify(trip));
  });
  
</script>
{/layout:set}
{!-- END Custom Script --}