{exp:channel:entries
  channel="trips"
  disable="categories|category_fields|member_data|pagination|trackbacks"
  dynamic="no"
  status="not closed"
  entry_id="{segment_3}"
  show_future_entries="yes"
  require_entry="yes"
}
{if no_results}<!-- No add-ons for this trip -->{/if}
{if trips_add_on_purchases:total_rows == 0}<!-- No add-ons for this trip ({title})-->{/if}
{trips_add_on_purchases}
{if trips_add_on_purchases:count == 1}
<h4>Add-on Items for {title}</h4>
<table class="legroom striped">
  <caption>Add-on Items for {title}</caption>
  <thead>
    <tr>
      <th style="width: 80px"></th>
      <th>Item</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
{/if}
    <tr class="group pulse-on-focus checkboxes" style="display: table-row">
      <td>
{if !trips_add_on_purchases:image_1 AND !trips_add_on_purchases:image_2}
        <label for="addon_{trips_add_on_purchases:count}">
            <img class="styled" src="/apple-touch-icon-144x144.png" width="73" height="73" style="opacity: 0.85" alt="{trips_add_on_purchases:name}">
        </label>&emsp;
{/if}
        {if trips_add_on_purchases:image_1}<a href="{trips_add_on_purchases:image_1:detail}" class="fancybox" rel="gallery_{trips_add_on_purchases:count}">
          <img class="styled" src="{trips_add_on_purchases:image_1:thumbs}" width="73" alt="{trips_add_on_purchases:name}">
        </a>{/if}
        {if trips_add_on_purchases:image_2}<a href="{trips_add_on_purchases:image_2:detail}" class="fancybox" rel="gallery_{trips_add_on_purchases:count}" style="display: none;">
          <img class="styled" src="{trips_add_on_purchases:image_2:thumbs}" width="73" alt="{trips_add_on_purchases:name}">
        </a>{/if}
      </td>
      <td>
        <input id="addon_{trips_add_on_purchases:count}" type="checkbox" data-add-on data-add-on-name="{trips_add_on_purchases:name}" data-add-on-price="{trips_add_on_purchases:item_price}">
        <label for="addon_{trips_add_on_purchases:count}">{trips_add_on_purchases:name}</label>
      </td>
      <td>
        <label for="addon_{trips_add_on_purchases:count}">${trips_add_on_purchases:item_price}</label>
      </td>
    </tr>
{if trips_add_on_purchases:count == trips_add_on_purchases:total_rows}
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function () {
  sawtours.loadFancyBox('a.fancybox', '');
  
});
</script>
{/if}
{/trips_add_on_purchases}
{/exp:channel:entries}

{!--      <td style="background-image: url({profile_photo:thumbs}{if !profile_photo}/themes/ee/member/default/images/icon_profile.gif{/if}); background-repeat: no-repeat; background-position: left center; background-size: 73px auto; padding-left: calc(73px + 0.5em);">{profile_last_name}</td>
      <td data-profile-link="{url_title_path=dashboard/profile}" title="View {profile_first_name}'s profile">{profile_first_name}</td> --}
